* {
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;}


body { background-color:#f6f6f6}





#container {
width:1118px; 
margin: 0 auto;
padding:0 16px 0 16px;}


#accordion input {display: none;}


#accordion label {
width:1118px;
cursor: pointer;
display: block;
padding:8px 20px 8px 20px;
z-index: 20; 
font-weight:600; color:#000; font-size:21px;
border-bottom:1px solid #b8b8b8; border-top:1px solid #e7e7e7;
background:url(../images/arrow.png) no-repeat right #e8e8e8;
float:left}

#accordion label:hover { background:url(../images/arrow_r.png) no-repeat right #be1a25; color:#FFF}

#accordion input:checked + label {background:url(../images/arrow_r.png) no-repeat right #be1a25; color:#FFF}




#accordion article { 
width:1118px;
height:0px;
overflow:hidden;
z-index:10; 
float:left}

#accordion article { width:1118px; padding: 40px 0; float:left}


#accordion input:checked ~ article {height: auto;}


#accordion article p { padding: 0em 0;}


.title{ 
width:1118px; 
padding:0 0 15px 0; 
text-align:left;
font-family: 'Roboto', sans-serif; font-weight:400; font-size:30px; color:#1a387f; 
float:left}

.box_00{ 
width:1118px; 
padding:0 0 40px 0; 
text-align:left;
font-family: 'Roboto', sans-serif; font-weight:400; font-size:38px; color:#000000; line-height:47px;
float:left}

.box_01{ 
width:467px; 
padding:0 0px 0 0; 
text-align:left;
font-family: 'Roboto', sans-serif; font-weight:400; font-size:38px; color:#000000; line-height:47px;
float:left}


.box_02{ 
width:621px; 
padding:0px; 
text-align: left; 
float: right; }


.box_03{ 
width:1118px; 
padding:0 0 25px 0; 
text-align: center;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:30px; color:#000000; 
float:left}

.c_verde{ color:#009933;}


.box_04{ 
width:342px; 
margin:0 15px 15px 15px; 
text-align: center; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:19px; color:#333333; line-height:23px;
float:left; }


.box_05{ 
width:1118px; 
padding:25px; 
margin:0 0 25px 0; 
text-align: left; 
background-color:#274daf; border-radius:8px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:18px; color:#fff; line-height:32px;
float:left; }

.b_azul{ 
width:912px; 
height:206px; 
padding:55px 5px 0 55px; 
margin:0 73px 10px 73px; 
text-align: left; 
background: linear-gradient(90deg, #029acc 160px, #f6f6f6 580px, #f6f6f6); 
border-radius:100px;
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:28px;
float:left; }


.b_verde{ 
width:972px; 
height:206px; 
padding:75px 18px 0 55px; 
margin:0 0 10px 73px; 
text-align: left; 
background: linear-gradient(90deg, #f6f6f6 0px, #f6f6f6 300px, #06cd06); 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:28px;
float:left; }

.b_rojo{ 
width:912px; 
height:206px; 
padding:31px 5px 0 55px; 
margin:0 73px 10px 73px; 
text-align: left; 
background: linear-gradient(90deg, #ff6767 160px, #f6f6f6 580px, #f6f6f6); 
border-radius:100px;
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:28px;
float:left; }

.b_naranja{ 
width:972px; 
height:206px; 
padding:50px 18px 0 55px; 
margin:0 0 10px 73px;  
text-align: left; 
background: linear-gradient(90deg, #f6f6f6 0px, #f6f6f6 300px, #ff9b04); 
border-radius:100px;  
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:28px;
float:left; }


.box .box_06{ 
width:1118px; 
padding:0px; 
margin:0 0 40px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#000000; 
float:left; }


.box_07{ 
width:1118px; 
padding:0px; 
text-align: center; 
float:left; }


.box_08{ 
width:1118px; 
padding:0px; 
margin-bottom:70px; 
text-align: center; 
float:left; }

.box_08 .left{ 
width:423px; 
padding:0 40px 0 40px; 
margin:0 0 0 40px; 
text-align: center; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; 
float:left; }

.box_08 .right{ 
width:540px; 
padding:0 23px 0 10px; 
text-align: center; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; 
float: right; }


.box_09{ 
width:1118px; 
padding:0px; margin-bottom:30px; 
text-align: center; 
float:left; }


.box_10{ 
width:1118px; 
padding:0px; margin-bottom:30px; 
text-align: center; 
float:left; }


.box_10 .left{ 
width:380px; 
padding:0px; 
text-align: center; 
float:left; }


.box_10 .right{ 
width:738px; 
padding:0px; 
text-align: left; 
float: right; }


.box_10 .right p{ 
width:738px; 
padding:0px; margin-bottom:30px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:24px; color:#000000; line-height:33px; 
float: left; }


.box_10 .right .verde{ 
width:618px; 
padding:7px 15px 7px 15px; 
margin-bottom:10px; 
background-color:#009933; border-radius:8px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; 
float: left; }

.box_10 .right .verde{ 
width:618px; 
padding:10px 15px 10px 15px; 
margin-bottom:10px; 
background-color:#009933; border-radius:8px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; 
float: left; }


.box_10 .right .amarillo{ 
width:618px; 
padding:10px 15px 10px 15px; 
margin-bottom:10px; 
background-color:#ffcc00; border-radius:8px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; 
float: left; }


.box_10 .right .naranja{ 
width:618px; 
padding:10px 15px 10px 15px; 
margin-bottom:10px; 
background-color:#ff6600; border-radius:8px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; 
float: left; }


.box_10 .right .rojo{ 
width:618px; 
padding:10px 15px 10px 15px; 
margin-bottom:10px; 
background-color:#ff000a; border-radius:8px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; 
float: left; }


.box_10 .right .azul{ 
width:618px; 
padding:10px 15px 10px 15px; 
margin-bottom:10px; 
background-color:#006699; border-radius:8px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; 
float: left; }

.box_10 .right .celeste{ 
width:618px; 
padding:10px 15px 10px 15px; 
margin-bottom:10px; 
background-color:#0099cc; border-radius:8px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; 
float: left; }


.box_11{ 
width:1080px; 
padding:0 0 0 38px; 
margin:0 0 40px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#000000; 
float:left; }


.box_12{ 
width:1078px; 
height:206px; 
padding:30px 0px 0 40px; 
margin:0 0 10px 0;  
text-align: left; 
background: linear-gradient(90deg, #d9d9d9 0px, #d9d9d9 300px, #f6f6f6); 
border-radius:100px;  
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:28px;
float:left; }

.box_12 .left{ 
width:150px; 
height:auto; 
padding:10px 0 0 0; 
text-align: left; 
float:left; }

.box_12 .right{ 
width:850px; 
height:auto; 
padding:0 0 0 20px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:23px; color:#333333; line-height:35px;
float: left; }



.box_13{ 
width:1118px; 
height:206px; 
padding:20px 0px 0 0px; 
margin:0 0 30px 0;  
text-align: left; 
background: linear-gradient(90deg, #f6f6f6 0px, #d9d9d9 600px, #d9d9d9); 
border-radius:100px;  
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:28px;
float:left; }


.box_13 .left{ 
width:135px; 
height:auto; 
padding:25px 0 0 45px; 
text-align: left; 
float:left; }

.box_13 .right{ 
width:888px; 
height:auto; 
padding:0 0 0 50px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:22px; color:#333333; line-height:35px;
float: left; }


.box_14{ 
width:1118px; 
height:auto; 
padding:12px 0px 12px 0; 
margin:0 0 50px 0;  
text-align: center; 
background-color:#19387f; 
border-radius:6px;  
font-family: 'Roboto', sans-serif; font-weight:400; font-size:25px; color:#fff;
float:left; }


.box_15{ 
width:1088px; 
height:auto; 
padding:0 15px 0 15px; 
text-align: left; 
float:left; }


.box_15 .left{ 
width:489px; 
height:270px; 
padding:20px 15px 20px 15px; 
margin:0 25px 0 0; 
text-align: left; 
background-color:#11afee; 
border-radius:8px;
font-family: 'Roboto', sans-serif; font-weight:500; font-size:24px; color:#fff; line-height:26px;
float:left; }

.box_15 .right{ 
width:489px; 
height:270px; 
padding:15px; 
margin:0 0 0 25px; 
text-align: left; 
background-color:#019834; 
border-radius:8px;
font-family: 'Roboto', sans-serif; font-weight:500; font-size:22px; color:#fff; line-height:22px;
float:left; }


.box_16{ 
width:1118px; 
height:auto; 
padding:0px; 
text-align: center; 
float:left; }


.box_17{ 
width:720px; 
height:auto; 
padding:25px; 
margin:0 0 55px 185px; 
text-align: left; 
background-color:#19387f; 
border-radius:8px;
float:left; }

.box_17 h1{ 
width:700px; 
height:auto; 
padding:0px; 
margin:0 0 15px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:30px; color:#fff; line-height:30px;
float:left; }

.box_17 p{ 
width:660px; 
height:auto; 
padding:0px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:22px; color:#fff; line-height:23px;
float:left; }


.box_18{ 
width:1118px; 
height:auto; 
padding:0px; 
text-align: center; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:50px; color:#b80c2c;
float:left; }

.box_19{ 
width:1118px; 
height:auto; 
padding:0 0 4px 0; 
text-align: center; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:20px; color:#333333;
float:left; }

.box_20{ 
width:1118px; 
height:auto; 
padding:0px; margin-bottom:38px; 
text-align: center; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:13px; color:#b80c2c;
float:left; }


.box_21{ 
width:1078px; 
height:auto; 
padding:20px; 
margin:0 20px 46px 20px; 
text-align: left; 
background-color:#019834; 
border-radius:12px;
float:left; }


.box_21 .left{ 
width:400px; 
height:auto; 
padding:0px; 
text-align: left; 
float:left; }


.box_21 .right{ 
width:636px; 
height:auto; 
padding:10px 0 0 0; 
text-align: left;
font-family: 'Roboto', sans-serif; font-weight:400; font-size:30px; color:#ffffff;
float:left; }


.box_22{ 
width:1078px; 
height:auto; 
padding:20px; 
margin:0 20px 0 20px; 
text-align: left; 
background-color:#b80c2c; 
border-radius:12px;
font-family: 'Roboto', sans-serif; font-weight:400; font-size:26px; color:#ffffff;
float:left; }


.box_23{ 
width:1048px; 
height:206px; 
padding:50px 0px 0 70px; 
margin:0px;  
text-align: left; 
background: linear-gradient(90deg, #d9d9d9 0px, #d9d9d9 300px, #f6f6f6); 
border-radius:100px;  
font-family: 'Roboto', sans-serif; font-weight:500; font-size:22px; color:#333333; line-height:35px;
float:left; }


.box_24{ 
width:1068px; 
height:206px; 
padding:50px 0px 0 70px; 
margin:0px;  
text-align: left; 
background: linear-gradient(90deg, #f6f6f6 400px, #d9d9d9 500px, #d9d9d9); 
border-radius:100px;  
font-family: 'Roboto', sans-serif; font-weight:500; font-size:22px; color:#333333; line-height:35px;
float:left; }

.box_25{ 
width:1048px; 
height:206px; 
padding:30px 0px 0 70px; 
margin:0px;  
text-align: left; 
background: linear-gradient(90deg, #d9d9d9 0px, #d9d9d9 300px, #f6f6f6); 
border-radius:100px;  
font-family: 'Roboto', sans-serif; font-weight:500; font-size:22px; color:#333333; line-height:35px;
float:left; }


.box_26{ 
width:332px; 
height:220px; 
padding:25px; 
margin:0 15px 45px 15px; 
text-align: left; 
background-color:#019934; 
border-radius:10px; 
border-left:1px solid #017327; border-top:1px solid #017327; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#ffffff; line-height:25px;
float:left; }

.box_27{ 
width:332px; 
height:220px; 
padding:25px; 
margin:0 15px 45px 15px; 
text-align: left; 
background-color:#274daf; 
border-radius:10px; 
border-left:1px solid #1d3a83; border-top:1px solid #1d3a83; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#ffffff; line-height:25px;
float:left; }


.box_28{ 
width:332px; 
height:220px; 
padding:25px; 
margin:0 15px 45px 15px; 
text-align: left; 
background-color:#11afee; 
border-radius:10px; 
border-left:1px solid #0d83b2; border-top:1px solid #0d83b2; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#ffffff; line-height:25px;
float:left; }




.box_29{ 
width:1078px; 
height:206px; 
padding:25px 0px 0 30px; 
margin:0 0 20px 0;  
text-align: left; 
background: linear-gradient(90deg, #d9d9d9 0px, #d9d9d9 300px, #f6f6f6); 
border-radius:100px;  
float:left; }

.box_29 .left{ 
width:115px; 
height:auto; 
padding:20px 0 0 0; 
text-align: left; 
float:left; }

.box_29 .right{ 
width:915px; 
height:auto; 
padding:0px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:30px;
float: left; }


.box_29 .right2{ 
width:915px; 
height:auto; 
padding:10px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:32px;
float: left; }




.box_30{ 
width:1118px; 
height:206px; 
padding:35px 0px 0 0px; 
margin:0 0 20px 0;  
text-align: left; 
background: linear-gradient(90deg, #f6f6f6 400px, #d9d9d9 600px, #d9d9d9); 
border-radius:100px;  
float:left; }


.box_30 .left{ 
width:117px; 
height:auto; 
padding:10px 0 0 25px; 
text-align: left; 
float:left; }

.box_30 .right{ 
width:868px; 
height:auto; 
padding:0 0 0 70px; margin:0 0 0 80px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:32px;
float: left; }


.box_31{ 
width:1118px; 
height:auto; 
padding:12px 0px 12px 0; 
margin:0 0 20px 0;  
text-align: center; 
background-color:#019934; 
border-radius:6px;  
font-family: 'Roboto', sans-serif; font-weight:400; font-size:28px; color:#fff;
float:left; }


.black{font-weight:900; }



.box_32{ 
width:1118px; 
height:auto; 
margin:0 0 58px 0;  
text-align: center; 
float:left; }



.box_32 .left{ 
width:570px; 
height:auto; 
padding:0 0 0 30px; margin:0 0 0 20px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:32px;
float:left; }

.box_32 .center{ 
width:40px; 
height:auto; 
padding:0px; 
text-align: center; 
float:left; }

.box_32 .right{ 
width:420px; 
height:auto; 
padding:0px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:32px;
float:left; }



.box_33{ 
width:1118px; 
height:auto; 
padding:15px 0 15px 0; 
margin:50px 0 10px 0; 
background-color:#e9e9e9; 
border-left:1px solid #afafaf; border-top:1px solid #afafaf; border-radius:10px;  
text-align: center; 
float:left; }


.box_33 .left{ 
width:185px; 
height:auto; 
text-align: center; 
float:left; }

.box_33 .right{ 
width:930px; 
height:auto; 
padding:0px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:24px; color:#000000; line-height:29px;
float:left; }


.box_33 .right2{ 
width:930px; 
height:auto; 
padding:0 0 0 50px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:34px; color:#000000; line-height:41px;
float:left; }



.box_34{ 
width:1118px; 
height:auto; 
padding:15px 0 15px 0; 
margin:30px 0 30px 0; 
background-color:#e9e9e9; 
border-left:1px solid #afafaf; border-top:1px solid #afafaf; border-radius:10px;  
text-align: center; 
float:left; }


.box_34 .left{ 
width:185px; 
height:auto; 
padding:0 10px 0 0; 
text-align: center; 
float:left; }

.box_34 .left2{ 
width:311px; 
height:auto; 
padding:0 10px 0 0; 
text-align: center; 
float:left; }

.box_34 .left3{ 
width:492px; 
height:auto; 
padding:0 10px 0 0; 
text-align: center; 
float:left; }



.box_34 .right{ 
width:930px; 
height:auto; 
padding:0 0 0 40px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:34px; color:#000000; line-height:41px;
float:left; }

.box_34 .right2{ 
width:790px; 
height:auto; 
padding:10px 0 0 20px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#000000; line-height:29px;
float:left; }


.box_34 .right3{ 
width:610px; 
height:auto; 
padding:10px 0 0 20px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#000000; line-height:29px;
float:left; }

.box_35{ 
width:1118px; 
height:auto; 
padding:0 25px 0 25px; 
margin:0 0 30px 0; 
text-align: left;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:18px; color:#000000; line-height:32px;
float:left; }


.box_36{ 
width:1118px; 
height:auto; 
padding:0px; 
margin:0 0 30px 0; 
text-align: center;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:30px; color:#000000; 
float:left; }


.box_37{ 
width:1078px; 
height:190px; 
padding:40px 0 30px 0; 
margin:0 0 10px 0;  
text-align: left; 
background: linear-gradient(90deg, #0c9dce 200px, #f6f6f6 700px, #f6f6f6); 
border-radius:100px;  
float:left; }

.box_37 .left{ 
width:110px; 
height:110px; 
padding:0px; 
margin:0 38px 0 38px; 
text-align: center; 
background-color:#FFF; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:90px; color:#666666; 
float:left;
-moz-box-shadow:inset 0 1px 1px #b7b7b7;
-webkit-box-shadow:inset 0 1px 1px #b7b7b7;
box-shadow:inset 0 1px 1px #b7b7b7; }

.box_37 .right{ 
width:845px; 
height:auto; 
padding:25px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }


.box_37 .right2{ 
width:845px; 
height:auto; 
padding:0px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }



.box_38{ 
width:1078px; 
height:190px; 
padding:40px 0 30px 0; 
margin:0 0 10px 0;  
text-align: left; 
background: linear-gradient(90deg, #f6f6f6 300px, #f6f6f6 200px, #04cd04); 
border-radius:100px;  
float:left; }

.box_38 .left{ 
width:110px; 
height:110px; 
padding:0px; 
margin:0 38px 0 38px; 
text-align: center; 
background-color:#FFF; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:90px; color:#666666; 
float:left;
-moz-box-shadow:inset 0 1px 1px #b7b7b7;
-webkit-box-shadow:inset 0 1px 1px #b7b7b7;
box-shadow:inset 0 1px 1px #b7b7b7; }

.box_38 .right{ 
width:845px; 
height:auto; 
padding:0px; margin:0 0 0 45px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }


.box_38 .right2{ 
width:845px; 
height:auto; 
padding:15px 0 0 0; margin:0 0 0 45px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }


.box_39{ 
width:1078px; 
height:190px; 
padding:40px 0 30px 0; 
margin:0 0 10px 0;  
text-align: left; 
background: linear-gradient(90deg, #ff6a6a 200px, #f6f6f6 700px, #f6f6f6); 
border-radius:100px;  
float:left; }

.box_39 .left{ 
width:110px; 
height:110px; 
padding:0px; 
margin:0 38px 0 38px; 
text-align: center; 
background-color:#FFF; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:90px; color:#666666; 
float:left;
-moz-box-shadow:inset 0 1px 1px #b7b7b7;
-webkit-box-shadow:inset 0 1px 1px #b7b7b7;
box-shadow:inset 0 1px 1px #b7b7b7; }

.box_39 .right{ 
width:845px; 
height:auto; 
padding:10px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }




.box_40{ 
width:1078px; 
height:190px; 
padding:40px 0 30px 0; 
margin:0 0 10px 0;  
text-align: left; 
background: linear-gradient(90deg, #f6f6f6 300px, #f6f6f6 200px, #ff9b06); 
border-radius:100px;  
float:left; }

.box_40 .left{ 
width:110px; 
height:110px; 
padding:0px; 
margin:0 38px 0 38px; 
text-align: center; 
background-color:#FFF; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:90px; color:#666666; 
float:left;
-moz-box-shadow:inset 0 1px 1px #b7b7b7;
-webkit-box-shadow:inset 0 1px 1px #b7b7b7;
box-shadow:inset 0 1px 1px #b7b7b7; }

.box_40 .right{ 
width:845px; 
height:auto; 
padding:10px 0 0 0; margin:0 0 0 45px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }


.box_40 .right2{ 
width:845px; 
height:auto; 
padding:25px 0 0 0; margin:0 0 0 45px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }



.box_41{ 
width:1078px; 
height:190px; 
padding:40px 0 30px 0; 
margin:0 0 10px 0;  
text-align: left; 
background: linear-gradient(90deg, #9999cc 200px, #f6f6f6 700px, #f6f6f6); 
border-radius:100px;  
float:left; }

.box_41 .left{ 
width:110px; 
height:110px; 
padding:0px; 
margin:0 38px 0 38px; 
text-align: center; 
background-color:#FFF; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:90px; color:#666666; 
float:left;
-moz-box-shadow:inset 0 1px 1px #b7b7b7;
-webkit-box-shadow:inset 0 1px 1px #b7b7b7;
box-shadow:inset 0 1px 1px #b7b7b7; }

.box_41 .right{ 
width:845px; 
height:auto; 
padding:0px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }

.box_41 .right2{ 
width:845px; 
height:auto; 
padding:20px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }


.box_41 .right3{ 
width:845px; 
height:auto; 
padding:13px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }


.box_42{ 
width:1078px; 
height:190px; 
padding:40px 0 30px 0; 
margin:0 0 10px 0;  
text-align: left; 
background: linear-gradient(90deg, #f6f6f6 300px, #f6f6f6 200px, #ffcc66); 
border-radius:100px;  
float:left; }

.box_42 .left{ 
width:110px; 
height:110px; 
padding:0px; 
margin:0 38px 0 38px; 
text-align: center; 
background-color:#FFF; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:90px; color:#666666; 
float:left;
-moz-box-shadow:inset 0 1px 1px #b7b7b7;
-webkit-box-shadow:inset 0 1px 1px #b7b7b7;
box-shadow:inset 0 1px 1px #b7b7b7; }

.box_42 .right{ 
width:845px; 
height:auto; 
padding:10px 0 0 0; margin:0 0 0 45px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }



.box_43{ 
width:1118px; 
height:auto; 
padding:0px; 
margin:30px 0 40px 0;  
text-align: center; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:32px; color:#333333; line-height:38px;
float:left; }


.box_44{ 
width:1098px; 
height:auto; 
padding:25px; 
margin:0 10px 0 10px;  
text-align: left; 
background-color:#019934; border-radius:10px; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#fff; line-height:29px;
float:left; }


.box_45{ 
width:1098px; 
height:auto; 
padding:25px; 
margin:0 10px 0 10px;  
text-align: left; 
background-color:#11afee; border-radius:10px; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#fff; line-height:29px;
float:left; }


.box_45 h1{ 
width:1098px; 
height:auto; 
padding:0px; 
margin:0 0 15px 0;  
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:26px; color:#000000;
float:left; }


.box_45 p{ 
width:230px; 
height:auto; 
padding:0px; 
margin:0 30px 0 0;  
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#000000; line-height:29px;
float:left; }



.box_46{ 
width:1098px; 
height:auto; 
padding:25px; 
margin:0 10px 0 10px;  
text-align: left; 
background-color:#274daf; border-radius:10px; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#fff; line-height:29px;
float:left; }


.box_46 h1{ 
width:1098px; 
height:auto; 
padding:0px; 
margin:0 0 15px 0;  
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:26px; color:#fff;
float:left; }


.box_46 p{ 
width:470px; 
height:auto; 
padding:0px; 
margin:0 50px 0 0;  
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#fff; line-height:29px;
float:left; }


.box_47{ 
width:1084px; 
height:auto; 
padding:2px 12px 2px 12px; 
margin:0 17px 0 17px;  
text-align: left; 
background-color:#0a9dce; border-radius:10px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:26px; color:#fff; line-height:47px;
float:left; }


.box_48{ 
width:1068px; 
height:auto; 
padding:0 12px 30px 12px; 
margin:0 25px 30px 25px;  
text-align: center; 
background-color:#eaeaea;
border-bottom-right-radius:10px; border-bottom-left-radius:10px; 
float:left; }


.box_48 .arrow{ 
width:1068px; 
height:auto; 
margin:0 0 5px 0;  
text-align: center; 
float:left; }


.box_48 p{ 
width:1008px; 
height:auto; 
padding:0px; margin:0 0 0 15px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; line-height:29px;
float:left; }


.box .box_49{ 
width:1118px; 
padding:0px; 
margin:0 0 40px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:19px; color:#000000; line-height:34px; 
float:left; }



.box_50{ 
width:1078px; 
height:210px; 
padding:15px 0 30px 0; 
margin:0 0 10px 0;  
text-align: left; 
background: linear-gradient(90deg, #ff6a6a 200px, #f6f6f6 700px, #f6f6f6); 
border-radius:100px;  
float:left; }

.box_50 .left{ 
width:110px; 
height:110px; 
padding:0px; 
margin:30px 38px 0 38px; 
text-align: center; 
background-color:#FFF; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:90px; color:#666666; 
float:left;
-moz-box-shadow:inset 0 1px 1px #b7b7b7;
-webkit-box-shadow:inset 0 1px 1px #b7b7b7;
box-shadow:inset 0 1px 1px #b7b7b7; }

.box_50 .right{ 
width:845px; 
height:auto; 
padding:0px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }


.box_50 .right2{ 
width:845px; 
height:auto; 
padding:50px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }



.box .box_51{ 
width:1118px; 
padding:0px; 
margin:0 0 40px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:21px; color:#000000; 
float:left; }



.box_52{ 
width:1118px; 
height:auto; 
padding:15px 15px 15px 15px; 
margin:50px 0 85px 0; 
background-color:#e9e9e9; 
border-left:1px solid #afafaf; border-top:1px solid #afafaf; border-radius:10px;  
text-align: center;
font-family: 'Roboto', sans-serif; font-weight:400; font-size:28px; color:#000000; line-height:39px; 
float:left; }


.box_53{ 
width:1118px; 
height:auto; 
margin:0 0 18px 0; 
text-align: left;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:27px; color:#000000; 
float:left; }


.box_54{ 
width:1118px; 
height:auto; 
margin:0 0 18px 0; 
text-align: left;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:27px; color:#000000; 
float:left; }


.box_55{ 
width:928px; 
height:auto; 
margin:0 95px 75px 95px; 
padding:20px; 
text-align: left; 
background-color:#1c387f; 
border-radius:10px;
float:left; }


.box_55 h1{ 
width:900px; 
height:auto; 
margin:0 0 20px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:26px; color:#fff; line-height:31px; 
float:left; }


.box_55 h2{ 
width:900px; 
height:auto; 
margin:0 0 20px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:22px; color:#fff; line-height:26px; 
float:left; }


.box_55 h3{ 
width:850px; 
height:auto; 
margin:20px 0 0px 0; 
text-align: center; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:26px; color:#fff; line-height:23px; 
float:left; }


.box_55 .box_t{ 
width:auto; 
height:auto; 
margin:25px 0 0 50px; 
text-align: center; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:26px; color:#fff; line-height:23px; 
float:left; }


.box_55 p{ 
width:890px; 
height:auto; 
margin:0 0 10px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:15px; color:#fff; line-height:21px; 
float:left; }



.box_56{ 
width:902px; 
height:196px; 
padding:25px 0 25px 0; 
margin:0 108px 5px 108px;  
text-align: left; 
background: linear-gradient(90deg, #d8d8d8 200px, #f6f6f6 700px, #f6f6f6); 
border-radius:100px;  
float:left; }

.box_56 .left{ 
width:141px; 
height:141px; 
padding:10px 0 0 0; 
margin:2px 28px 0 28px; 
text-align: center; 
background-color:#11afee; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:99px; color:#fff; 
float:left;
-moz-box-shadow:inset 0 3px 6px #064159;
-webkit-box-shadow:inset 0 3px 6px #064159;
box-shadow:inset 0 3px 6px #064159; }

.box_56 .right{ 
width:630px; 
height:auto; 
padding:0px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }


.box_56 .right2{ 
width:630px; 
height:auto; 
padding:10px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }



.box_57{ 
width:902px; 
height:196px; 
padding:25px 0 25px 0; 
margin:0 108px 5px 108px;  
text-align: left; 
background: linear-gradient(90deg, #f6f6f6 300px, #f6f6f6 300px, #d8d8d8); 
border-radius:100px;  
float:left; }

.box_57 .left{ 
width:141px; 
height:141px; 
padding:10px 0 0 0; 
margin:2px 28px 0 28px; 
text-align: center; 
background-color:#ff9900; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:99px; color:#fff; 
float:left;
-moz-box-shadow:inset 0 3px 6px #5c3700;
-webkit-box-shadow:inset 0 3px 6px #5c3700;
box-shadow:inset 0 3px 6px #5c3700; }

.box_57 .right{ 
width:630px; 
height:auto; 
padding:0px; margin:10px 0 0 70px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }




.box_58{ 
width:902px; 
height:206px; 
padding:15px 0 25px 0; 
margin:0 108px 35px 108px;  
text-align: left; 
background: linear-gradient(90deg, #d8d8d8 200px, #f6f6f6 700px, #f6f6f6); 
border-radius:100px;  
float:left; }

.box_58 .left{ 
width:141px; 
height:141px; 
padding:10px 0 0 0; 
margin:15px 28px 0 28px; 
text-align: center; 
background-color:#009933; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:99px; color:#fff; 
float:left;
-moz-box-shadow:inset 0 3px 6px #003a13;
-webkit-box-shadow:inset 0 3px 6px #003a13;
box-shadow:inset 0 3px 6px #003a13; }

.box_58 .right{ 
width:650px; 
height:auto; 
padding:0px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }


.box_58 .right2{ 
width:650px; 
height:auto; 
padding:28px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }

.box_59{ 
width:332px; 
height:150px; 
padding:25px; 
margin:0 15px 45px 15px; 
text-align: center; 
background-color:#019934; 
border-radius:10px; 
border-left:1px solid #017327; border-top:1px solid #017327; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:44px; color:#ffffff; line-height:44px;
float:left; }

.box_60{ 
width:332px; 
height:150px; 
padding:25px; 
margin:0 15px 45px 15px; 
text-align: center; 
background-color:#274daf; 
border-radius:10px; 
border-left:1px solid #1d3a83; border-top:1px solid #1d3a83; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:44px; color:#ffffff; line-height:44px;
float:left; }


.box_61{ 
width:332px; 
height:150px; 
padding:25px; 
margin:0 15px 45px 15px; 
text-align: center; 
background-color:#11afee; 
border-radius:10px; 
border-left:1px solid #0d83b2; border-top:1px solid #0d83b2; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:44px; color:#ffffff; line-height:44px;
float:left; }


.box_62{ 
width:1118px; 
height:auto; 
padding:12px 0px 12px 0; 
margin:0 0 20px 0;  
text-align: center; 
background-color:#019934; 
border-radius:6px;  
font-family: 'Roboto', sans-serif; font-weight:700; font-size:28px; color:#fff;
float:left; }


.box_63{ 
width:1118px; 
height:auto; 
margin:0 0 8px 0;  
text-align: center; 
float:left; }



.box_63 .left{ 
width:610px; 
height:auto; 
padding:0 0 0 30px; margin:0 0 0 20px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:16px; color:#333333; line-height:32px;
float:left; }


.box_63 .right{ 
width:420px; 
height:auto; 
padding:0px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:16px; color:#333333; line-height:32px;
float:left; }


.box_64{ 
width:1118px; 
height:auto; 
padding:15px 15px 15px 15px; 
margin:0px 0 45px 0; 
background-color:#e9e9e9; 
border-left:1px solid #afafaf; border-top:1px solid #afafaf; border-radius:10px;  
text-align: left;
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; line-height:22px; 
float:left; }


.box_65{ 
width:1118px; 
padding:0px; 
margin:0 0 25px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; line-height:19px; 
float:left; }


.box_66{ 
width:1118px; 
padding:0px; margin-bottom:80px; 
text-align: center; 
float:left; }



.box_67{ 
width:1078px; 
height:206px; 
padding:25px 0px 0 30px; 
margin:0 0 30px 0;  
text-align: left; 
background: linear-gradient(90deg, #d9d9d9 0px, #d9d9d9 300px, #f6f6f6); 
border-radius:100px;  
float:left; }

.box_67 .left{ 
width:175px; 
height:auto; 
padding:20px 0 0 20px; 
text-align: left; 
float:left; }

.box_67 .left2{ 
width:185px; 
height:auto; 
padding:10px 0 0 10px; 
text-align: left; 
float:left; }

.box_67 .right{ 
width:790px; 
height:auto; 
padding:25px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:20px; color:#333333; line-height:30px;
float: left; }


.box_67 .right2{ 
width:790px; 
height:auto; 
padding:0px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:20px; color:#333333; line-height:30px;
float: left; }

.box_67 .right3{ 
width:790px; 
height:auto; 
padding:0px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#333333; line-height:25px;
float: left; }



.box_68{ 
width:1118px; 
height:206px; 
padding:35px 0px 0 0px; 
margin:0 0 20px 0;  
text-align: left; 
background: linear-gradient(90deg, #f6f6f6 400px, #d9d9d9 600px, #d9d9d9); 
border-radius:100px;  
float:left; }


.box_68 .left{ 
width:175px; 
height:auto; 
padding:10px 0 0 25px; 
text-align: left; 
float:left; }

.box_68 .right{ 
width:860px; 
height:auto; 
padding:20px 0 0 70px; margin:0 0 0 30px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:20px; color:#333333; line-height:32px;
float: left; }


.box_68 .right2{ 
width:860px; 
height:auto; 
padding:0px 0 0 70px; margin:0 30px 0 0px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#333333; line-height:25px;
float: left; }



.box_69{ 
width:1118px; 
padding:0px; 
margin:20px 0 40px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:21px; color:#000000; 
float:left; }


.box_70{ 
width:1118px; 
padding:0 0 25px 0; 
text-align: center;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:26px; color:#000000; 
float:left}


.box_71{ 
width:1118px; 
height:auto; 
padding:15px 15px 15px 15px; 
margin:0px 0 45px 0; 
background-color:#e9e9e9; 
border-left:1px solid #afafaf; border-top:1px solid #afafaf; border-radius:10px;  
text-align: left;
font-family: 'Roboto', sans-serif; font-weight:400; font-size:21px; color:#000000; line-height:29px; 
float:left; }


.box_72{ 
width:1118px; 
padding:0 0 10px 0; 
text-align: center;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:22px; color:#000000; 
float:left}

.box_73{ 
width:1118px; 
padding:0px; 
margin:35px 0 40px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:30px; color:#000000; line-height:36px; 
float:left; }


.box_74{ 
width:1118px; 
padding:0px; 
margin:0 0 5px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:21px; color:#000000; 
float:left; }


.box_75{ 
width:1118px; 
padding:30px 0 10px 0; 
text-align: left;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:27px; color:#000000; 
float:left}


.box_76{ 
width:1118px; 
padding:0px; 
margin:0px 0 40px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:21px; color:#000000; 
float:left; }


.box_77{ 
width:1118px; 
padding:0px; 
margin:0 0 5px 0; 
text-align: center; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#000000; 
float:left; }

.box_78{ 
width:1118px; 
padding:0px; 
text-align: center; 
float:left; }


.box_79{ 
width:1118px; 
padding:0 0 25px 0; 
text-align: center; margin-bottom:60px;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:26px; color:#000000; 
float:left}



.box_80{ 
width:928px; 
padding:8px 0 8px 0; 
text-align: center; 
margin:0 95px 0 95px;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:14px; color:#fff; 
background-color:#358724; 
border-radius:10px; border-left:1px solid #28651b; border-top:2px solid #28651b; 
float:left}


.box_b20{ font-family: 'Roboto', sans-serif; font-weight:700; font-size:20px; color:#fff; background-color:#358724; }


.box_81{ 
width:902px; 
height:196px; 
padding:25px 0 25px 0; 
margin:0 108px 40px 108px;  
text-align: left; 
background: linear-gradient(90deg, #f6f6f6 300px, #f6f6f6 300px, #d8d8d8); 
border-radius:100px;  
float:left; }

.box_81 .left{ 
width:141px; 
height:141px; 
padding:10px 0 0 0; 
margin:2px 28px 0 28px; 
text-align: center; 
background-color:#ff3300; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:99px; color:#fff; 
float:left;
-moz-box-shadow:inset 0 3px 6px #5e1604;
-webkit-box-shadow:inset 0 3px 6px #5e1604;
box-shadow:inset 0 3px 6px #5e1604; }

.box_81 .right{ 
width:630px; 
height:auto; 
padding:0px; margin:30px 0 0 70px; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }





.box_82{ 
width:902px; 
height:206px; 
padding:15px 0 25px 0; 
margin:0 108px 5px 108px;  
text-align: left; 
background: linear-gradient(90deg, #d8d8d8 200px, #f6f6f6 700px, #f6f6f6); 
border-radius:100px;  
float:left; }

.box_82 .left{ 
width:141px; 
height:141px; 
padding:10px 0 0 0; 
margin:15px 28px 0 28px; 
text-align: center; 
background-color:#009933; 
border-radius:100px; 
font-family: 'Roboto', sans-serif; font-weight:700; font-size:99px; color:#fff; 
float:left;
-moz-box-shadow:inset 0 3px 6px #003a13;
-webkit-box-shadow:inset 0 3px 6px #003a13;
box-shadow:inset 0 3px 6px #003a13; }


.box_82 .right{ 
width:650px; 
height:auto; 
padding:28px 0 0 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:18px; color:#333333; line-height:29px;
float: left; }


.box_83{ 
width:1118px; 
height:auto; 
padding:0; 
text-align: left; 
float:left; }


.box_84{ 
width:1118px; 
padding:0px; 
margin:0 0 15px 0; 
text-align: left; 
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#000000; line-height:19px; 
float:left; }


.box_85{ 
width:1118px; 
padding:0 0 60px 0; 
text-align: center;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:30px; color:#000000; 
float:left}


.box_86{ 
width:1118px; 
padding:0 0 34px 0; 
text-align: center;
float:left}


.box_86 .left{ 
width:192px; 
height:90px; 
padding:20px 0 0 0; 
margin:0 90px 0 90px; 
text-align: center; 
background-color:#019934; border-radius:10px;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:24px; color:#ffffff; line-height:24px; 
float:left}

.box_86 .center{ 
width:192px; 
height:90px; 
padding:20px 0 0 0; 
margin:0 90px 0 90px; 
text-align: center; 
background-color:#11afee; border-radius:10px;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:24px; color:#ffffff; line-height:24px; 
float:left}

.box_86 .right{ 
width:192px; 
height:90px; 
padding:10px 0 0 0; 
margin:0 90px 0 90px; 
text-align: center; 
background-color:#fe9900; border-radius:10px;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:24px; color:#ffffff; line-height:24px; 
float: left}

a.b_click{ font-family: 'Roboto', sans-serif; font-weight:700; font-size:16px; font-style:italic; color:#000000; text-decoration:none}



.box_87{ 
width:936px; 
padding:0; 
margin:30px 91px 60px 91px; 
text-align: center;
float:left}


.box_87 .left{ 
width:312px; 
padding:0; 
margin:0px; 
text-align: center;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:15px; color:#be1925; line-height:18px; 
float:left}



.box_88{ 
width:1118px; 
padding:20px 25px 20px 25px; 
margin:0 0 60px 0; 
text-align: left; 
background-color:#274daf; border-radius:10px; 
border-left:1px solid #1d3a83; border-top:2px solid #1d3a83;
float:left}

.box_88 h1{ 
width:1068px; 
padding:0px; 
margin:0px; 
text-align: left;
font-family: 'Roboto', sans-serif; font-weight:900; font-size:30px; color:#11aeed;  
float:left}

.box_88 p{ 
width:1068px; 
padding:0px; 
margin:0px; 
text-align: left;
font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; color:#ffffff; line-height:29px;  
float:left}


.box_89{ 
width:1118px; 
padding:0px; 
margin:0 0 30px 0; 
text-align: center;
font-family: 'Roboto', sans-serif; font-weight:700; font-size:20px; color:#000000;  
float:left}