<!-- start lsit the user -->
<div ng-init="acccountReceivable();" class="animate-repeat col-sm-12">
    <section class="content-header">
        <div class="box-header">
            <h3 class="box-title-new">Outstanding Credits</h3>
            <div class="box-tools">
                <div class="input-group input-group-sm pull-left">
                    <input type="text" name="table_search" ng-model="query" ng-change="tableParams.filter(query)" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body" col-show-hide>
                <div class="table-responsive">
                    <table  class="table table-condensed ng-table-responsive" ng-table="tableParams" export-csv="csv">
                        <tbody>
                            <tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="user in $data" ng-if="dataPresent">
                                <td data-title="'#'"  ><span ng-if="params.page() ? true : false">{{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</span></td>
                                <td ng-show="showCol[0]" sortable="'invoice_no'" data-title="'Invoice Number'" data-title-text="Invoice Number">
                                    <a data-title="Invoice Template" data-animation="am-fade-and-slide-top" content-template  ="/views/accounting/invoiceTemplatePreviewRecievable.html" ng-click="showdata(user)" bs-modal="modal">{{user.invoice_no}}</a>
                                </td>
                                <td ng-show="showCol[1]" sortable="'amount'" data-title="'Amount'" data-title-text="Amount">{{user.amount| currency}}</td>
                                <td ng-show="showCol[2]" sortable="'dueDate'" data-title="'Due Date'" data-title-text="Due Date">{{user.dueDate| date:'MM/dd/yyyy'}}</td>
                                <td ng-show="showCol[3]" sortable="'pay_from'" data-title="'Paid From'" data-title-text="Paid From">{{user.pay_from ? user.pay_from : 'N/A'}}</td>
                                <td ng-show="showCol[4]" data-title="'User Type'" data-title-text="User Type">{{user.payerType ? user.payerType : 'N/A'}}</td>
                                <td ng-show="showCol[5]" data-title="'Auto-Pay?'" data-title-text="Auto-Pay?">{{user.auto_pay}}</td>
                                <td ng-show="showCol[6]" data-title="'Mark as Paid'" data-title-text="Mark as Paid">
                                    <!-- <a ng-click="markAsPaid(user._id)">{{user.paid_seller?'Done':'Paid'}}</a> -->
                                    <p ng-if="user.paid_seller" >Done</p>
                                    <a ng-if="!user.paid_seller" href ng-click="markAsPaid(user._id)">Paid</a>
                                </td>
                                <td header="'headerSettingGear.html'"></td>
                            </tr>
                            <tr ng-if="!dataPresent">
                                <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                    csv.generate($event, "AccountReceivable" + currentDate + ".csv");'>CSV</a></div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> Invoice Number</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> Amount</a></li>
    <li><a ng-click="showCol[2] = !showCol[2]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Due Date</a></li>
    <li><a ng-click="showCol[3] = !showCol[3]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[3]]"></i> Paid From</a></li>
    <li><a ng-click="showCol[4] = !showCol[4]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[4]]"></i> User Type</a></li>
    <li><a ng-click="showCol[5] = !showCol[5]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[5]]"></i> Auto-Pay?</a></li>
    <li><a ng-click="showCol[6] = !showCol[6]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[6]]"></i> Mark as Paid</a></li>
    </ul>
    </div>
</script>
<style>
    .modal-dialog {
        margin: 30px auto;
        width: 76%;
    }
</style>