<div>
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <h4 class="from"> From</h4>
            <div class="form-group">
                <input disabled type="text" class="form-control name"  placeholder="Name" ng-model="invoice.from_name">
                <input disabled type="text" class="form-control name"  placeholder="Address" ng-model="invoice.from_address">
                <input disabled type="text" class="form-control name"  placeholder="City, State, Zip" ng-model="invoice.from_city">
                <input disabled type="text" class="form-control name"  placeholder="Country" ng-model="invoice.from_country">
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <h4 class="from">To</h4>
            <div class="form-group details">
                <input disabled type="text" class="form-control name"  placeholder="Name" ng-model="invoice.to_name">
                <input disabled type="text" class="form-control name"  placeholder="Address" ng-model="invoice.to_address">
                <input disabled type="text" class="form-control name"  placeholder="City, State, Zip" ng-model="invoice.to_city">
                <input disabled type="text" class="form-control name"  placeholder="Country" ng-model="invoice.to_country">
            </div>
        </div>
        <!-- /.col -->

        <div class="col-sm-3 col-sm-offset-1 invoice-col">
            <div class="form-horizontal invoice-form alert alert-danger" ng-show="err && (invoice_frmX.invoiceNumber.$error.required || invoice_frmX.invoiceDate.$error.required || invoice_frmX.invoiceDate.$error.required)">
                <span ng-show="err && (invoice_frmX.invoiceNumber.$error.required || invoice_frmX.invoiceDate.$error.required || invoice_frmX.invoiceDate.$error.required)" class="text-danger">Please provide invoice details</span>
            </div>
            <div class="clearfix"></div>

            <b>Invoice </b><input disabled type="text" class="form-control name2"  placeholder="INV-0001" ng-model="invoice.invoice_number">
            <b>Payment Due:</b> <input disabled type="text" class="form-control name2"  placeholder="" ng-model="invoice.invoice_date">
            <b>Due Date: </b><br><input disabled type="text" class="form-control name2"  placeholder="" ng-model="invoice.payment_due_date">

        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead >
                    <tr class="item-border">
                        <th>Item</th>
                        <th>Description</th>
                        <th>Lead/Call Price</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody ng-init="amount = []">  
                    <tr class="item-row" ng-if="invoiceType == 'onetime'" ng-repeat="invoiceDetails in invoice.multipleItemList">
                        <td class="item"><input disabled type="text" class="form-control name"  placeholder="Item name/description"  ng-model="invoiceDetails.item"></td>
                        <td><textarea disabled  class="form-control name"  placeholder="Description" rows="1" cols="40" ng-model="invoiceDetails.description"></textarea></td>
                        <td><input disabled type="text" class="form-control name"  placeholder="0.00" ng-init="amount[$index] = invoiceDetails.unit_price * invoiceDetails.qty" ng-model="invoiceDetails.unit_price"></td>
                        <td><input disabled type="text" class="form-control name"  placeholder="0.00" ng-model="invoiceDetails.qty"></td>
                        <td><input disabled type="text" class="form-control name"  placeholder="0.00" ng-model="amount[$index]"></td>
                    </tr>

                    <tr class="item-row" ng-if="invoiceType == 'autogenerated'">
                        <td class="item"><input disabled type="text" class="form-control name"  placeholder="Item name/description"  ng-model="invoice.item"></td>
                        <td><textarea disabled  class="form-control name"  placeholder="Description" rows="1" cols="40" ng-model="invoice.description"></textarea></td>
                        <td><input disabled type="text" class="form-control name"  placeholder="0.00" ng-model="invoice.unit_price"></td>
                        <td><input disabled type="text" class="form-control name"  placeholder="0.00" ng-model="invoice.qty"></td>
                        <td><input disabled type="text" class="form-control name"  placeholder="0.00" value="{{(invoice.unit_price * invoice.qty)| number}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <div class="form-group">
                <span>Invoice Notes: </span>
                <textarea placeholder="This section will be automatically populated with the eCheck Information of the invoice sender" name="invoice_notes" id="invoice_notes" rows=6 cols=60 style="width:430px; overflow:auto; outline:none; padding:5px; font-weight:normal; font-family:verdana;font-size:13px;color:#3c3c3c;" ng-model="invoice.notes" readonly disabled></textarea>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <p class="lead">Amount</p>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td ng-if="invoiceType == 'autogenerated'">
                            <!-- <input style="border:0px solid white;text-align:right; width:100px; padding-right:5px; font-weight:normal; font-family:verdana;font-size:13px;color:#3c3c3c;" readonly type=text id="sum_subtotal" name="sum_subtotal" value="0.00"> -->
                            ${{(invoice.unit_price * invoice.qty) ? (invoice.unit_price * invoice.qty) : 0 | number:2}}
                        </td>
                        <td ng-if="invoiceType == 'onetime'">
                            ${{amount ? amount : 0| totalAmt | number :2}}
                        </td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td ng-if="invoiceType == 'autogenerated'">
                            {{invoiceData.amount| number:2}}
                        </td>
                        <td ng-if="invoiceType == 'onetime'">
                            ${{amount ? amount : 0| totalAmt | number :2}}
                        </td>
                    </tr>
                    <tr>
                        <th>Amount Paid:</th>
                        <td>${{ 0 | number:2}}</td>
                    </tr>
                    <tr>
                        <th>Balance Due:</th>
                        <td ng-if="invoiceType == 'autogenerated'">
                            ${{(invoice.unit_price * invoice.qty) ? (invoice.unit_price * invoice.qty) : 0 | number:2}}
                        </td>
                        <td ng-if="invoiceType == 'onetime'">
                            ${{amount ? amount : 0| totalAmt | number:2}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
</div>
<style type="text/css" media="screen">
    .from {font-weight:bold; color:#000000; margin-left: 12px; font-size:14px;}
    .details {text-align:left;}
    .container { border: 1px solid;}
    .vat{width:100% !important;}
    .name {
        border: medium none;
        border-radius: 0px;
        box-shadow: none;
        height:30px;
        margin-top: 3px;
    }
    .name2 {
        border: medium none;
        border-radius: 0px;
        box-shadow: none;
        height:30px;
        margin-top:3px;

    }
    .name:focus {border-color: none;box-shadow: none;}
    .name2:focus {border-color: none;box-shadow: none;}
    input::-webkit-input-placeholder {
        color: #000000 !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
        color: #000000 !important;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
        color: #000000 !important;
    }

    input:-ms-input-placeholder {
        color: #000000 !important;
    }
    .invoice {text-transform:uppercase; font-size:3em; color:#000000; margin-bottom: 189px; margin-top:0px;
              padding-left:30px; float:Right;}
    .invoice-text{float:right;}
    .space {margin-right:10px;}
    .item-row {background-color: #FFFFFD !important;}
    .item {width: 35%;}
    .item-border {background-color: rgb(66, 139, 202);color: white !important;}
    .invoice-form {float:right;}
    .invoice-bottom {margin-bottom:0px !important;}
    .invoice-align {text-align:end;}
    .action{ opacity: 0.4; }
    .action:hover{ opacity: 1; color:rgb(66, 139, 202); }
    .margin3{ margin-top: 3% }
    .modal-dialog {
        width: 70%;
    }

    /* Different color for placehlder and to hide input boxes background */
    .form-control::-webkit-input-placeholder{color:    #FFFFFF !important;}
    .form-control:-moz-placeholder {color:    #FFFFFF !important;}
    .form-control::-moz-placeholder {color:    #FFFFFF !important;}
    .form-control:-ms-input-placeholder {color:    #FFFFFF !important;}
    textarea.form-control { border: none;}
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {background-color: white;opacity: 1;}
</style>