<div class="animate-repeat col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="text-center">
            Invoice Template
            </h3>
        </div>
        <div  class="panel-body pad0 ">
            <div class="row" style="margin:0.3% 2% 0.3% 0%;">
                <div class="col-lg-2 col-sm-offset-10">
                    <i class="fa  fa-eye fa-2x action actionBtn" data-title="Invoice Preview" data-animation="am-fade-and-slide-top" content-template  ="/views/accounting/invoiceTemplatePreview.html"  bs-modal="modal"></i>
                    <i class="fa  fa-print fa-2x action actionBtn"  print-avoid-break print-btn></i>
                    <i class="fa  fa-file-pdf-o fa-2x action actionBtn"  ng-click="pdfGenerate(invoice)"></i>
                    <i class="fa fa-floppy-o fa-2x action actionBtn"  ng-click="invoiceSubmit(invoice)"></i>
                </div>
            </div>
            <div class="container" print-section >
                <div class="row">
                    <div class="col-lg-12">

                        <hr>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <h4 class="from"> From</h4>

                            <form role="form">

                                <div class="form-group">
                                    <input type="text" class="form-control name" id="" placeholder="Name" ng-model="invoice.from_name">
                                    <input type="text" class="form-control name" id="" placeholder="Address" ng-model="invoice.from_address">
                                    <input type="text" class="form-control name" id="" placeholder="City, State, Zip" ng-model="invoice.from_city">
                                    <input type="text" class="form-control name" id="" placeholder="Country" ng-model="invoice.from_country">

                                </div>

                                <div class="clearfix"></div>


                                <h4 class="from">To</h4>

                                <form role="form">

                                    <div class="form-group details">
                                        <input type="text" class="form-control name" id="" placeholder="Name" ng-model="invoice.to_name">
                                        <input type="text" class="form-control name" id="" placeholder="Address" ng-model="invoice.to_address">
                                        <input type="text" class="form-control name" id="" placeholder="City, State, Zip" ng-model="invoice.to_city">
                                        <input type="text" class="form-control name" id="" placeholder="Country" ng-model="invoice.to_country">
                                    </div>

                                </form>
                            </div>


                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">


                                <h1 class="invoice">Invoice </h1>

                                <div class="clearfix"></div>

                                <form class="form-horizontal invoice-form" role="form">
                                    <div class="form-group invoice-bottom">
                                        <label style="float:left" class="control-label invoice-align" for="pwd">Invoice #</label>
                                        <div style="float:right;">

                                            <input type="text" class="form-control name2" id="" placeholder="INV-0001" ng-model="invoice.invoice_number">
                                        </div>
                                    </div>
                                    <div class="form-group invoice-bottom">
                                        <label style="float:left" class="control-label invoice-align" for="pwd">Invoice Date</label>
                                        <div class="" style="float:right;">
                                            <input type="text" class="form-control name2" id="" placeholder="Oct 10, 2015" ng-model="invoice.invoice_date">
                                        </div>
                                    </div>
                                    <div class="form-group invoice-bottom">
                                        <label style="float:left" class="control-label invoice-align" for="pwd">Due Date</label>
                                        <div class="" style="float:right;">
                                            <input type="text" class="form-control name2" id="" placeholder="Nov 26, 2015" ng-model="invoice.payment_due_date">
                                        </div>
                                    </div>


                                </form>



                            </div>

                            <div class="clearfix"></div>

                            <div class="table-responsive">
                                <table class="table table-bordered vat ">
                                    <thead >
                                        <tr class="item-border">
                                            <th>Item</th>
                                            <th>Description</th>
                                            <th>Lead/Call Price</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="item-row">
                                            <td class="item"><input type="text" class="form-control name" id="" placeholder="Item name/description"  ng-model="invoice.item"></td>
                                            <td><textarea class="form-control name" id="" placeholder="Description" rows="1" cols="40" ng-model="invoice.description"></textarea></td>
                                            <td><input type="text" class="form-control name" id="" placeholder="0.00" ng-model="invoice.unit_price"></td>
                                            <td><input type="text" class="form-control name" id="" placeholder="0.00" ng-model="invoice.qty"></td>
                                            <td><input type="text" class="form-control name" id="" placeholder="0.00" value="{{(invoice.unit_price*invoice.qty)| number}}"></td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>


                            <div class="clearfix"></div>
                            <div class="row">
                                 <div class="col-lg-6">
                                    <div class="form-group">
                                        <span>Characters left: {{300 - invoice.notes.length}}</span>
                                        <textarea type="text" class="form-control" id="" placeholder="This section will be automatically populated with the eCheck Information of the invoice sender (Put maximum 300 characters)" rows="6" cols="60" ng-model="invoice.notes" maxlength="300"></textarea>
                                    </div>
                                </div>
                                 <div class="col-lg-3">
                                 </div>

                                <div class="col-lg-2 margin3">

                                    <p><strong>Subtotal </strong> </p>
                                    <p><strong>Amount Paid</strong> </p>
                                    <p><strong>Balance Due</strong></p>
                                    <p><strong>Total</strong></p>



                                </div>
                                <div class="col-lg-1 margin3">

                                    <p>${{(invoice.unit_price*invoice.qty) ? (invoice.unit_price*invoice.qty) : 0 | number:2}}</p>
                                    <p>${{ 0 | number:2}}</p>
                                    <p>${{(invoice.unit_price*invoice.qty) ? (invoice.unit_price*invoice.qty) : 0 | number:2}}</p>
                                    <p>${{(invoice.unit_price*invoice.qty) ? (invoice.unit_price*invoice.qty) : 0 | number:2}}</p>

                                </div>


                            </div>
                        </div>









                    </div>
                </div>
        </div>

        </div>

<style type="text/css" media="screen">
.from {font-weight:bold; color:#000000; margin-left: 12px; font-size:14px;}
.details {text-align:left;}
.container { border: 1px solid;}
.vat{width:100% !important;}
.name {
border: medium none;
border-radius: 0px;
box-shadow: none;
height:30px;
margin-top: 3px;
}
.name2 {
border: medium none;
border-radius: 0px;
box-shadow: none;
height:30px;
margin-top:3px;

}
.name:focus {border-color: none;box-shadow: none;}
.name2:focus {border-color: none;box-shadow: none;}
input::-webkit-input-placeholder {
color: #000000 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #000000 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #000000 !important;
}

input:-ms-input-placeholder {
color: #000000 !important;
}
.invoice {text-transform:uppercase; font-size:3em; color:#000000; margin-bottom: 189px; margin-top:0px;
padding-left:30px; float:Right;}
.invoice-text{float:right;}
.space {margin-right:10px;}
.item-row {background-color: #FFFFFD !important;}
.item {width: 35%;}
.item-border {background-color: rgb(66, 139, 202);color: white !important;}
.invoice-form {float:right;}
.invoice-bottom {margin-bottom:0px !important;}
.invoice-align {text-align:end;}
.action{ opacity: 0.4; }
.action:hover{ opacity: 1; color:rgb(66, 139, 202); }
.margin3{ margin-top: 3% }


/*media css start*/

@media screen and (max-width:767px) {
.invoice {
    margin-bottom: 30px;
    margin-top: 0px;
    float: left;
    font-size: 1.5em;
}
.name {
    text-align: center;
}
.from {
    text-align: center;
}
.invoice-align {
    text-align: center;
}
.invoice {
    text-align: center;
    float: none;
}
.vat {
    margin-left: 0px;
}
.total-text {
    line-height: 15px;
    margin-right: 80px;
}
.invoice-form {
    margin-bottom: 20px;
    float: initial;
}
}

@media screen and (max-width:380px) {
.invoice {
    margin-bottom: 30px;
    margin-top: 0px;
    float: left;
    font-size: 1.3em;
    padding-left: 0;
    text-align: left;
}
.name {
    text-align: left;
}
.from {
    text-align: left;
}
.invoice-align {
    text-align: left;
}
.vat {
    margin-left: 0px;
}
.total-text {
    line-height: 15px;
    margin-right: 80px;
}
.invoice-form {
    margin-bottom: 20px;
}

.table-form .form-control {width:inherit;}

.name {

    white-space: inherit;
    width: 200px !important;
}

}
/*media css end*/
</style>