<div class="modal" tabindex="-1" role="dialog" ng-init="initialiseInvoice()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Payment</h4>
            </div>
            <div class="modal-body">
                <h4>Select Payment Mode</h4>
                <table cellpadding=0 cellspacing=0 width="100%" style="padding:0px; margin:0px;text-align:left;">
                    <tr>
                            <td class="buttonTD"><input type="radio" id = "existing1" value="eCheck_ACH"  ng-model="invoiceData.payment_mode" ng-click="setCommision('eCheck_ACH',invoiceData.amount)"   class="regular-radio big-radio" >
                            <label for="existing1"></label>
                            <label for="basiccrm1">eCheck / ACH</label></td>
                            <td class="buttonTD"><input type="radio" id = "existing2" value="wire"  ng-model="invoiceData.payment_mode" ng-click="setCommision('wire',invoiceData.amount)"  class="regular-radio big-radio" >
                                <label for="existing2"></label>
                                <label for="basiccrm2">Wire</label></td>
                            <td class="buttonTD"><input type="radio" id = "existing3" value="paperCheck"  ng-model="invoiceData.payment_mode" ng-click="setCommision('paperCheck',invoiceData.amount)"  class="regular-radio big-radio" >
                                <label for="existing3"></label>
                                <label for="basiccrm3">Paper Check</label></td>
                            <td class="buttonTD"><input type="radio" id = "existing4" value="paypal"  ng-model="invoiceData.payment_mode" ng-click="setCommision('paypal',invoiceData.amount)"  class="regular-radio big-radio" >
                                <label for="existing4"></label>
                                <label for="basiccrm4">Paypal</label></td>
                                        
                    </tr>
                    
                </table>
                <table id="table_sums" border=0 cellpadding=0 cellspacing=0>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:15px; border-top:2px solid #eaedee;">&nbsp;</td>
                        <td style="width:200px; border-top:2px solid #eaedee;font-family:verdana; font-size:13px; color:#3c3c3c; font-weight:bold;padding-top:6px;padding-bottom:3px;">
                            Subtotal
                        </td>
                        <td style="text-align:right;padding-right:4px;border-right:1px solid white;border-top:2px solid #eaedee;border-left:1px solid white;padding-top:6px;padding-bottom:3px;">
                           ${{(invoiceData.amount) ? (invoiceData.amount) : 0 | number:2}}
                        </td>
                    </tr>
                    <tr id="sum_blankSubtotalTR" style="height:3px;display:none;">
                        <td></td>
                    </tr>
                    <tr id="sum_discountTR" >
                        <td style="width:0px;">&nbsp;</td>
                        <td style="width:200px; font-family:verdana; font-size:11px; color:#3c3c3c; padding-left:10px;padding-bottom:1px;"> + Commission </td>
                        <td align=right><table border=0 cellpadding=0 cellspacing=0 style="width:70px;">
                            <tr>
                                <td>&nbsp;</td>
                                ${{(commission) ? (commission) : 0 | number:2}}
                            </tr>
                        </table></td>
                    </tr>
                   
                    <!-- balance due -->
                    <tr style="background-color:#FBFF9E;">
                        <td style="background-color:#FBFF9E;width:15px; border-top:2px solid #eaedee;">&nbsp;</td>
                        <td style="background-color:#FBFF9E;width:200px; border-top:2px solid #eaedee;font-family:verdana; font-size:13px; color:#3c3c3c; font-weight:bold;padding-top:7px;padding-bottom:7px;">
                            Total&nbsp;<span id="currency_code_output" style="font-family:verdana; font-size:13px; color:#3c3c3c; font-weight:normal;"></span>
                        </td>
                        <td style="background-color:#FBFF9E;text-align:right;padding-right:4px;border-right:1px solid white;border-top:2px solid #eaedee;border-left:1px solid #FBFF9E;">
                            ${{(amountTobePaid)| number:2}}
                        </td>
                    </tr>
                    <!-- TB 5 -->
                </table>
                    <!-- <h4>Amount to be Paid :  ${{(invoiceData.amount) ? (invoiceData.amount) : 0 | number:2}}</h4> -->
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-flat" ng-click="$hide()">Close</button>
                    <button type="button" class="btn btn-primary btn-flat" ng-click="makePayment(invoiceData);$hide()">Make Payment</button>
                </div>
            </div>
        </div>
    </div>