<form>
    <div class="form-group">
        <label class='control-label'>Label</label>
        <input type='text' ng-model="label" validator="[required]" class='form-control'/>
    </div>
    <div class="form-group">
        <label class='control-label'>Adress 1 Label</label>
        <input type='text' ng-model="addressOneLabel" validator="[required]" class='form-control'/>
    </div>
    <div class="form-group">
        <label class='control-label'>Adress 2 Label</label>
        <input type='text' ng-model="addressTwoLabel" validator="[required]" class='form-control'/>
    </div>
    <div class="form-group">
        <label class='control-label'>City Label</label>
        <input type='text' ng-model="cityLabel" validator="[required]" class='form-control'/>
    </div>
    <div class="form-group">
        <label class='control-label'>State Label</label>
        <input type='text' ng-model="stateLabel" validator="[required]" class='form-control'/>
    </div>
    <div class="form-group">
        <label class='control-label'>Zip Code Label</label>
        <input type='text' ng-model="zipCodeLabel" validator="[required]" class='form-control'/>
    </div>
    <div class="checkbox">
        <label>
            <input type='checkbox' ng-model="required" />
            Required
        </label>
    </div>
    <div class="btn-group formBuilderCloseBtn">
        <button class="btn btn-xs btn-success" bs-tooltip data-title="Save Changes" ng-click="popover.save($event)"><i class="fa fa-save"></i></button>
        <button class="btn btn-xs btn-danger" bs-tooltip data-title="Delete" ng-click="popover.remove($event)"><i class="fa fa-trash"></i></button>
        <button class="btn btn-xs btn-info" bs-tooltip data-title="Cancel" ng-click="popover.cancel($event)"><i class="fa fa-close"></i></button>
    </div>
</form>