<!--<ul ng-if="groups.length > 1" class="nav nav-tabs nav-justified">
    <li ng-repeat="group in groups" ng-class="{active:activeGroup == group}">
        <a href='#' ng-click="selectGroup($event, group)">{{group}}</a>
    </li>
</ul>

<div class='form-horizontal'>
    <div class='fb-component' ng-repeat="component in components" fb-component="component"></div>
</div>-->




<div ng-if="groups.length > 1" class="panel-group" role="tablist" disallow-toggle="true" bs-collapse>
    <div class="panel" ng-class="{'panel-info': activeGroup != group,'panel-primary':activeGroup == group}" ng-repeat="group in groups">
        <div bs-collapse-toggle class="panel-heading" role="tab" ng-click="selectGroup($event, group)">
            <h4 class="panel-title">
                {{group}}
            </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">
                <div class='fb-component' ng-repeat="component in components" fb-component="component"></div>
            </div>
        </div>
    </div>
</div>