<!--Lacie-start-about-here-->
<div class="about">
    <div class="about-main">
        <h1>Affiliates</h1>
        <br>

        <div class="about-left">
            <h2>Do You Sell Calls?</h2>
            <h3>Use PSX to track, route, analyze, and optimize your call campaigns for free.</h3>
            <p><strong>Track Calls</strong><br />
                - Unlimited Phone Numbers: Get an unlimited number of toll-free's or local numbers to track calls from multiple sources.<br />
                - Attribution: Associate many toll-free's and local numbers with unique campaigns to attribute performance back to the source. </p>
            <p><strong>Route Calls</strong><br />
                - Time of Day Routing: Route calls to multiple buyers based on the time of day and many other conditions.<br />
                - State / Area Code Based Routing<br />
                - Route to Multiple Buyers: Send calls to multiple buyers. Route using round robin, simultaneous call blasts, priority, time of day, concurrent calls, states, area codes and more. </p>
            <p><strong>Analyze Calls</strong><br />
                - Powerful Reporting: Get tons of data, with real-time updates, in any way, shape or form, to help you determine whether a call campaign is successful or not.</p>
            <p><a href="/#!/features_affiliates">View all features</a> and learn how to track, route, and analyze calls for free.</p>
            <p><strong>BYOB (Bring Your Own Buyers)</strong><br />
                Bring your current call buyers into PSX for free. You can sell calls to your buyers, invoice buyers, and much more. There is no charge for you to use PSX to route calls to your own buyers.</p>
            <p><strong>Don’t have any buyers yet? Use PSX Buyer Clusters.</strong><br />
                Send calls to pre-defined Buyer Clusters for a mere nickel per call. Here's a real-world example: Let's say that an affiliate sends calls to the Debt Relief Buyer Cluster. Let's say that debt relief call buyers are paying affiliates $50 per call. Affiliates would earn $49.95 per call and PSX keeps $0.05. We think that would be the best nickel you've ever spent.</p>
            <p><strong>Affiliates, Give Yourself a Promotion.</strong><br />
                Use PSX to Start Your Own Affiliate Network (bring your own buyers or use our Buyer Clusters). Route calls to buyers for free or plug directly in to our Buyer Clusters. Sell calls as an affiliate or sell your friends' calls as a Network. PSX powers it all. </p>
            <p>Easily create your own private-labeled lead / call gen network. Send calls to your private buyers or to our pre-defined Buyer Clusters, or do both. Either way, PSX makes it easy for you make money by signing up other affiliates into your own private labeled network. </p>
        </div>

        <!--Lacie-end-about-here-->


        <div class="about-right">
            <h1>Amazing things that you can do for free with PSX:</h1>
            <p>&gt; Send sales texts and emails</p>
            <p>&gt; Set up ACD to route calls to multiple buyers or internal queues</p>
            <p>&gt; Create IVR’s to route calls based on a variety of business conditions </p>
            <p>&gt; Get 500 (or more) 1-800 numbers for tracking, routing, and analyzing sales calls</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--start-about-->


<!--start-lorem-->
<div class="lorem3">
    <div class="sombra"><img src="/views/marketingSite/assets/images/sombra.png"/></div>
    <div class="container">
        <div class="lorem-top">

            <h1>Web-based Phone Software</h1>

            <div class="research">

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen01.png" alt="" />
                    <h4>Advertisers & Call Centers</h4>
                    <p>Create and manage call queues, call routing, IVR’s, track and manage internal lead gen campaigns, and run pay-per-call programs, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen02.png" alt="" />
                    <h4>Affiliates & Call Sellers</h4>
                    <p>Route calls to multiple buyers based on conditions such as hours of operation, state exclusions, priority, and other complex IVR conditions, attribute calls to specifc campaigns, invoice buyers and get paid, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen03.png" alt="" />
                    <h4>Lead & Call Gen Networks</h4>
                    <p>Create and manage your own whitelabeled network to connect your affiliates with lead & call buyers, at little to no cost.</p>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--end-lorem-->