<!--Lacie-start-about-here-->
<div class="about">
    <div class="about-main">
        <h1>PSX at ASE 16</h1>
        <h2>PSX is Now the Exclusive ASE 16 Silver Sponsor.</h2>

        <div class="about-left">
            <p align="center"><strong>
                    <p align="center">
                        Stop by to Say &quot;Hi&quot; to the PSX Crew at ASE in NYC</strong><br/></p>
            <p align="left">Come watch us gloat in humility as we show off our latest and greatest features at ASE 16, from July 31 - Aug 2. Although you won't find free pens or free phone chargers, you can pick up some pretty cool phone software, all for free.<br />
                <br />
                <strong>Want a free pass to get in ASE 16?</strong> Call us and ask for one -- you never know what can happen. 1-800-500-3222.<br />
                <br />
                Create your own lead gen network with PSX. Route calls to multiple buyers for free or plug directly in to our Buyer Clusters. Sell your own calls as an affiliate or sell your friends' calls as a Network. Take over the world by phone. PSX powers it all.<br />
                <br />
            </p>
        </div>
        <!--Lacie-end-about-here-->


        <div class="about-right">
            <h1>Amazing things that you can do for free with PSX:</h1>
            <p>&gt; Send sales texts and emails</p>
            <p>&gt; Set up ACD to route calls to multiple buyers or internal queues</p>
            <p>&gt; Create IVR’s to route calls based on a variety of business conditions </p>
            <p>&gt; Get 500 (or more) 1-800 numbers for tracking, routing, and analyzing sales calls</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--start-about-->


<!--start-lorem-->
<div class="lorem3">
    <div class="sombra"><img src="/views/marketingSite/assets/images/sombra.png"/></div>
    <div class="container">
        <div class="lorem-top">

            <h1>Web-based Phone Software</h1>

            <div class="research">

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen01.png" alt="" />
                    <h4>Advertisers & Call Centers</h4>
                    <p>Create and manage call queues, call routing, IVR’s, track and manage internal lead gen campaigns, and run pay-per-call programs, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen02.png" alt="" />
                    <h4>Affiliates & Call Sellers</h4>
                    <p>Route calls to multiple buyers based on conditions such as hours of operation, state exclusions, priority, and other complex IVR conditions, attribute calls to specifc campaigns, invoice buyers and get paid, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen03.png" alt="" />
                    <h4>Lead & Call Gen Networks</h4>
                    <p>Create and manage your own whitelabeled network to connect your affiliates with lead & call buyers, at little to no cost.</p>
                </div>


                <div class="clearfix"></div>

            </div>


        </div>
    </div>
</div>
<!--end-lorem-->