<!--Lacie-start-about-here-->
<div class="about">
    <div class="about-main">
        <h1>Customize Your Instance of PSX</h1>
        <br>

        <div class="about-left">
            <p align="center"><strong><br />
                    Let Us Build Your Company a Customized, Fully Tailored Call Center Software Suite. <br />
                </strong></p>
            <p align="left"><strong>Efficency = Savings</strong><br />
                Since we already have the parts lying around from prior call center software projects, we can custom build your call center software using less man hours and getting you off of the ground quicker than an in-house software developer. And at a mere $35/hour, we're cheaper than hiring an in-house software developer too.<br />
                <br />
                It makes financial sense to hire the call center software developers who developed PSX to customize a call center software suite for your company, based on your specific business processes. <br />
                <br />
                First, it is impossible to find a software developer who has years of expertise in call center software development for less than $100,000/year. Add employee benefits and payroll taxes and you're up to at least $120,000/year, and that is if you can find a programmer with experience in building call center software.</p>
            <p align="left"><strong>Why Does It Matter If My Developer Has Never Built a Call Center Software Suite?</strong><br />
                Call center software development requires highly a specialized knowledge base.
                In order to efficiently develop a software suite that houses IVR's, ACD's, AMD, queues, etc., one needs to have experience. There is no substitute for years of experience in the field.</p>
            <p align="left"><strong>Why Customize? What's Wrong with Off-the-Shelf Call Center Software?</strong><br />
                Simply put, off-the-shelf call center software, by its nature, cannot account for the variances seen in different types of call centers. The majority of our clients, 90% or more, come to us after they have tried to modify their business processes and workflow to adapt to the off-the-shelf solution that they are using. This is the inevitable mistake that call center owners commit before seeking software developers who specialize in call center software. Sure, most call centers will require IVR functionality, call routing, and a softphone for agents to use. But no two call centers have the same work flow or business processes. </p>
        </div>
        <!--Lacie-end-about-here-->


        <div class="about-right">
            <h1>Amazing things that you can do for free with PSX:</h1>
            <p>&gt; Send sales texts and emails</p>
            <p>&gt; Set up ACD to route calls to multiple buyers or internal queues</p>
            <p>&gt; Create IVR’s to route calls based on a variety of business conditions </p>
            <p>&gt; Get 500 (or more) 1-800 numbers for tracking, routing, and analyzing sales calls</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--start-about-->









<!--start-lorem-->
<div class="lorem3">
    <div class="sombra"><img src="/views/marketingSite/assets/images/sombra.png"/></div>
    <div class="container">
        <div class="lorem-top">

            <h1>Web-based Phone Software</h1>

            <div class="research">

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen01.png" alt="" />
                    <h4>Advertisers & Call Centers</h4>
                    <p>Create and manage call queues, call routing, IVR’s, track and manage internal lead gen campaigns, and run pay-per-call programs, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen02.png" alt="" />
                    <h4>Affiliates & Call Sellers</h4>
                    <p>Route calls to multiple buyers based on conditions such as hours of operation, state exclusions, priority, and other complex IVR conditions, attribute calls to specifc campaigns, invoice buyers and get paid, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen03.png" alt="" />
                    <h4>Lead & Call Gen Networks</h4>
                    <p>Create and manage your own whitelabeled network to connect your affiliates with lead & call buyers, at little to no cost.</p>
                </div>


                <div class="clearfix"></div>

            </div>


        </div>
    </div>
</div>
<!--end-lorem-->