<!--Lacie-start-about-here-->
<div class="about">
    <div class="about-main">
        <h1>PSX Definitions</h1>
        <h2>Learn how to talk the talk of PSX.</h2>
        <br>

        <div class="about-left">
            <p><strong>Advertiser</strong>: An advertiser is a user who can access inbound and outbound call features in PSX. This user can also access text and email features in PSX. An advertiser must be verified in order to use the aforementioned features in PSX.</p>
            <p><strong>Affiliate</strong>: A PSX user who sells leads and/or calls to advertisers and call centers.</p>
            <p><strong>Call Center</strong>: See &quot;Advertiser&quot;.</p>
            <p><strong>Call Seller</strong>: See &quot;Affiliate&quot;.</p>
            <p><strong>Campaign</strong>: A Campaign is created based on the terms of a particular Offer and contains a unique tracking number that allows Affiliates or Advertisers to attribute performance of a particular media buy.</p>
            <p><strong>Category</strong>: A Category is associated with a Vertical. One Vertical may have many Categories associated with it. For example, the Finance Vertical may be associated with the Installment Loan Category and the Mortgage Loan Category.</p>
            <p><strong>Offer</strong>: Advertisers create Offers for Affiliates to promote. An Offer contains the terms by which a call is deemed &quot;billable&quot;.</p>
            <p><strong>Ring-to Number</strong>: As the name suggests, this is the phone number that your Tracking Number will forward to. It is usually the final destination in a given line of &quot;forwarding&quot; numbers.</p>
            <p><strong>Tracking Number</strong>: Users can advertise phone numbers on websites, in commercials, in emails, or where ever you want to track calls. Some users choose to point their toll-free numbers to their PSX Tracking Number. You may be able to save a few dollars by porting your toll-frees into PSX.</p>
            <p><strong>Vertical</strong>: The type of business a call center is involved in, in its broadest scope.</p>
            <p><strong>Verified Advertiser</strong>: PSX goes to great lengths to ensure that we &quot;know our advertisers&quot;. It's no surprise that the features that PSX provides combined with the legal landscape of call / text / email could be abused when in the wrong hands. Such abuse could be blatent and knowingly, or an innocent violation of the TCPA. Thus, if you would like to use some of the more advanced features, such as sending pre-recorded voice messages or texts, call PSX support at 1-800-500-3222 and request that we verify your call center.</p>
            <p><br />
            </p>
        </div>
        <!--Lacie-end-about-here-->


        <div class="about-right">
            <h1>Amazing things that you can do for free with PSX:</h1>
            <p>&gt; Send sales texts and emails</p>
            <p>&gt; Set up ACD to route calls to multiple buyers or internal queues</p>
            <p>&gt; Create IVR’s to route calls based on a variety of business conditions </p>
            <p>&gt; Get 500 (or more) 1-800 numbers for tracking, routing, and analyzing sales calls</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--start-about-->



<!--start-lorem-->
<div class="lorem3">
    <div class="sombra"><img src="/views/marketingSite/assets/images/sombra.png"/></div>
    <div class="container">
        <div class="lorem-top">

            <h1>Web-based Phone Software</h1>

            <div class="research">

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen01.png" alt="" />
                    <h4>Advertisers & Call Centers</h4>
                    <p>Create and manage call queues, call routing, IVR’s, track and manage internal lead gen campaigns, and run pay-per-call programs, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen02.png" alt="" />
                    <h4>Affiliates & Call Sellers</h4>
                    <p>Route calls to multiple buyers based on conditions such as hours of operation, state exclusions, priority, and other complex IVR conditions, attribute calls to specifc campaigns, invoice buyers and get paid, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen03.png" alt="" />
                    <h4>Lead & Call Gen Networks</h4>
                    <p>Create and manage your own whitelabeled network to connect your affiliates with lead & call buyers, at little to no cost.</p>
                </div>


                <div class="clearfix"></div>

            </div>


        </div>
    </div>
</div>
<!--end-lorem-->