<!-- <div class="Absolute-Center is-Responsive">
                <div class="panel panel-default">
                        <div class="panel-heading">Page not Found.</div>
                        <div class="panel-body">404 Page Not Found.

                            Please <a href="#!/">Click here</a> to go to dashboard.
                        {{error}}
                        </div>
                </div>
        </div>	 -->

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center mrgbtp30">
            <h2 class="404">404</h2>
            <h4 class="secondtxt">OOPS, SORRY WE CAN'T FIND THAT PAGE</h4>
            <p class="lasttxt">Either something went wrong or the page doesn't exists anymore</p>
            <a class="btn btn-primary" href="/">Go To Home</a>
        </div>

    </div>
</div>
<style>
    h2 {
        font-size: 280px !important;
    }
    h4 {
        font-size: 24px !important;
    }
    .mrgbtp30{
        margin-bottom:30px;
        margin-top: 30px;
    }
</style>