<!--Lacie-start-about-here-->
<div class="about">
    <div class="about-main">
        <h1>Features for Affiliates &amp; Call Sellers</h1>
        <br>

        <div class="about-left">
            <p><br />
                <strong>Run Campaigns based on PSX Buyers' Offers</strong></p>
            <p><strong>Create Unlimited IVR's</strong></p>
            <p><strong>Get as many 800's or Local Numbers for Call Tracking, All for Free<br>
                </strong><br />
                <strong>Send sales texts and emails</strong></p>
            <p><strong>Send Pre-Recorded Voice Messages</strong><br>
                <br />
                <strong>Time-Based Routing:</strong> Route calls to specific queues or phone numbers based on the time of day.<br>
                <br />
                <strong>After Hours Callback Automation:</strong> Turning on this features tells PSX to capture the caller ID of missed calls, add the caller ID's to an outbound campaign, and get
                the caller back on the phone.<br></p></div>

        <!--Lacie-end-about-here-->


        <div class="about-right">
            <h1>Amazing things that you can do for free with PSX:</h1>
            <p>&gt; Send sales texts and emails</p>
            <p>&gt; Set up ACD to route calls to multiple buyers or internal queues</p>
            <p>&gt; Create IVR’s to route calls based on a variety of business conditions </p>
            <p>&gt; Get 500 (or more) 1-800 numbers for tracking, routing, and analyzing sales calls</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--start-about-->


<!--start-lorem-->
<div class="lorem3">
    <div class="sombra"><img src="/views/marketingSite/assets/images/sombra.png"/></div>
    <div class="container">
        <div class="lorem-top">

            <h1>Web-based Phone Software</h1>

            <div class="research">

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen01.png" alt="" />
                    <h4>Advertisers & Call Centers</h4>
                    <p>Create and manage call queues, call routing, IVR’s, track and manage internal lead gen campaigns, and run pay-per-call programs, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen02.png" alt="" />
                    <h4>Affiliates & Call Sellers</h4>
                    <p>Route calls to multiple buyers based on conditions such as hours of operation, state exclusions, priority, and other complex IVR conditions, attribute calls to specifc campaigns, invoice buyers and get paid, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen03.png" alt="" />
                    <h4>Lead & Call Gen Networks</h4>
                    <p>Create and manage your own whitelabeled network to connect your affiliates with lead & call buyers, at little to no cost.</p>
                </div>


                <div class="clearfix"></div>

            </div>


        </div>
    </div>
</div>
<!--end-lorem-->