<!--Lacie-start-about-here-->
<div class="about">
    <div class="about-main">
        <h1></h1>
        <br>

        <div class="about-left">
            <p align="center"><strong>&quot;Just pay the $500 set up fee and $0.03/minute and we'll get you started&quot;, said no PSX employee ever.<br />
                    <br/>
                    Find out how your company can use PSX for free. Select your user type below:</strong><br /></p>
            <table width="100%" border="0">
                <tr>
                    <td align="center"><a href="" class="intro" ng-click="gotoHash('acs')">Affiliates & Call Sellers</a></td>
                    <td align="center"><a href="" class="intro" ng-click="gotoHash('acc')">Advertisers & Call Centers</a></td>
                    <td align="center"><a href="" class="intro" ng-click="gotoHash('cgn')">Lead / Call Gen Networks</a></td>
                </tr>
            </table>
            </br>
            <p align="left"><strong>What does PSX charge for?</strong><br />
                PSX offers the following options for a fee: 1) plug and play usage of <a href="/#!/buyer_clusters" class="intro">buyer clusters</a>,  2) usage of its bank of vanity telephone numbers, 3) custom phone software development. These services are optional, meaning that a user can user the PSX software application in a fully functioning capacity without having to pay anything. Some may call it &quot;freemium&quot;, but we don't believe that a few optional services even rise to the level of the &quot;freemium&quot; label. It's just free.            </p>
            <p align="left" id="acs"><strong>Affiliates &amp; Call Sellers</strong><a name="acs" id="acs"></a><br />
                Affiliates and call sellers can use PSX for free. Create campaigns, route calls to multiple buyers, and swim in pools of call data for free. <a href="/app/#!/register_lgn" class="intro">Get started</a> | <a href="/#!/features_affiliates" class="intro">View features</a></p>
            <p align="left" id="acc"><strong>Advertisers &amp; Call Centers</strong><a name="acc" id="acc"></a><br />
                Advertisers and call centers that sell products and services can use PSX for free. Buy calls from affiliates who use PSX or from any other platform. Set up and manage unlimited phone agents, customer service reps, or any other phone user. Send sales texts and emails, create and manage multiple IVR's, and use real 800 numbers, for free. <a href="/app/#!/register_lgn" class="intro">Get started</a> | <a href="/#!/features_buyers" class="intro">View features</a></p>
            <p align="left" id="cgn" class="intro"><strong>Lead / Call Gen Networks</strong><a name="cgn" id="cgn"></a><br />
                Lead and call gen networks can use PSX for free. Broker leads and calls among affiliates and call centers for free. Or get up and running fast by plugging in to ready-to-deploy PSX Buyer Clusters ($0.05/unique call, not per minute, just per call). <br>
                <a href="/app/#!/register_lgn" class="intro">Get started</a> | <a href="/#!/features_networks" class="intro">View features</a></p>
            <p align="center"><a href="/app/#!/register_lgn" class="intro">Sign Up</a><br />
                <br />
            </p>
        </div>
        <!--Lacie-end-about-here-->


        <div class="about-right">
            <h1>Amazing things that you can do for free with PSX:</h1>
            <p>&gt; Send sales texts and emails</p>
            <p>&gt; Set up ACD to route calls to multiple buyers or internal queues</p>
            <p>&gt; Create IVR’s to route calls based on a variety of business conditions </p>
            <p>&gt; Get 500 (or more) 1-800 numbers for tracking, routing, and analyzing sales calls</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--start-about-->


<!--start-lorem-->
<div class="lorem3">
    <div class="sombra"><img src="/views/marketingSite/assets/images/sombra.png"/></div>
    <div class="container">
        <div class="lorem-top">

            <h1>Web-based Phone Software</h1>

            <div class="research">

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen01.png" alt="" />
                    <h4>Advertisers & Call Centers</h4>
                    <p>Create and manage call queues, call routing, IVR’s, track and manage internal lead gen campaigns, and run pay-per-call programs, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen02.png" alt="" />
                    <h4>Affiliates & Call Sellers</h4>
                    <p>Route calls to multiple buyers based on conditions such as hours of operation, state exclusions, priority, and other complex IVR conditions, attribute calls to specifc campaigns, invoice buyers and get paid, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen03.png" alt="" />
                    <h4>Lead & Call Gen Networks</h4>
                    <p>Create and manage your own whitelabeled network to connect your affiliates with lead & call buyers, at little to no cost.</p>
                </div>


                <div class="clearfix"></div>

            </div>


        </div>
    </div>
</div>
<!--end-lorem-->