<!--start-banner-->
<div class="banner">
    <div class="banner-main">

        <div class="banner-left">
            <div class="free">Free</div>

            <div class="medio">
                <span class="arrow"><img src="/views/marketingSite/assets/images/arrow1.png"/> </span>
                <p>Call Analytics <br />
                    Call Tracking<br />
                    Call Center<br />
                    Call Routing<br />
                    Pay Per Call</p>
                <span class="arrow"><img src="/views/marketingSite/assets/images/arrow2.png"/> </span>
            </div>

            <div class="softwre">Software</div>

            <h1>...that also serves as an...</h1>
            <h2>Affiliate-to-Call Buyer Matchmaker Service</h2>

        </div>

        <div class="banner-right">
            <h2>It’s hard to compete with free. </h2>
            <h3>Amazing things that you can do for free with PSX:</h3>
            <p>&gt; Send sales texts and emails</p>
            <p>&gt; Create IVR’s to route calls based on a variety of business conditions  </p>
            <p>&gt; Set up ACD to route calls to multiple buyers or internal queues</p>
            <p>&gt; Get 500 (or more) 1-800 numbers for tracking, routing, and analyzing sales calls</p>
            <hr>
            <p>PSX is releasing its beta version at <a href="/#!/ASE_16" class="intro">ASE 16</a>.</p>
            <hr>
            <p> Learn the language of PSX (not programming, English) by reading our <a href="/#!/definitions" class="intro">definitions.</a></p> </div>


        <div class="clearfix"></div>
    </div>
</div>
<!--end-banner-->

<!--start-lorem-->
<div class="lorem">
    <div class="container">
        <div class="lorem-top">

            <h1>Web-based Phone Software</h1>

            <div class="research">

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen01.png" alt="" />
                    <h4>Advertisers & Call Centers</h4>
                    <p>Create and manage call queues, call routing, IVR’s, track and manage internal lead gen campaigns, and run pay-per-call programs, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen02.png" alt="" />
                    <h4>Affiliates & Call Sellers</h4>
                    <p>Route calls to multiple buyers based on conditions such as hours of operation, state exclusions, priority, and other complex IVR conditions, attribute calls to specifc campaigns, invoice buyers and get paid, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen03.png" alt="" />
                    <h4>Lead & Call Gen Networks</h4>
                    <p>Create and manage your own whitelabeled network to connect your affiliates with lead & call buyers, at little to no cost.</p>
                </div>


                <div class="clearfix"></div>

            </div>


        </div>
    </div>
</div>
<!--end-lorem-->

<!--start-lorem2-->
<div class="lorem2">
    <div class="container">
        <div class="lorem2-top">

            <div class="research2">

                <div class="res-left2">
                    <h2>Features</h2>
                    <p>Inbound<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Automatic Call Distribution (ACD): PSX simplifies complex call routing. <br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Feed Top Salespeople: Use call routing to send calls to your best salespeople first, or however you see fit.<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Route by Priority: Decide which calls get answered first.<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Time-Based Routing: Route calls to specific queues or phone numbers based on the time of day.<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> After Hours Callback Automation: Turning on this features tells PSX to capture the caller ID of missed calls, add the caller ID’s to an outbound campaign, and get the caller back on the phone.<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Cell Phone / Voicemail Routing: Run your business using only cell phones, softphones, VOIP phones, or a mixture of all 3. Agents can skip voicemail and route calls to their cell phones, if desired.<br /><br />
                        View all features, Inbound, Outbound, and more...</p>
                </div>

                <div class="res-left2">
                    <h2>Features</h2>
                    <p>Track Calls<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Get an unlimited number of toll-free’s or local numbers to track calls from multiple sources.<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Attribution: Associate many toll-free’s and local numbers with unique campaigns to attribute performance back to the source.<br /><br />
                        Route Calls<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Time of Day Routing: Route calls to multiple buyers based on the time of day and many other conditions.<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Route to Multiple Buyers: Send calls to multiple buyers. Route using round robin, simultaneous call blasts, priority, time of day, concurrent calls, states, area codes and more.<br /><br />
                        Analyze Calls<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Powerful Reporting: Get tons of data, with real-time updates, in any way, shape or form, to help you determine whether a call campaign is successful or not.<br /><br />
                        View all features and learn how to track, route, and analyze calls for free.</p>
                </div>

                <div class="res-left2">
                    <h2>Features</h2>
                    <p><img src="/views/marketingSite/assets/images/elipse.png"/> Create your own private affiliate network with no mention of PSX: Pay affiliates for calls and/or web leads.<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Pay affiliates based on duration, states, etc. <br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Add your Buyers to PSX: Or, use our buyer clusters (or do both).<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Create an unlimited number of Offers: For your affiliates to choose from.<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Choose the Spread: Tell PSX how much you want to make per call.<br />
                        <img src="/views/marketingSite/assets/images/elipse.png"/> Payments: PSX can process all payments (from buyers, to affiliates) or you can handle it yourself.<br /><br />
                        View all features accessible by Networks using PSX.</p>
                </div>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--end-lorem-->


<!--start-lorem3-->
<div class="lorem3">
    <div class="sombra"><img src="/views/marketingSite/assets/images/sombra.png"/></div>
    <div class="container">
        <div class="lorem3-top">

            <div class="research3">

                <div class="res-left3">
                    <h3>FAQ’s & Random Questions</h3>


                    <div id="accordion"><dl class="accordion" id="slider">

                            <dt><a href="#slider">What exactly can PSX do for my business? </a></dt>
                            <dd><span>
                                    <div class="box_01">It depends on the type of business you're in. Please select your business model from the table above to view features applicable to your business.</div>
                                </span></dd>



                            <dt><a href="#slider">What about hardware and software requirements?</a></dt>
                            <dd><span>
                                    <div class="box_01">Any computer with an internet connection running Google Chrome will run PSX. In addition, if you are a call center or an advertiser who needs a phone system, you can use Apple earbuds as they work fine with the application. </div>
                                </span></dd>




                            <dt><a href="#slider">Nothing is free. What’s the catch?</a></dt>
                            <dd><span>
                                    <div class="box_01">Here's the catch.</div>
                                </span></dd>



                            <dt><a href="#slider">How is PSX different from any other exhibitor that I would come across at Affiliate Summit?</a></dt>
                            <dd><span>
                                    <div class="box_01">With PSX, there's no need to pay Company A $0.03/minute for call analytics, pay Company B $0.04/minute for a cloud-based phone system, and pay Company C $0.035/minute to manage your call-based affiliate program. Everything that you need is under one roof, free to use.</div>
                                </span></dd>




                            <dt><a href="#slider">I s this like Asterisk, Freeswitch or ViciDial or some open source framework that we have to have a software developer?</a></dt><dd><span>
                                    <div class="box_01">Nope. PSX is fully functioning in every regard, straight out of the box.</div>
                                </span></dd>


                            <dt><a href="#slider">Is this some sort of “bait & switch” where we move all of our reliance of phone functionality to you for free, only to be charged by the minute in the future?</a></dt>
                            <dd><span>
                                    <div class="box_01">Unlike our competitors, we have no intentions of charging PSX users on a per-minute basis, or on any other basis, other than the options that are currently in place. </div>
                                </span></dd>



                            <dt><a href="#slider">What’s up with the .io domain?</a></dt>
                            <dd><span>
                                    <div class="box_01">Little known fact -- .io domains were developed for use by countries in the Indian Ocean. Techies use it as an acronym for input/output. We were originally going to charge users based on throughput usage (input/output model). It's kind of like pay-per-usage hosting. But then we decided not to charge for hosting and the domain extension just tagged along for the ride.</div>
                                </span></dd>
                        </dl></div>


                    <script type='text/javascript'>
                        //<![CDATA[
                        var slider1 = new accordion.slider("slider1");
                        slider1.init("slider", -1, "open");
                        //]]>
                    </script>



                </div>

                <div class="res-left3">
                    <h2>Vanity Numbers</h2>
                    <p class="txt2">PSX owns many vanity numbers. If your company would like to use a vanity number, similar to our 1-800-500-3222 support number, call us. </p>
                    <h4>In the Pipeline...</h4>
                    <p class="txt2">Do you have a cool feature that you would like to see in PSX? Email support and let them know!<br /><br />
                        - Campaign-level ad-type restrictions <br />
                        - Call routing via campaign association <br />
                        - Additional RESTful API’s for securely obtaining PSX data<br />
                        - Show/hide functionality for customizing table column headers<br />
                        - Track web leads via web forms and customizable links, old-school affiliate program style<br />
                        - Integrated Conversion tracker for reporting conversions back to PSX<br />
                        - Voip Phone functionality </p>
                    <h4>PSX is not to be confused with:</h4>
                    <p class="txt2">- P90X <br />
                        - Playstation<br />
                        - Phillips 66 <br />
                        <img src="/views/marketingSite/assets/images/imagen04.jpg"/></p>
                    <h4>Whitelabel Us</h4>
                    <p class="txt2">Did you know that you can whitelabel PSX as a call generation network and make money off of your affiliate buddies?<br /><br />
                        Ask our support staff about our whitelabel fasttrack option using PSX Next.</p>
                </div>

                <div class="res-left3">
                    <h2>Phone software aplications</h2>
                    <p class="txt2">If you have ever used any of the following phone software applications, you may want to talk to our support team to see if you can accomplish the same business objective for free:<br /><br />

                        - Invoca<br />
                        - Leadspedia<br />
                        - ShareASale <br />
                        - Retreaver <br />
                        - Call Tracking Metrics <br />
                        - Grasshopper <br />
                        - Five9<br />
                        - 8x8<br />
                        - 2x4 (jk...) <br />
                        - Ring Central <br />
                        - Fenero<br />
                        - Ring Partner<br />
                        - Call Rail<br />
                        - Call Fire<br />
                        - Ooma Office<br />
                        - Virtual PBX<br /><br />

                        We are in no way claiming that PSX is “better” than any of the aforementioned software providers. Once you take us for a spin, you can make that call.</p>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--end-lorem-->