<!--start-about-->
<div class="about">
    <div class="about-main">
        <h1>Matchmaker</h1>
        <br>

        <div class="about-left">
            <h2>PSX isn’t just some high-end call routing / call center / call gen network software. Our value prop runs deeper than software. We help users interact and thrive. </h2>
            <p class="txt">PSX employees are encouraged to introduce new affiliates and call centers to each other, when appropriate. We go out of our way to not only make sure that you have the best phone software in your toolbox, but also to leverage our relationships to your advantage.<br /><br />
                Sometimes it’s just not appropriate to introduce affiliates to buyers and vice versa. For example, if a buyer brings an affiliate to PSX and would like to keep that affiliate exclusive to his offer, we will honor that. PSX keeps up with referrals and sub-user relationships, so we know when its safe to share contact info or make introductions and when it’s not.</p>
        </div>




        <div class="about-right">
            <h1>Amazing things that you can do for free with PSX:</h1>
            <p>&gt; Send sales texts and emails</p>
            <p>&gt; Set up ACD to route calls to multiple buyers or internal queues</p>
            <p>&gt; Create IVR’s to route calls based on a variety of business conditions </p>
            <p>&gt; Get 500 (or more) 1-800 numbers for tracking, routing, and analyzing sales calls</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--start-about-->

<!--start-lorem-->
<div class="lorem3">
    <div class="sombra"><img src="/views/marketingSite/assets/images/sombra.png"/></div>
    <div class="container">
        <div class="lorem-top">

            <h1>Web-based Phone Software</h1>

            <div class="research">

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen01.png" alt="" />
                    <h4>Advertisers & Call Centers</h4>
                    <p>Create and manage call queues, call routing, IVR’s, track and manage internal lead gen campaigns, and run pay-per-call programs, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen02.png" alt="" />
                    <h4>Affiliates & Call Sellers</h4>
                    <p>Route calls to multiple buyers based on conditions such as hours of operation, state exclusions, priority, and other complex IVR conditions, attribute calls to specifc campaigns, invoice buyers and get paid, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen03.png" alt="" />
                    <h4>Lead & Call Gen Networks</h4>
                    <p>Create and manage your own whitelabeled network to connect your affiliates with lead & call buyers, at little to no cost.</p>
                </div>


                <div class="clearfix"></div>

            </div>


        </div>
    </div>
</div>
<!--end-lorem-->