<!--Lacie-start-about-here-->
<div class="about">
    <div class="about-main">
        <h1>PSX Next</h1>
        <h3>Schedule a Call with the CEO to Set Up Your New Account.</h3>

        <div class="about-left">

            <p>We want to see all new PSX users thrive. PSX Next is a courtesy service, free of charge, to help your company set up and configure your account, all the while learning about the hottest new trends and verticals in the pay-per-call industry. Our CEO will walk you through setup, or even do it for you if you'd like. We'll show you how to get the most out of PSX and its users, for free.</p>
        </div>
        <!--Lacie-end-about-here-->


        <div class="about-right">
            <h1>Amazing things that you can do for free with PSX:</h1>
            <p>&gt; Send sales texts and emails</p>
            <p>&gt; Set up ACD to route calls to multiple buyers or internal queues</p>
            <p>&gt; Create IVR’s to route calls based on a variety of business conditions </p>
            <p>&gt; Get 500 (or more) 1-800 numbers for tracking, routing, and analyzing sales calls</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--start-about-->


<!--start-lorem-->
<div class="lorem3">
    <div class="sombra"><img src="/views/marketingSite/assets/images/sombra.png"/></div>
    <div class="container">
        <div class="lorem-top">

            <h1>Web-based Phone Software</h1>

            <div class="research">

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen01.png" alt="" />
                    <h4>Advertisers & Call Centers</h4>
                    <p>Create and manage call queues, call routing, IVR’s, track and manage internal lead gen campaigns, and run pay-per-call programs, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen02.png" alt="" />
                    <h4>Affiliates & Call Sellers</h4>
                    <p>Route calls to multiple buyers based on conditions such as hours of operation, state exclusions, priority, and other complex IVR conditions, attribute calls to specifc campaigns, invoice buyers and get paid, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen03.png" alt="" />
                    <h4>Lead & Call Gen Networks</h4>
                    <p>Create and manage your own whitelabeled network to connect your affiliates with lead & call buyers, at little to no cost.</p>
                </div>


                <div class="clearfix"></div>

            </div>


        </div>
    </div>
</div>
<!--end-lorem-->