<!--Lacie-start-about-here-->
<div class="about">
    <div class="about-main">
        <h1>PSX and the TCPA</h1>
        <h2>Your business is 100% responsible for TCPA violations.</h2>

        <div class="about-left">
            </br>
            <p align="left"><strong>PSX takes TCPA compliance seriously.</strong> If you do not know whether your call practices and methods are TCPA compliant, PSX recommends that you call a great TCPA attorney for a free consult. Attorney John Cox can help you navigate the TCPA and can be reached at 1-800-400-6968.</p>
            <p align="left"><strong>Common Carrier Exemption</strong><br />
                PSX is classified as a &quot;common carrier&quot; under the TCPA and courts have recently held that providers such as PSX are protected by the common carrier exemption in the TCPA. In <em>Rinky Dink Inc. v. Electronic Merchant Systems Inc.</em> (W.D. Wash. Feb. 24, 2015),the court held that the TCPA does not apply to common carriers in the call and text message context. The TCPA was intended to ‘apply to the persons initiating the telephone call or sending the message and ... not to the common carrier ... that transmits the call or messages and that is not the originator or controller of the content of the call or message.’ <em>Rinky Dink </em>(citing <em>Couser v. Pre-paid Legal Services Inc.</em>, 994 F.Supp.2d 1100, 1104 (S.D.Cal.2014)). You are the person initiating the call, not PSX, so please make sure that your SMS and outbound dialing practices are TCPA compliant.</p>
            <p align="left"><strong>Prior Express Written Consent (PEWC)</strong><br />
                If you use PSX to send SMS texts or outbound sales calls, you must have PEWC from each person who will be called or texted. If you are unsure of whether the PEWC records you have constitute &quot;written&quot; or &quot;consent&quot;, call attorney John Cox at 1-800-400-6968.</p>
            <p align="left"><strong>Don't Hide Behind the Autodialer</strong><br />
                Assume that the PSX platform has the ability to autodial, even if our technology does not. What constitutes an &quot;autodialer&quot; or the capability to autodial is still being hashed out in courtrooms today. Let's not test the waters.<br />
            </p>
            <p align="left"><strong>Verified Advertiser &amp; Call Center Status</strong><br />
                In order to use PSX features that could violate the TCPA, your account must be verified by PSX. Call support at 1-800-500-3222 to discuss having your account verified so that you may use outbound dialing and SMS text features.
                <br />
            </p>
        </div>
        <!--Lacie-end-about-here-->


        <div class="about-right">
            <h1>Amazing things that you can do for free with PSX:</h1>
            <p>&gt; Send sales texts and emails</p>
            <p>&gt; Set up ACD to route calls to multiple buyers or internal queues</p>
            <p>&gt; Create IVR’s to route calls based on a variety of business conditions </p>
            <p>&gt; Get 500 (or more) 1-800 numbers for tracking, routing, and analyzing sales calls</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--start-about-->



<!--start-lorem-->
<div class="lorem3">
    <div class="sombra"><img src="/views/marketingSite/assets/images/sombra.png"/></div>
    <div class="container">
        <div class="lorem-top">

            <h1>Web-based Phone Software</h1>

            <div class="research">

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen01.png" alt="" />
                    <h4>Advertisers & Call Centers</h4>
                    <p>Create and manage call queues, call routing, IVR’s, track and manage internal lead gen campaigns, and run pay-per-call programs, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen02.png" alt="" />
                    <h4>Affiliates & Call Sellers</h4>
                    <p>Route calls to multiple buyers based on conditions such as hours of operation, state exclusions, priority, and other complex IVR conditions, attribute calls to specifc campaigns, invoice buyers and get paid, all for free.</p>
                </div>

                <div class="res-left">
                    <img src="/views/marketingSite/assets/images/imagen03.png" alt="" />
                    <h4>Lead & Call Gen Networks</h4>
                    <p>Create and manage your own whitelabeled network to connect your affiliates with lead & call buyers, at little to no cost.</p>
                </div>


                <div class="clearfix"></div>

            </div>


        </div>
    </div>
</div>
<!--end-lorem-->