<!-- start send invite page -->
<div class="animate-repeat col-sm-12" ng-init="listContact()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span ng-show="update">Edit</span><span ng-show="!update">Add</span> Contact
            </h3>
        </div>
        <div class="panel-body pad0">
            <div class="col-sm-6 col-sm-offset-2">
                <form name="attr_form" class="vertical-form" ng-init="attr_err = false;" novalidate>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" ng-model="contact.first_name" name="fname" placeholder="First Name" required>
                        </div>
                        <div class="col-sm-10">
                            <span class="text-danger" ng-show="attr_err && attr_form.fname.$error.required">Please enter First Name</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" ng-model="contact.last_name" name="lname" placeholder="Last Name" required>
                        </div>
                        <div class="col-sm-10">
                            <span class="text-danger" ng-show="attr_err && attr_form.lname.$error.required">Please enter Last Name</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" ng-model="contact.email" name="email" placeholder="Email" required>
                        </div>
                        <div class="col-sm-10">
                            <span class="text-danger" ng-show="attr_err && attr_form.email.$error.required">Please enter Email</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" ng-model="contact.phone_no" name="phno" placeholder="Phone Number" required phone-input>
                        </div>
                        <div class="col-sm-10">
                            <span class="text-danger" ng-show="attr_err && attr_form.phno.$error.required">Please enter Phone number</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <select ng-model="contact.list_id" name="list_id" required>
                                <option value="">Select Contact List</option>
                                <option ng-repeat="list in lists" value="{{list._id}}" ng-selected="listid == list._id || contact.list_id == list._id">{{list.list_name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-10">
                            <span class="text-danger" ng-show="attr_err && attr_form.list_id.$error.required">Please Select Contact List</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
<!--                            <input type="checkbox" id="consent" ng-model="contact.consent" name="consent" class="regular-checkbox" required>
                            <label for="consent"></label>-->
                            <label>Was prior express written consent obtained in order to use an autodialer to send messages and sales calls to this contact?</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="radio" id="consentyes" ng-model="contact.consent" name="consent" class="regular-radio big-radio" value="true" required>
                            <label for="consentyes"></label>
                            <label for="consentyes">Yes</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="radio" id="consentno" ng-model="contact.consent" name="consent" class="regular-radio big-radio" value="false" required>
                            <label for="consentno"></label>
                            <label for="consentno">No</label>
                        </div>
                        <div class="col-sm-10">
                            <span class="text-danger" ng-show="attr_err && attr_form.consent.$error.required">Please Select Consent Option</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="submit" value="Save Contact" class="btn btn-primary" ng-click="(attr_form.$invalid) ? attr_err = true : saveContact(contact)">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End send invite page -->
