<!-- start send invite page -->
<div class="animate-repeat col-sm-12" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                Request Quote for Media 
            </h3>
        </div>
        <div class="panel-body pad0">
            <div class="col-sm-6 col-sm-offset-3">
                <form name="attr_form" ng-init="attr_err = false;" novalidate>

                    <div class="col-sm-10 form-group">
                        <input type="text" class="form-control" ng-model="attr.name" name="name" placeholder="Name" required>
                        <span class="text-danger" ng-show="attr_err && attr_form.name.$error.required">Please enter Name</span>
                    </div>
                    <div class="col-sm-10 form-group">
                        <input type="text" class="form-control" ng-model="attr.email" name="email" placeholder="Email" required>
                        <span class="text-danger" ng-show="attr_err && attr_form.email.$error.required">Please enter Email</span>
                    </div>
                    <div class="col-sm-10 form-group">
                        <input type="text" class="form-control" ng-model="attr.phone_no" name="phno" placeholder="Phone Number" required>

                        <span class="text-danger" ng-show="attr_err && attr_form.phno.$error.required">Please enter Phone number</span>
                    </div>
                    <div class="col-sm-10 form-group">
                        <p>Request price for</p>

                        <div class="col-sm-5 pull-left">
                            <input type="radio" id="tv" value="tv" ng-model="attr.media_type" name="price" class="regular-radio solid-blue"><label for="tv"></label>
                            <label for="tv">TV</label>
                        </div>
                        <div class="col-sm-5 pull-left">
                            <input type="radio" id="radio" value="radio" ng-model="attr.media_type" name="price" class="regular-radio solid-blue" ><label for="radio"></label>
                            <label for="radio">Radio</label>
                        </div>
                    </div>
                    <div class="col-sm-10 form-group">
                        <input type="submit" value="Request" class="btn btn-primary btn-flat form-control" ng-click="(attr_form.$invalid) ? attr_err = true : submitForm(attr)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End send invite page -->
