<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Calendar Script</h2></div>
        <div class="panel-body pad0 formBuilderWrapper">
            <div class="col-md-3">
                <div fb-components></div>
            </div>
            <form name="scriptForm" ng-submit="submitEverything(form, formData)">
                <div class="col-md-6 panel panel-default" style="border-radius:0;background-color:#f1f4f6">
                    <h4 class="col-md-12 panel-heading">
                        <input name="scriptName" ng-model="formData.script_name" placeholder="Script Name" class="form-control" required />
                        <span class="text-danger control-label" style="font-size: 13px;" ng-if="scriptForm.scriptName.$dirty && scriptForm.scriptName.$error.required">This Field is required</span>
                    </h4>
                    <div fb-builder="default"></div>
                    <div>
                        <input type="submit" class="btn btn-primary btn-flat btn-block btn-lg faqBtn" value="Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
