<div class="abhi tabsContainer col-sm-12">
    <div class="panel panel-default" ng-init="setTab(0);
            listContact();
            composee = false;
            receiver = false;
            preview = false;
            congo = false;">
        <div class="panel-heading"><h3>Send Message</h3><div class= "text-center text-danger" ng-show="common_msg">*Please complete the current tab before proceeding</div></div>
        <div class="panel-body">
            <div class="tabbable tabs-left">
                <ul class="nav navtabs">
                    <li ng-class="{active:isSet(0)}"><a href ng-click="routeReload();">Message Type</a></li>
                    <li ng-class="{active:isSet(1)}"><a href ng-click="(composee) ? setTab(1) : ''">Compose Message</a></li>
                    <li ng-class="{active:isSet(2)}"><a href ng-click="(receiver) ? setTab(2) : '';">Recepients</a></li>
                    <li ng-class="{active:isSet(3)}"><a href ng-click="(preview) ? setTab(3) : '';">Preview & Send</a></li>
                    <li ng-class="{active:isSet(4)}"><a href ng-click="(congo) ? setTab(4) : '';">Congratulations</a></li>
                </ul>
                <div class="tab-content">
                    <div ng-show="isSet(0)">
                        <div class="user">
                            <form name="message_type" ng-init="messageType = false;" novalidate>
                                <div class="pull-right form-group">
                                    <h4><a class="btn btn-primary btn-flat" href ng-click="(message_type.$invalid) ? messageType = true : submitMessageType(compose)">Next</a></h4>
                                </div>
                                <h4>Message Type</h4>
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div class="col-sm-12 form-group">
                                        <input type="text" class="form-control" name="desc" placeholder="Description" ng-model="compose.description" required>
                                        <span class="col-sm-4 text-danger" ng-show="messageType && message_type.desc.$error.required">Please Enter Description</span>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <p>Communication Mode :</p>
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <input type="radio" id="messageSMS" value="SMS" name="messagevia" ng-model="compose.mode" class="regular-radio solid-blue" ng-checked="compose.message_via == 'SMS'" required>
                                            <label for="messageSMS"></label>
                                            <label for="messageSMS">SMS</label>
                                        </div>
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <input type="radio" id="messageEmail" name="messagevia" value="Email" ng-model="compose.mode" class="regular-radio solid-blue" ng-checked="compose.message_via == 'Email'" required>
                                            <label for="messageEmail"></label>
                                            <label for="messageEmail">Email</label>
                                        </div>
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <input type="radio" id="messageCall" name="messagevia" value="Call" ng-model="compose.mode" class="regular-radio solid-blue" ng-checked="compose.message_via == 'Call'" required>
                                            <label for="messageCall"></label>
                                            <label for="messageCall">Call</label>
                                        </div>
                                        <span class="col-sm-4 text-danger" ng-show="messageType && message_type.messagevia.$error.required">Please Select Message Type</span>
                                    </div>
                                    <hr>

                                    <div class="col-sm-12 form-group">
                                        <p>Schedule :</p>
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <input type="radio" id="onetime" value="onetime" name="messagetype" ng-model="compose.frequency" class="regular-radio solid-blue" ng-checked="compose.message_type == 'onetime'" required>
                                            <label for="onetime"></label>
                                            <label for="onetime">One Time Message</label>
                                        </div>
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <input type="radio" id="recurring" name="messagetype" value="recurring" ng-model="compose.frequency" class="regular-radio solid-blue" ng-checked="compose.message_type == 'recurring'" required>
                                            <label for="recurring"></label>
                                            <label for="recurring">Recurring Message</label>
                                        </div>
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <input type="radio" id="weblead" name="messagetype" value="weblead" ng-model="compose.frequency" class="regular-radio solid-blue" ng-checked="compose.message_type == 'weblead'" required>
                                            <label for="weblead"></label>
                                            <label for="weblead">Associate with Web Leads</label>
                                        </div>
                                        <span class="col-sm-4 text-danger" ng-show="messageType && message_type.messagetype.$error.required">Please Select Message Type</span>
                                    </div>

                                    <div class="form-group row" ng-show="compose.frequency == 'weblead'">
                                        <hr>
                                        <div class="col-sm-12 form-group">
                                            <select name="timezone" class="form-control" ng-model="compose.offer_id">
                                                <option value="">Select Offer</option>
                                                <option ng-repeat="offer in offers" value="{{offer._id}}">{{offer.vertical_category_details.title}}</option>
                                            </select>
                                        </div>
                                    </div>



                                    <div class="form-group row" ng-show="compose.frequency == 'onetime'">
                                        <hr>
                                        <div class="col-sm-12">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <input type="radio" id="now" value="now" name="frequency" ng-model="compose.method" class="regular-radio solid-blue" ng-checked="compose.frequency == 'now'" ng-required="compose.message_type == 'onetime'">
                                                <label for="now"></label>
                                                <label for="now">Now</label>
                                            </div>
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <input type="radio" id="later" name="frequency" value="later" ng-model="compose.method" class="regular-radio solid-blue" ng-checked="compose.frequency == 'later'" ng-required="compose.message_type == 'onetime'">
                                                <label for="later"></label>
                                                <label for="later">Later</label>
                                            </div>
                                            <span class="col-sm-4 text-danger" ng-show="messageType && message_type.frequency.$error.required">Please Select</span>
                                        </div>


                                        <div ng-if="compose.method == 'later'">
                                            <hr>
                                            <div class="form-group row col-sm-12" >
                                                <div class="datePickerDiv col-sm-6">
                                                    <input type="text" class="ivr_selectX form-control" name="date" placeholder="Date" ng-model="compose.mixeddate" date-format="MM/dd/yyyy" bs-datepicker style="height: 37px; margin: 3px;" ng-required="compose.frequency == 'later'">
                                                    <span class="text-danger" ng-show="messageType && (message_type.date.$error.required || message_type.time.$error.required)">Please Select Date and Time</span>
                                                </div>
                                                <div class="col-sm-6 mrgTp3">
                                                    <div class="input-append">
                                                        <input class="span2 ivr_selectX form-control backWhite dialInputSec timeInput" bs-timepicker data-time-format="hh:mm a" name="time" ng-model="compose.time" autoclose="true" id="appendedInput" type="text" ng-required="compose.frequency == 'later'">
                                                        <span class="add-on"><i class="glyphicon glyphicon-time"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row col-sm-12">
                                                <div class="col-sm-12">
                                                    <select name="timezone" class="form-control" ng-model="compose.timezone">
                                                        <option value="">Select Timezone</option>
                                                        <option ng-repeat="timezone in timezones" ng-selected="timezone.name == compose.timezone" value="{{timezone.name}}">{{timezone.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div ng-if="compose.frequency == 'recurring'">
                                        <hr>
                                        <div class="form-group col-sm-12">
                                            <select name="method" class="compose_select form-control" ng-model="compose.method" ng-required="compose.frequency == 'recurring'">
                                                <option value="">Select</option>
                                                <option value="yearly" ng-selected="compose.method == 'yearly'">Year</option>
                                                <option value="monthly" ng-selected="compose.method == 'monthly'">Month</option>
                                                <option value="weekly" ng-selected="compose.method == 'weekly'">Week</option>
                                                <option value="daily" ng-selected="compose.method == 'daily'">Day</option>
                                            </select>
                                            <span class="text-danger" ng-show="messageType && message_type.method.$error.required">Please Select</span>
                                        </div>
                                        <div class="form-group row col-sm-3" ng-if="compose.method == 'yearly'">
                                            <select name="month" class="compose_select form-control" ng-model="compose.month" ng-required="compose.frequency == 'recurring'">
                                                <option value="">Month</option>
                                                <option value="01" ng-selected="compose.month == 01">Jan</option>
                                                <option value="02" ng-selected="compose.month == 02">Feb</option>
                                                <option value="03" ng-selected="compose.month == 03">March</option>
                                                <option value="04" ng-selected="compose.month == 04">April</option>
                                                <option value="05" ng-selected="compose.month == 05">May</option>
                                                <option value="06" ng-selected="compose.month == 06">June</option>
                                                <option value="07" ng-selected="compose.month == 07">July</option>
                                                <option value="08" ng-selected="compose.month == 08">Aug</option>
                                                <option value="09" ng-selected="compose.month == 09">Sep</option>
                                                <option value="10" ng-selected="compose.month == 10">Oct</option>
                                                <option value="11" ng-selected="compose.month == 11">Nov</option>
                                                <option value="12" ng-selected="compose.month == 12">Dec</option>
                                            </select>
                                            <span class="text-danger" ng-show="messageType && message_type.month.$error.required">Please Select</span>
                                        </div>
                                        <div class="form-group row col-sm-3" ng-init="count = 31;" ng-if="compose.method == 'yearly' || compose.method == 'monthly'">
                                            <div class="">
                                                <select name="mdate" class="compose_select form-control" ng-model="compose.date" ng-required="compose.frequency == 'recurring'">
                                                    <option value="">Date</option>
                                                    <option ng-repeat="n in []| range:count" ng-selected="compose.date == n" value="{{n}}">{{n}}</option>
                                                </select>
                                            </div>
                                            <span class="text-danger" ng-show="messageType && message_type.mdate.$error.required">Please Select</span>
                                        </div>
                                        <div class="form-group row col-sm-3" ng-if="compose.method == 'weekly'">
                                            <div class="">
                                                <select name="day" class="compose_select form-control" ng-model="compose.day" ng-required="compose.frequency == 'recurring'">
                                                    <option value="">Day</option>
                                                    <option value="0" ng-selected="compose.day == 0">Sun</option>
                                                    <option value="1" ng-selected="compose.day == 1">Mon</option>
                                                    <option value="2" ng-selected="compose.day == 2">Tue</option>
                                                    <option value="3" ng-selected="compose.day == 3">Wed</option>
                                                    <option value="4" ng-selected="compose.day == 4">Thurs</option>
                                                    <option value="5" ng-selected="compose.day == 5">Fri</option>
                                                    <option value="6" ng-selected="compose.day == 6">Sat</option>
                                                </select>
                                            </div>
                                            <span class="text-danger" ng-show="messageType && message_type.day.$error.required">Please Select</span>
                                        </div>
                                        <div class="form-group row col-sm-3" ng-if="compose.method == 'yearly' || compose.method == 'monthly' || compose.method == 'weekly' || compose.method == 'daily'">
                                            <div class="">
                                                <div class="input-append">
                                                    <input class="span2 ivr_selectX backWhite dialInputSec timeInput form-control" bs-timepicker data-time-format="hh:mm a" data-time-type="number" name="mtime" ng-model="compose.time" autoclose="true" id="appendedInput" type="text" ng-required="compose.frequency == 'recurring'">
                                                    <span class="add-on"><i class="glyphicon glyphicon-time"></i></span>
                                                </div>
                                            </div>
                                            <span class="text-danger" ng-show="messageType && message_type.mtime.$error.required">Please Select</span>
                                        </div>
                                        <div class="form-group row" ng-if="compose.method == 'yearly' || compose.method == 'monthly' || compose.method == 'weekly' || compose.method == 'daily'">
                                            <div class="col-sm-12">
                                                <select name="timezone" class="form-control" ng-model="compose.timezone">
                                                    <option value="">Select Timezone</option>
                                                    <option ng-repeat="timezone in timezones" ng-selected="compose.timezone == timezone.name" value="{{timezone.name}}">{{timezone.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <input type="submit" href ng-click="(message_type.$invalid) ? messageType = true : submitMessageType(compose)" value="Next" class="btn btn-primary btn-flat form-control">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-show="isSet(1)">
                        <div class="saas-onboard-contact-info">
                            <form name="compose_frm" ng-init="composeFrm = false;" novalidate>
                                <div class="pull-right form-group">
                                    <h4><a class="btn btn-primary btn-flat" href ng-click="setTab(0)">Previous</a>
                                        <button type="submit" class="btn btn-primary btn-flat" ng-click="(compose_frm.$invalid) ? composeFrm = true : setTab(2)">Next</button></h4>
                                </div>
                                <h4>Compose Message</h4>
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div ng-if="compose.mode == 'SMS'">
                                        <div class="col-sm-12 form-group">
                                            <input type="text" class="form-control" name="desc" placeholder="Description" ng-model="compose.description" ng-required="compose.mode == 'SMS'">
                                            <span class="col-sm-4 text-danger" ng-show="composeFrm && compose_frm.desc.$error.required">Please Enter Description</span>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <!--<input type="text" clss="form-control" name="smsheader" placeholder="SMS Header" ng-model="compose.sms_header" ng-required="compose.mode == 'SMS'" readonly>-->
                                            <select name="smsheader" class="form-control" ng-model="compose.sms_header" ng-required="compose.mode == 'SMS'">
                                                <option value="" selected>Select Caller Id</option>
                                                <option ng-repeat="number in phoneNumbers" ng-selected="number.phone_no == compose.sms_header" value="{{number.phone_no}}">{{number.phone_no}}</option>
                                            </select>
                                            <span class="col-sm-4 text-danger" ng-show="composeFrm && compose_frm.smsheader.$error.required">Please Enter SMS Header</span>
                                        </div>
                                        <div class="form-group row">
                                            <div class="partfix col-sm-12">
                                                <textarea class="up form-control" readonly="readonly" ng-model="compose.append"></textarea><br/>
                                                <textarea class="down form-control" ng-model="compose.message"></textarea>
                                                <p class="text-right">{{compose.message| smsCharCount:this}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="compose.mode == 'Email'">
                                        <div class="col-sm-12 form-group">
                                            <input type="text" class="form-control" name="desc" placeholder="Description" ng-model="compose.description" ng-required="compose.mode == 'SMS'">
                                            <span class="col-sm-4 text-danger" ng-show="composeFrm && compose_frm.desc.$error.required">Please Enter Description</span>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <input type="text" class="form-control" name="subject" placeholder="Subject" ng-model="compose.subject" ng-required="compose.mode == 'Email'">
                                            <span class="col-sm-4 text-danger" ng-show="composeFrm && compose_frm.subject.$error.required">Please Enter Subject</span>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12" text-angular="text-angular" ta-text-editor-class="border-around" ta-html-editor-class="border-around" name="htmlcontent1" ng-model="compose.message" ></div>
                                            <div ng-hide="true"><textarea ng-model="compose.message" style="width: 100%;" placeholder="Text Message Goes here"></textarea></div>
                                        </div>
                                    </div>

                                    <div ng-if="compose.mode == 'Call'">

                                        <div class="col-sm-12">
                                            <label class="row">Pre Recorded Message</label>
                                            <toggle-switch ng-model="compose.pre_record_message"></toggle-switch>
                                        </div>
                                        <div ng-if="compose.pre_record_message">
                                            <div class="col-sm-12 form-group">
                                                <select class="form-control" name="ivr_prompts" ng-model="compose.pre_record_prompt">
                                                    <option value="">Select Prompt</option>
                                                    <option ng-repeat="prompt in prompts" value="{{prompt._id}}">{{prompt.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <hr class="col-sm-12">

                                        <div class="col-sm-12">
                                            <label class="row">Leave a Message When Voicemail answers</label>
                                            <toggle-switch ng-model="compose.pre_record_message_amd"></toggle-switch>
                                        </div>
                                        <div ng-if="compose.pre_record_message_amd">
                                            <div class="col-sm-12 form-group">
                                                <select class="form-control" name="ivr_prompts" ng-model="compose.pre_record_prompt_amd">
                                                    <option value="">Select Prompt</option>
                                                    <option ng-repeat="prompt in prompts" value="{{prompt._id}}">{{prompt.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <hr class="col-sm-12">

                                        <div class="col-sm-12">
                                            <label class="row">Whisper Message <i class="fa fa-info-circle actionBtn" data-title="Whisper message is played to the agent after the caller is connected" data-placement="right" data-animation="am-flip-x" bs-tooltip></i></label>
                                            <toggle-switch ng-model="compose.whisper_message"></toggle-switch>
                                        </div>
                                        <div ng-if="compose.whisper_message">
                                            <div class="col-sm-12 form-group">
                                                <select class="form-control" name="ivr_prompts" ng-model="compose.whisper_prompt">
                                                    <option value="">Select Prompt</option>
                                                    <option ng-repeat="prompt in prompts" value="{{prompt._id}}">{{prompt.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <hr class="col-sm-12">

                                        <div class="col-sm-12 form-group">
                                            <label>Phone Number</label>
                                            <input phone-input class="form-control" ng-model="compose.phone_no" />
                                            <p>Enter a phone number to connect the caller to when the caller answers</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 mrgTp10">
                                            <input type="button" href ng-click="setTab(0)" value="Previous" class="btn btn-primary btn-flat form-control">
                                        </div>
                                        <div class="col-sm-6 mrgTp10">
                                            <input type="submit" href ng-click="(compose_frm.$invalid) ? composeFrm = true : setTab(2)" value="Next" class="btn btn-primary btn-flat form-control">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-show="isSet(2)">
                        <div class="saas-onboard-credentials">
                            <div class="pull-right form-group">
                                <h4><a class="btn btn-primary btn-flat" href type="button" ng-click="setTab(1)">Previous</a>
                                    <button class="btn btn-primary btn-flat" type="submit" ng-click="(!compose.offer_id) ? ((models.recipients.length) ? setTab(3) : err = true) : setTab(3)" >Next</button>
                                </h4>
                            </div>
                            <h4>Recipients</h4>
                            <form name="list_form">
                                <div ng-if="!compose.offer_id">
                                    <p>Just Drag and Drop the Contact List you want to send the message to,  from contact lists box to recipient list box </p>

                                    <div class="col-sm-12 simpleDragDrop">

                                        <!--                                <div class="col-sm-5">
                                                                            <div class="thumbnail" style="text-align: center;">
                                                                                <div class="btn btn-droppable" ng-repeat="item in list5" data-drop="true" ng-model='list5' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list5])'}"  jqyoui-droppable="{index: {{$index}}}" style="width: 100%">
                                                                                    <div class="btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">{{item.title}}</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-5">
                                                                            <div class="thumbnail" data-drop="true" ng-model='list4' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list4])'}"  jqyoui-droppable="{multiple:true}">
                                                                                <div class="caption">
                                                                                    <div class=" btn btn-draggable" ng-repeat="item in list4" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list4" jqyoui-draggable="{index: {{$index}},animate:true}" style="width:100%">{{item.title}}</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>-->
                                        <div class="col-md-6">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">Contact Lists</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <ul dnd-list="lists" dnd-allowed-types="allowIn">
                                                        <li ng-repeat="item in lists"
                                                            dnd-type="item.type"
                                                            dnd-draggable="item"
                                                            dnd-moved="lists.splice($index, 1)"
                                                            dnd-effect-allowed="move"
                                                            dnd-selected="models.selected = item"
                                                            ng-class="{'selected': models.selected === item}"
                                                            >
                                                            {{item.list_name}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">Recipient List</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <ul dnd-list="models.recipients" dnd-allowed-types="allowAll">
                                                        <li ng-repeat="item in models.recipients"
                                                            dnd-type="item.type"
                                                            dnd-draggable="item"
                                                            dnd-moved="models.recipients.splice($index, 1)"
                                                            dnd-effect-allowed="move"
                                                            dnd-selected="models.selected = item"
                                                            ng-class="{'selected': models.selected === item}"
                                                            >
                                                            {{item.list_name}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <p ng-show="err" class="col-sm-5 col-sm-offset-3 text-danger">Please Select Recipients</p>

                                </div>

                                <div ng-if="compose.offer_id">
                                    <p>This message will be sent to only the Web leads associated with the offer selected at the time of web lead creation.</p>
                                </div>
                                <div class="col-sm-12 col-sm-offset-2X form-group">
                                    <div class="col-sm-6">
                                        <input type="button" href ng-click="setTab(1)" value="Previous" class="btn btn-primary btn-flat form-control">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="submit" href ng-click="(!compose.offer_id) ? ((models.recipients.length) ? setTab(3) : err = true) : setTab(3)" value="Next" class="btn btn-primary btn-flat form-control">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-show="isSet(3)">
                        <div class="echeck-info">
                            <div class="form-group">
                                <div class="pull-right">
                                    <h4><a class="btn btn-primary btn-flat" type="button" ng-click=" setTab(2)" value="Previous" >Previous</a>
                                        <button class="btn btn-primary btn-flat" type="submit" ng-click="sendMessage(compose)">Send</button>
                                    </h4>
                                </div>
                            </div>
                            <h4>Preview & Send</h4>
                            <form name="form">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <table class="table table-striped">
                                        <tr ng-if="!compose.offer_id"><td><b>Delivery Time : </b></td><td>
                                                <span ng-if="compose.method == 'now'">{{CurrentDate| date : "hh:mm a"}}</span>
                                                <span ng-if="compose.method != 'now'">{{compose.time| date : "hh:mm a"}}</span>
                                            </td></tr>
                                        <tr ng-if="timeZoneName && !compose.offer_id"><td><b>TimeZone</b></td><td>{{timeZoneName}}</td></tr>
                                        <tr ng-if="!compose.offer_id"><td><b>Contact Lists :</b></td><td> <span ng-repeat="item in models.recipients"> {{item.list_name}}</span></td></tr>
                                        <tr ng-if="compose.offer_id"><td><b>Recipients :</b></td><td> Offers Web Leads</td></tr>
                                        <tr ng-if="!compose.offer_id"><td><b>Number of {{compose.mode == 'Call' ? 'Call(s)' : 'Message(s)'}} :</b> </td><td>{{msgCount}}</td></tr>
                                        <tr><td><b>Communication Mode :</b> </td><td>{{compose.mode}}</td></tr>
                                        <tr ng-if="compose.mode == 'SMS'"><td><b>SMS Header :</b> </td><td>{{compose.sms_header}}</td></tr>
                                        <tr ng-if="compose.mode == 'SMS'"><td><b>Message :</b> </td><td>{{compose.append}} - {{compose.message}}</td></tr>
                                    </table>

                                    <div ng-if="compose.mode == 'Email'">
                                        <p><b>Subject</b> : {{compose.subject}}</p>
                                        <p><b>Preview :</b></p>
                                        <div class="emailPreview" ng-bind-html="compose.message"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-6 padL0">
                                            <input type="button" href ng-click="setTab(2)" value="Previous" class="btn btn-primary btn-flat form-control">
                                        </div>
                                        <div class="col-sm-6 padR0">
                                            <input type="submit" href ng-click="sendMessage(compose)" value="Send" class="btn btn-primary btn-flat form-control">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div ng-show="isSet(4)">
                        <div class="col-sm-8 col-sm-offset-2">
                            <form name="form">
                                <div class="col-sm-10 form-group">
                                    <h5>Information has been saved successfully.</h5>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5 pull-left">
                                        <input type="submit" href ng-click="backToBoard()" class="btn btn-primary btn-flat form-control" value="Send Another Message">
                                    </div>
                                    <div class="col-sm-5 pull-left">
                                        <input type="button" href ng-click="goToNewLink('/' + currentRoleCode + '/contacts')" class="btn btn-primary btn-flat form-control" value="Go to Contact Lists">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--data-max-time="08:00 PM" data-min-time="08:00 AM"-->