<div class="animate-repeat col-sm-12 ng-scope">
    <div class="panel panel-default">
            <div class="panel-heading">
                <h3> Import contact </h3>
            </div>
        <div class="panel-body pad0">
            <div class="col-sm-9 ">
                <p class="ng-binding">Import Leads/Contacts</p>
                <div class="col-sm-6 col-sm-offset-2">  
                    <form ng-submit="uploadFile()" method="POST" class="ng-pristine ng-valid" style="padding:20px" enctype="multipart/form-data">
                        <div class="col-sm-10">
                        <input type="file"  class="form-control" file-model="myFile" name="myFile" style="padding: 0px;">
                        </div>
                        <div class="col-sm-5 pull-left mrgTp15">
                            <input  type="submit"  class="btn btn-primary btn-flat padding" value="Import">
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </div>
</div>   
<!--<div class="panel-body pad0">
<div class="col-sm-9 ">
<p class="ng-binding">Import Leads/Contacts</p>
<div class="col-sm-6 col-sm-offset-2">
<form class="vertical-form ng-pristine ng-valid" enctype="multipart/form-data" style="padding:20px" method="POST" ng-submit="uploadFile()">
<div class="col-sm-10">
<input class="form-control" type="file" file-model="myFile" name="myFile" style="padding: 0px;">
</div>
<div class="col-sm-5 pull-left" style="">
<input class="btn btn-primary padding" type="submit" value="Import">
</div>
</form>
</div>
</div>-->
<!--<style>
    .padding:{
        padding:20px;
    }
</style>-->

