<div class="animate-repeat col-sm-12"><!--  ng-init="listCallerLeads()"> -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                Lead List

                <div class="tableHeadBtnDiv">
                    <input type="text" class="form-control width-30 pull-right" ng-model="query" ng-change="tableParams.filter(query)" placeholder="Search..." autofocus>
                    <!--directive for calender-->
                    <div class="col-sm-1 pull-right">
                        <div class="pull-right dmright">
                            <div cbl-directive show-week="true" ng-init="filter = 'Filter';"></div>
                        </div>
                    </div>
                    <!--directive ends-->
                </div>

            </h3>
        </div>
        <div class="panel-body pad0" col-show-hide>
            <table ng-table ="tableParams" class="table table-condensed"  export-csv="csv">
                <!--  this will be a table that populates from Plivo   -->
                <!--<tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="callData in $data" ng-switch on="callData.CallStatus" ng-show="dataPresent">-->
                <tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="callData in $data" ng-switch on="callData.CallStatus">
                    <td data-title="'#'"  ><span ng-if="params.page() ? true : false">{{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</span></td>
                    <td ng-init="showCol[0] = true" ng-show="showCol[0]" data-title="'Created'" sortable="'created'">{{callData.created| date : 'medium'}}</td>
                    <td ng-init="showCol[1] = true" ng-show="showCol[1]" data-title="'First Name'" sortable="'first_name'" >{{callData.first_name}}</td>
                    <td ng-init="showCol[2] = true" ng-show="showCol[2]" data-title="'Last Name'" sortable="'last_name'" >{{callData.last_name}}</td>
                    <td ng-init="showCol[3] = true" ng-show="showCol[3]" data-title="'Email'" sortable="'email'" >{{callData.email}}</td>
                    <!--<td ng-init="showCol[4] = true" ng-show="showCol[4]" data-title="'Call UUID'" sortable="'callUUID'" >{{callData.callUUID|| 'N/A'}}</td>-->
<!--                    <td ng-init="showCol[5] = true" ng-show="showCol[5]" data-title="'Caller Id'" sortable="'caller_id'" >{{callData.caller_id|| 'N/A'}}</td>-->
                    <td ng-init="showCol[6] = true" ng-show="showCol[6]" data-title="'Status'" sortable="'lead_status'" >{{callData.lead_status}}</td>
                    <td header="'headerSettingGear.html'" ></td>
                </tr>
               
<!--                <tr ng-if="!dataPresent">
                    <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                </tr>-->
            </table>
            <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                csv.generate($event, "ListLeads" + currentDate + ".csv");'>CSV</a></div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> Created</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> First Name</a></li>
    <li><a ng-click="showCol[2] = !showCol[2]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Last Name</a></li>
    <li><a ng-click="showCol[3] = !showCol[3]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[3]]"></i> Email</a></li>
    <!--<li><a ng-click="showCol[4] = !showCol[4]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[4]]"></i> Call UUID</a></li>-->
<!--    <li><a ng-click="showCol[5] = !showCol[5]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[5]]"></i> Caller Id</a></li>-->
    <li><a ng-click="showCol[6] = !showCol[6]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[6]]"></i> Status</a></li>
    </ul>
    </div>
</script>