<div class="col-sm-12" ng-init="listCalendarScript()">
    <section class="content-header">
        <div class="box-header">
            <h1 class="box-title-new">Calendar Scripts</h1>
            <div class="box-tools">
                <div class="input-group input-group-sm pull-left tableSearchBox">
                    <input type="text" name="table_search" ng-model="query" ng-change="tableParams.filter(query)" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <a class="btn google-add-btn pull-right" ng-href="#!/advcc/calendar-script"><i class="fa fa-plus"></i> Script</a>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body" col-show-hide>
                <div class="table-responsive">
                    <table class="table table-condensed ng-table-responsive" ng-table="tableParams" export-csv="csv">
                        <tbody>
                            <tr ng-class="$even? 'oddcolor' : 'evencolor'" ng-repeat="script in $data" ng-if="dataPresent">
                                <td data-title="'#'"><span ng-if="params.page() ? true : false">{{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</span></td>
                                <td ng-show="showCol[0]" sortable="'script_name'" data-title="'Script Name'" data-title-text="'Script Name'">{{script.script_name}}</td>
                                <td ng-show="showCol[1]" data-title="'Associated PA'" data-title-text="'Associated PA'">
                                    <span class="glyphicon glyphicon-eye-open actionBtn" data-html="true" data-title="{{script.associated_pa| associatedPACalendarTooltip}}" data-placement="right" data-animation="am-flip-x" bs-tooltip></span>
                                </td>
                                <td data-title="'Action'" data-title-text="Action">
                                    <span class="glyphicon glyphicon-edit actionBtn" title="Edit" ng-click="editCalendarScript(script._id)"></span>
                                    <span class="glyphicon glyphicon-trash actionBtn" title="Delete" ng-click="deleteScript(script._id)"></span>
                                </td>
                                <td header="'headerSettingGear.html'" ></td>
                            </tr>
                            <tr ng-if="!dataPresent">
                                <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                    csv.generate($event, "AgentScripts" + currentDate + ".csv");'>CSV</a></div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> Script Name</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> Associated PA</a></li>
    </ul>
    </div>
</script>
