<div class="animate-repeat col-sm-12" >
    <section class="content-header">
        <div class="box-header">
            <h3 class="box-title-new">Phone Number List</h3>
            <div class="box-tools">
                <div class="input-group input-group-sm pull-left">
                    <input type="text" name="table_search" ng-model="query" ng-change="tableParams.filter(query)" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="box box-primary" ng-init="getPhoneNumberlist()">
            <div class="box-body" col-show-hide>
                <div class="table-responsive">
                    <table ng-table ="tableParams" class="table table-condensed ng-table-responsive" export-csv="csv">
                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="phones in ($data| filter : query)" ng-if="dataPresent" ng-init="show[$index] = false;">
                            <td data-title="'#'">{{$index + 1 + ((params.page() - 1) * params.count())}}</td>
                            <td ng-show="showCol[0]" data-title="'Phone number'" sortable="'phone_no'" >{{phones.phone_no}} </td>
                            <td ng-show="showCol[1]" data-title="'Provider Type'" sortable="'provider_type'" >{{phones.provider_type}} </td>
                            <td ng-show="showCol[2]" data-title="'Associated IVR'" >
                                <span class="glyphicon glyphicon-eye-open actionBtn" data-html="true" data-title="{{phones.ivr_associated| ivrTooltip}}" data-placement="right" data-animation="am-flip-x" bs-tooltip></span>
                            </td>
                            <td ng-show="showCol[3]" data-title="'Created'" sortable="'created'" >{{phones.created| date:'medium'}}</td>
                            <td data-title="'Action'">
                                <!--<span title="View" ng-click="goTOLink('/' + currentRoleCode + '/view-phone-numbers/' + phones._id)" class="glyphicon glyphicon-eye-open actionBtn"></span>-->
                                <!--<span class="glyphicon glyphicon-edit actionBtn" title="Edit" ng-click="goTOLink('/' + currentRoleCode + '/edit-phone-numbers/' + phones._id)"></span>-->
                                <!--<span class="glyphicon glyphicon-check" title="Assign IVR" ng-click="goTOLink('/' + currentRoleCode + '/assign-ivr/' + phones._id)"></span>-->
                                <a><span data-title="Assign/Remove IVR" data-animation="am-fade-and-slide-top" ng-click="getIVRs(phones._id)" template-url="AssignIVR.html"  bs-modal="modal" class="actionBtn">Assign/Remove IVR</span></a>
                                <span ng-if="currentRoleCode == 'lgn'" class="glyphicon glyphicon-trash actionBtn" titile="Delete" ng-click="deletePhoneNumber(phones._id, phones.phone_no, phones.provider)" ></span>
                            </td>
                            <td header="'headerSettingGear.html'"></td>
                        </tr>
                        <tr ng-if="!dataPresent">
                            <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                        </tr>
                    </table>
                </div>
                <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                                    csv.generate($event, "PhoneNumbers" + currentDate + ".csv");'>CSV</a></div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> Phone Number</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> Provider Type</a></li>
    <li><a ng-click="showCol[2] = !showCol[2]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Associated IVR</a></li>
    <li><a ng-click="showCol[3] = !showCol[3]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[3]]"></i> Created</a></li>
    </ul>
    </div>
</script>


<script type="text/ng-template" id="AssignIVR.html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header" ng-show="title">
    <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-bind="title"></h4>
    </div>
    <form name="ivr_form" ng-init="err = false;">
    <div class="modal-body" ng-init="data.phone_id = phone_id">
    <div ng-show="ivr_form.$invalid && err" class="alert am-fade alert-danger">
    <button ng-click="$hide()" ng-if="dismissable" class="close" type="button">×</button>
    <span>Please Select IVR</span>
    </div>
    <div ng-repeat="(nIndex, n) in ngRepeater">
    <div class="col-sm-12 ivrline">
    <div class="col-sm-1 text-center" style="padding: 6px 12px;font-size:16px;font-weight:500">{{nIndex+1}}</div>
    <div class="col-sm-7">
    <select ng-model="data.ivr[nIndex]" class="form-control" required>
    <option value="">Select IVR</option>
    <option ng-repeat="ivr in ivrs" ng-selected="ivr._id == data.ivr[nIndex]" ng-hide="hideOpt(ivr._id)" value="{{ivr._id}}">{{ivr.ivr_name}}</option>
    </select>
    </div>
    <div class="col-sm-2 fontSize25p">
    <a><i class="fa fa-minus-circle text-danger" ng-click="decrementCount(nIndex)"></i></a>
    </div>
    </div>
    </div>
    <div class="col-sm-12 ivrline" style="font-size: 16px; padding-left: 20px;">
    <a ng-click="ngRepeater.push({});"><i class="fa fa-plus-circle"></i> Add More</a>
    </div>
    </div>
    <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-flat" ng-click="(ivr_form.$invalid)?err = true:assignIVR(data);" >Submit</button>
    <button type="button" class="btn btn-primary btn-flat" ng-click="$hide()">Close</button>
    </div>
    </form>
    </div>
    </div>
    </div>

</script>

<style>
    .ivrline{
        border-bottom: 1px solid #e0e0e0;
        padding: 5px;
        margin: 5px;
    }
    .modal-footer {
        border-top:none;
    }

    .padding7p{
        padding: 7px;
    }

    .fontSize25p{
        font-size: 25px;
    }
</style>
