<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                Table Name

                <div class="tableHeadBtnDiv">
                    <button class="btn btn-primary pull-right" ng-click='getAddPhoneForm();'>Add</button>
                    <input type="text" class="form-control width-30 pull-right" ng-model="query" ng-change="tableParams.filter(query)" placeholder="Search..." autofocus>
                    <!--directive for calender-->
                    <div class="col-sm-1 pull-right">
                        <div class="pull-right dmright">
                            <div cbl-directive ng-init="filter = 'Last 7 Days';"></div>
                        </div>
                    </div>
                    <!--directive ends-->
                </div>
            </h3>
        </div>
        <div class="panel-body pad0" col-show-hide>
            <table class="table table-condensed" ng-table="tableParams" export-csv="csv">
                <tbody>
                    <tr ng-class="$even? 'oddcolor' : 'evencolor'" ng-repeat="queue in $data" ng-if="dataPresent">
                        <td data-title="'#'"><span ng-if="params.page() ? true : false">{{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</span></td>
                        <td ng-show="showCol[0]" sortable="'queue_name'" data-title="'Column A'" data-title-text="Column A">Data - {{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</td>
                        <td ng-show="showCol[1]" data-title="'Column B'" data-title-text="Column B">Data - {{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</td>
                        <td ng-show="showCol[2]" data-title="'Column C'" data-title-text="Column C">Data - {{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</td>
                        <td ng-show="showCol[3]" data-title="'Column D'" data-title-text="Column D">Data - {{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</td>
                        <td ng-show="showCol[4]" data-title="'Column E'" data-title-text="Column E">Data - {{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</td>
                        <td ng-show="showCol[5]" data-title="'Column F'" data-title-text="Column F">Data - {{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</td>
                        <td ng-show="showCol[6]" data-title="'Column G'" data-title-text="Column G">Data - {{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</td>
                        <td data-title="'Action'" data-title-text="Action">
                            <span class="glyphicon glyphicon-edit actionBtn" title="Edit" ng-click="getEditForm(queue._id)"></span>
                            <span class="glyphicon glyphicon-trash actionBtn" title="Delete" ng-click="deleteQueue(queue._id)"></span>
                        </td>
                        <td header="'headerSettingGear.html'" ></td>
                    </tr>
                    <tr ng-if="!dataPresent">
                        <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                    </tr>
                </tbody>
            </table>
            <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                csv.generate($event, "PhoneNumbers" + currentDate + ".csv");'>CSV</a></div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> Column A</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> Column B</a></li>
    <li><a ng-click="showCol[2] = !showCol[2]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Column C</a></li>
    <li><a ng-click="showCol[3] = !showCol[3]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[3]]"></i> Column D</a></li>
    <li><a ng-click="showCol[4] = !showCol[4]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[4]]"></i> Column E</a></li>
    <li><a ng-click="showCol[5] = !showCol[5]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[5]]"></i> Column F</a></li>
    <li><a ng-click="showCol[6] = !showCol[6]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[6]]"></i> Column G</a></li>
    </ul>
    </div>
</script>
