<div class="col-sm-12" ng-init="templateList()">
    <div class="panel panel-default" ng-show="listForm">
        <div class="panel-heading">
            <h3>
                Template Lists

                <div class="tableHeadBtnDiv">
                     <a class="btn btn-primary pull-right" ng-href="/#!/advcc/templates/add">Add Email Template</a>
                    <input type="text" class="form-control width-30 pull-right" ng-model="query" ng-change="tableParams.filter(query)" placeholder="Search..." autofocus>
                </div>
            </h3>
        </div>
        <div class="panel-body pad0" col-show-hide>
            <table class="table table-condensed" ng-table="tableParams" export-csv="csv">
                <tbody>
                    <tr ng-class="$even? 'oddcolor' : 'evencolor'" ng-repeat="data in $data" ng-if="dataPresent">
                        
                        <td data-title="'#'"><span ng-if="params.page() ? true : false">{{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</span></td>
                        <td ng-show="showCol[0]" sortable="'Name'" data-title="'Name'" data-title-text="'Script Name'">{{data.template_name | capitalize}}</td>
                        
                         <!-- status-->
                        <td ng-show="showCol[2]" data-title="'Status'" sortable="'status'"  ng-click="changetemplatestatus(data._id, data.status);" class="actionBtn">
                            <span ng-if="data.status == true"  class="glyphicon text-success glyphicon-ok-sign"></span>
                            <span ng-if="data.status == false"  class="glyphicon text-danger glyphicon-remove-sign"></span>
                        </td>
                        <td data-title="'Action'" data-title-text="Action">
                            <a ng-href="/#!/advcc/templates/edit/{{data._id}}" style="color:black"><span class="glyphicon glyphicon-edit actionBtn" title="Edit" > </span></a>
                             <span data-title="View Contacts" data-animation="am-fade-and-slide-top" ng-click="templateView(data._id)" template-url="/views/advCC/viewTemplate.html"  bs-modal="modal" class="glyphicon glyphicon-eye-open actionBtn"></span>
                             <span class="glyphicon glyphicon-trash actionBtn" title="Delete" ng-click="deleteTemplateList(data._id)" bs-tooltip></span>
                        </td>
                        <td  header="'headerSettingGear.html'" ></td>
                        
                    </tr>
                    <tr ng-if="!dataPresent">
                        <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                    </tr>
                </tbody>
            </table>
            <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                csv.generate($event, "AgentScripts" + currentDate + ".csv");'>CSV</a></div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> List Name</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> No of Contacts</a></li>
    </ul>
    </div>
</script>


