<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Agent Script</h2></div>
        <div class="panel-body pad0 formBuilderWrapper">
            <div class="col-md-6 col-md-offset-6 panel panel-default" style="border-radius:0;background-color:#f1f4f6">
                <h4 class="panel-heading">
                    {{formData.script_name}}
                </h4>
                <!--<div fb-builder="default"></div>-->
                <form>
                    <div ng-model="input" fb-form="default" fb-form-value="newForm" fb-default="default"></div>
                    <!--<div ng-model="input" fb-form="default" fb-default="defaultValue"></div>-->
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <input type="submit" ng-click="submit()" class="btn btn-default"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>