<div class="col-sm-8 col-sm-offset-2">
    <div>
        <div class="panel-heading col-sm-10">
            <a href="#!/{{currentRoleCode}}/list-caller-leads" class="btn  btn-primary btn-flat">Back</a>
            <h3>Upload Document                
                <a href="#!/{{currentRoleCode}}/listDocument/{{currentLeadId}}"><button class="btn btn-primary btn-flat pull-right" >List Uploaded Documents</button></a>
                <!--<a href="/#!/pa/listDocument/{{currentLeadId}}" ng-if="authenticatedUser.role_id.code == 'PA'"><button class="btn btn-primary pull-right" >List Uploaded Documents</button></a>-->

                <!--                <li class="btn btn-primary pull-right" ng-if="authenticatedUser.role_id.code == 'ADVCC'"><a href="/#!/advcc/listDocument" title="Upload Documents">List Documents</a></li>
                                <li class="btn btn-primary pull-right" ng-if="authenticatedUser.role_id.code == 'PA'"><a href="/#!/pa/listDocument" title="Upload Documents">List Documents</a></li>-->
            </h3>    
        </div>
        <form name="uploadDocument" novalidate ng-init="upd_err = false;" >
            <div class="form-group row" ng-class="{'has-error': uploadDocument.name.$dirty && uploadDocument.name.$error.required }">
                <div class="col-sm-10">
                    <input class="form-control" required type="text" name='name' ng-model="formData.name" placeholder="Name" />
                    <span ng-show="upd_err && uploadDocument.name.$error.required" class="text-danger">Name is required</span>
                </div>
            </div>
            <div class="form-group row" ng-class="{'has-error': uploadDocument.description.$dirty && uploadDocument.description.$error.required }">
                <div class="col-sm-10">
                    <textarea required name="description" class="form-control input-lg" placeholder="Description" ng-model="formData.description"></textarea>
                    <span ng-show="upd_err && uploadDocument.description.$error.required" class="text-danger">Description is required</span>
                </div>
            </div>

            <!--            <div class="form-group row" ng-class="{'has-error': uploadDocument.lead_id.$dirty && uploadDocument.lead_id.$error.required }">
                            <div class="col-sm-10">
                                <select name="lead_id" class="form-control input-lg" ng-model="formData.lead_id" required>
                                    <option value="">Select Lead</option>
                                    <option ng-repeat="lead in leadList" value="{{lead._id}}" >{{lead.email}}</option>
                                </select>
                                <span ng-show="upd_err && uploadDocument.lead_id.$error.required" class="text-danger">Please Select lead </span>
                            </div>
                        </div>-->

            <div class="LGN-contracts ">
                <div class="form-group">
                    <div class="col-sm-10">
                        <label>Drop File:</label>
                        <div ngf-drop ngf-select ng-model="files" class="drop-box" ng-click ="progPercentage = 0"
                             ngf-drag-over-class="dragover" ngf-multiple="true" ngf-pattern="">Drop file here or click to upload</div>
                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                        <ul >
                            <li ng-repeat="f in files" ng-show="f.$errorParam" style="font:smaller">
                                <span ng-show="(f.$errorParam)?true:false" class="text-danger">Invalid file pattern for {{f.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <label>Upload Log:</label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{progPercentage}}%">
                                <span class="sr-only">{{progPercentage}}% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="contracts" class="form-group">
                    <div class="col-sm-10">
                        <label>Existing Contracts:</label>
                        <ul style="list-style-type: none;">
                            <li ng-repeat="contract in contracts" style="line-height: 2.8em;">
                                <span ng-if="contract.file_name.substr(contract.file_name.lastIndexOf('.') + 1)">
                                    <img ng-src="/assets/images/{{contract.file_name.substr(contract.file_name.lastIndexOf('.') + 1)}}.png" />
                                </span>
                                {{contract.file_name}}
                                <span>&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-trash" style="cursor:pointer;" ng-click="deleteDocuments(documentId, contract._id, contract.path)"></span>
                                <span>&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-download-alt" style="cursor:pointer;" ng-click="downloadDocuments(contract.path)">
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group col-sm-10 pull-left">
                    <input type="submit" value="Submit" ng-click="(uploadDocument.$invalid) ? upd_err = true : uploadDocumentFunc(documentId, formData);" class="btn btn-primary btn-flat form-control">
                </div>
            </div>
        </form>
    </div>    
</div>
