
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
        <div class="modal-body">
           <table class="table table-striped">
               <th> Name </th>
               <th> Action </th>
               <tr ng-repeat="fileData in fileDocuments">
                   <td>{{fileData.file_name}}</td>
                    <td>
                        <span class="glyphicon glyphicon-download-alt actionBtn" style="cursor:pointer;" ng-click="viewDocument(fileData.path)">
                        <!--<span data-title="Document" data-animation="am-fade-and-slide-top" ng-click="viewDocument(fileData.path)" template-url="/views/advCC/viewSingleDocument.html"  bs-modal="modal" class="glyphicon glyphicon-eye-open actionBtn"></span>-->
                    </td>
               </tr>
            </table>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-flat" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>