<div class="col-sm-12" ng-init="viewContact()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                Contact

                <div class="tableHeadBtnDiv">
                    <a class="btn btn-primary pull-right" ng-href="/#!/advcc/contacts">Back</a>
                    <a class="btn btn-primary pull-right" ng-href="/#!/advcc/contacts/add-contact/{{listid}}">Add Contact</a>
                    <a class="btn btn-primary pull-right" ng-href="/#!/advcc/contacts/compose-message">Send Message</a>
                    <input type="text" class="form-control width-30 pull-right" ng-model="query" ng-change="tableParams.filter(query)" placeholder="Search..." autofocus>
                </div>
            </h3>
        </div>
        <div class="panel-body pad0" col-show-hide>
            <table class="table table-condensed" ng-table="tableParams" export-csv="csv">
                <thead>
<!--                <th class="header">
                    <input type="checkbox" class="regular-checkbox" id="chk" ng-model="chkall" ng-click="checkall($data, chkall)"><label for="chk"></label>
                </th>-->
                <th class="header">
                    #
                </th>
                <th class="header">
                    First Name
                </th>
                <th class="header">
                    Last Name
                </th>
                <th class="header">
                    Email
                </th>
                <th class="header">
                    Phone Number
                </th>
                <th class="header">
                    Action
                </th>
                </thead>
                <tbody>
                    <tr ng-class="$even? 'oddcolor' : 'evencolor'" ng-repeat="list in $data" ng-if="dataPresent">
                        <!--<td><input type="checkbox" id="check_{{$index}}" class="regular-checkbox" ng-click="uncheckAll(check[$index], $index)" ng-model="check[$index]" ng-true-value="{{list._id}}" ng-checked="check[$index]==list._id"><label for="check_{{$index}}"></label></td>-->
                        <td data-title="'#'"><span ng-if="params.page() ? true : false">{{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</span></td>
                        <td ng-show="showCol[0]" sortable="'first_name'" data-title="'First Name'" data-title-text="'First Name'">{{list.first_name}}</td>
                        <td ng-show="showCol[1]" sortable="'last_name'" data-title="'Last Name'" data-title-text="'Last Name'">{{list.last_name}}</td>
                        <td ng-show="showCol[2]" sortable="'email'" data-title="'Email'" data-title-text="'Email'">{{list.email}}</td>
                        <td ng-show="showCol[3]" sortable="'phone_no'" data-title="'Phone Number'" data-title-text="'Phone Number'">{{list.phone_no}}</td>
                        <td data-title="'Action'" data-title-text="Action">
                            <span class="glyphicon glyphicon-edit actionBtn" title="Edit" ng-click="goToNewLink('/' + currentRoleCode + '/contacts/edit-contact/' + list._id)"></span>
                            <!--<span data-title="View Contacts" ng-click="goToNewLink('/' + currentRoleCode + '/contacts/views-contacts/' + list._id)" class="glyphicon glyphicon-eye-open actionBtn" bs-tooltip></span>-->
                            <span class="glyphicon glyphicon-trash actionBtn" title="Delete" ng-click="deleteContact(list._id, list.list_id)" bs-tooltip></span>
                        </td>
                        <td header="'headerSettingGear.html'" ></td>
                    </tr>
                    <tr ng-if="!dataPresent">
                        <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                    </tr>
                </tbody>
            </table>
<!--            <button data-title="Compose Message" data-animation="am-fade-and-slide-top" template="/views/advCC/sendMessage.html"  bs-modal="modal" type="button" class="btn btn-primary" ng-show="check.length">
                Send Message
            </button>-->
<!--            <button data-title="Compose Email" data-animation="am-fade-and-slide-top" template="/views/advCC/sendEmail.html"  bs-modal="modal" type="button" class="btn btn-primary" ng-show="check.length">
                Send Email
            </button>-->
            <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                csv.generate($event, "AgentScripts" + currentDate + ".csv");'>CSV</a></div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> List Name</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> No of Contacts</a></li>
    </ul>
    </div>
</script>
