
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr><td><b>Description :</b></td><td>{{historyData.description}}</td></tr>
                    <tr><td><b>Delivery Time : </b></td><td> 
                            <span ng-if="historyData.timezone">{{historyData.created}}</span>
                            <span ng-if="!historyData.timezone">{{historyData.created| date:'MMM dd, yyyy hh:mm a'}}</span>
                        </td></tr>
                    <tr ng-if="historyData.timezone && historyData.timezone != 'Asia/Calcutta'"><td><b>TimeZone</b></td><td>
                            <span ng-if="historyData.timezone == 'America/New_York'">Eastern Time Zone</span>
                            <span ng-if="historyData.timezone == 'America/Chicago'">Central Time Zone</span>
                            <span ng-if="historyData.timezone == 'America/Boise'">Mountain Time Zone</span>
                            <span ng-if="historyData.timezone == 'America/Los_Angeles'">Pacific Time Zone</span>
                        </td></tr>
                    <tr><td><b>Contact Lists :</b></td><td>
                            <span ng-repeat="list in historyData.contacts">
                                {{list.list_name}}
                            </span>
                        </td></tr>
                    <tr><td><b>Success :</b></td><td>{{success}}</td></tr>
                    <tr><td><b>Failed :</b></td><td>{{failed}}</td></tr>
                    <tr><td><b>Message via :</b> </td><td>{{historyData.mode}}</td></tr>
                    <tr ng-if="historyData.mode.toUpperCase() == 'SMS'"><td><b>SMS Header :</b> </td><td>{{historyData.sms_header}}</td></tr>
                    <tr ng-if="historyData.mode.toUpperCase() == 'SMS'"><td><b>Message :</b> </td><td>{{historyData.message}}</td></tr>
                </table>

                <div ng-if="historyData.mode.toUpperCase() == 'EMAIL'">
                    <p><b>Preview :</b></p>
                    <div class="emailPreview" ng-bind-html="historyData.message"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-flat" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
