
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
        <div class="modal-body">
            <table class="table table-striped">
                <tr><td><b>Frequency:</b></td><td>  {{data.method | capitalize}}</td></tr>
                <tr><td><b>Time:</b></td><td> <div ng-if="data.hours < 12 && data.hours != 0">{{data.hours | append}} : {{data.minutes === 0?'00':data.minutes }}AM</div><div ng-if="data.hours > 12">{{data.hours - 12 | append}} : {{data.minutes === 0?'00':data.minutes }}PM</div><div ng-if="data.hours == 0 ">12 : {{data.minutes}} AM</div></td></tr>
                <tr ng-if="!data.method"><td><b>Day Of Week:</b></td><td> {{data.day}}</td></tr>
                <tr ng-if="!data.method"><td><b>Month Date :</b></td><td> {{data.date}}</td></tr>
                <tr><td><b>Type :</b></td><td> {{data.mode}}</td></tr>
                <tr><td><b>Message :</b> </td><td>{{data.message}}</td></tr>
                <tr ng-if="data.subject"><td><b>Subject :</b></td><td> {{data.subject}}</td></tr>
            </table>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-flat" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>