
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
        <div class="modal-body">
           <!--<iframe src="{{filePath}}"></iframe>-->
<!--           <object data="{{filePath}}#view=Fit" type="application/pdf" width="100%" height="850">
                <p>
                    It appears your Web browser is not configured to display PDF files. No worries, just <a href="{{filePath}}">click here to download the PDF file.</a>
                </p>
            </object>-->

            <!--<embed src="{{filePath}}" width="200" height="200"></embed>-->
            
            <a target="_self" href="{{filePath}}" download="{{filePath}}">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-flat" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>