<!-- <div class="Absolute-Center is-Responsive">
		<div class="panel panel-default">
			<div class="panel-heading">Page not Found.</div>
		  	<div class="panel-body">404 Page Not Found.

                            Please <a href="#!/">Click here</a> to go to dashboard.
			{{error}}
			</div>
		</div>
	</div>	 -->

<!--	<div class="container">
        <div class="row">
        	<div class="col-lg-12 text-center mrgbtp30">
            	<h2 class="404">Under Construction</h2>
            	<h4 class="secondtxt">Support</h4>
                <p class="lasttxt">Coming Soon</p>
                <a class="btn btn-primary" ng-click="backToDashboard()">Go To Dashboard</a>
            </div>

        </div>
    </div>
    <style>
		h2 {
		font-size: 120px !important;
		}
		h4 {
		font-size: 42px !important;
		}
		.mrgbtp30{
			margin-bottom:30px;
			margin-top: 30px;
		}
    </style>
    
    
    -->
    
    
    <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center mrgbtp30">
            <h2 class="404"><i class="fa fa-gears"></i>
            </h2>
            <h4 class="secondtxt">Under Construction</h4>
            <p class="lasttxt">This page is under construction will come soon. Click on below button to go Dashboard</p>
            <a href="#!/{{currentRoleCode}}/dashboard"  class="btn btn-primary">Go To Your Dashboard</a>
        </div>

    </div>
</div>
<style>
    h2 {
    font-size: 280px !important;
    }
    h4 {
    font-size: 24px !important;
    }
    .mrgbtp30{
        margin-bottom:30px;
        margin-top: 30px;
    }
</style>
