<div class="login-box">
    <div class="login-logo logo">
        <span class="logo-lg"></span>
    </div>
    <div class="login-box-body">
        <h4 class="login-box-msg">Sign in to your account</h4>
        <form name="form" ng-submit="(iswhitelabeled)?whiteLabelLogin(User):login(User)" role="form" ng-init="log_err = false" novalidate>
            <div class="form-group has-feedback" ng-class="{ 'has-error': form.username.$dirty && (form.username.$error.required || form.username.$error.email) }">
                <input type="email" name="username" id="username" class="form-control" placeholder="Email" ng-model="User.username" required tabindex="1" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span ng-show="log_err && form.username.$error.required" class="text-danger">Email is required</span>
                <span ng-show="log_err && form.username.$error.email" class="text-danger">Please enter a valid email</span>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': form.password.$dirty && (form.password.$error.required || form.password.$error.minlength) }">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="User.password" required ng-minlength="6" tabindex="2" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span ng-show="log_err && form.password.$error.required" class="text-danger">Password is required</span>
                <span ng-show="log_err && form.password.$error.minlength" class="text-danger">Please enter atleast 6 characters</span>
            </div>
            <div class="row">
                <input type="checkbox" ng-model="User.remember_me" id="rememberMe" class="regular-checkbox big-radioX solid-blue">
                <label for="rememberMe"></label>
                <label for="rememberMe">Remember Me</label>
            </div>
            <div class="row margin7p">
                <button type="submit" ng-click="form.$invalid ? log_err = true : '';" class="btn btn-primary btn-lg btn-block btn-flat" busy='<i class="fa fa-spinner fa-pulse"></i>'>
                    Sign In
                </button>
            </div>
        </form>
        <div class="social-auth-links text-center">
            <p><a href="#!/forgot_password" title="Click here if you forgot your password">Can't access your account?</a></p>
            <p ng-show="!iswhitelabeled">Don't have an account? - <a href="#!/register_lgn" title="Register as an LGN"> Register</a></p>
            <p ng-show="iswhitelabeled">Don't have an account? - <a href="#!/register_buyer" title="Register as a Buyer"> Register Buyer</a> OR <a href="#!/register_seller" title="Register as a Seller"> Register Seller</a></p>
        </div>
    </div>

</div>