
<div class="page">

    <!-- <div class="row">
            <div class="col-md-5">
            <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Profile Info</strong></div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <ul class="list-unstyled list-info">
                            <li class="ng-binding">
                                <span class="icon glyphicon glyphicon-user"></span>
                                <label>User name</label>
                                Lisa Doe
                            </li>
                            <li>
                                <span class="icon glyphicon glyphicon-envelope"></span>
                                <label>Email</label>
                                name@example.com
                            </li>
                            <li>
                                <span class="icon glyphicon glyphicon-home"></span>
                                <label>Address</label>
                                Street 123, Avenue 45, Country
                            </li>
                            <li>
                                <span class="icon glyphicon glyphicon-earphone"></span>
                                <label>Contact</label>
                                (+012) 345 6789
                            </li>
                            <li>
                                <span class="icon glyphicon glyphicon-flag"></span>
                                <label>Nationality</label>
                                Australia
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            </section>
</div>
        <div class="col-md-7">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Login Credentials </strong></div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" name="login_credentialForm">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Current Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Current Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="New Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
                            <div class="col-sm-10">
                                <input type="Confirm password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Change Password</button>
                            </div>
                        </div>
                    </form>  
                </div>
            </section>
        </div>
    </div> -->
    <!-- Start My profile section -->
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Contact Info</strong></div>
                <div class="panel-body">
                <div ng-show="error_contact" class="alert alert-danger">{{error_contact}}</div>
                <div ng-show="success_contact" class="alert alert-success">{{success_contact}}</div>
                    <form class="form-horizontal" role="form" name="contact_info">
                        <div class="form-group">
                            <label for="firstName" class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstName" data-ng-model="contactInfo.first_name" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="lastName" data-ng-model="contactInfo.last_name"placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addLine1" class="col-sm-2 control-label">Address Line 1</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="addLine1" data-ng-model="contactInfo.addressLine1" placeholder="Address Line 1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addLine2" class="col-sm-2 control-label">Address Line 2</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="addLine2" data-ng-model="contactInfo.addressLine2" placeholder="Address Line 2" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city" class="col-sm-2 control-label">City</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="city" data-ng-model="contactInfo.city" placeholder="City" required>
                            </div>
                            <label for="state" class="col-sm-2 control-label">State</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="state"  data-ng-model="contactInfo.state" placeholder="State" required>
                            </div>
                            <label for="zip" class="col-sm-2 control-label">Zip</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="zip" data-ng-model="contactInfo.zip" placeholder="Zip" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country" class="col-sm-2 control-label">Country</label>
                            <div class="col-sm-2">
                                <span class="ui-select">
                                <select name="countryDD" data-ng-model="contactInfo.country" required>
                                <option value="US">US</option>
                                </select>
                                </span>
                            </div>
                            <label for="timezone" class="col-sm-2 control-label">Time Zone</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="timezone" data-ng-model="contactInfo.time_zone" placeholder="Time Zone" required>
                            </div>
                        </div>
                        


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" data-ng-disabled="contact_info.$invalid "
                                data-ng-click="submitContactInfo(contactInfo)" >Save Details</button>
                            </div>
                        </div>
                    </form>  
                </div>
            </section>
        <!-- End My profile section -->
           
        <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Company Profile Set Up</strong></div>
                <div class="panel-body">
                <div ng-show="error_companyInfo" class="alert alert-danger">{{error_companyInfo}}</div>
                <div ng-show="success_companyInfo" class="alert alert-success">{{success_companyInfo}}</div>
                    <form class="form-horizontal" role="form" name="company_form">
                        <div class="form-group">
                            <label for="companyName" class="col-sm-2 control-label">Company Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="companyName" placeholder="Company Name" data-ng-model="companyInfo.company_name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ownerName" class="col-sm-2 control-label">Owner Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="ownerName" placeholder="Owner Name" data-ng-model="companyInfo.owner_name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ownerEmail" class="col-sm-2 control-label">Owner Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="ownerEmail" placeholder="Owner Email" data-ng-model="companyInfo.owner_email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ownerPhone" class="col-sm-2 control-label">Owner Phone Number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="ownerPhone" placeholder="Owner Phone Number" data-ng-model="companyInfo.owner_phone" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="domainUrl" class="col-sm-2 control-label">Domain Or Subdomain URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="domainUrl" placeholder="Domain Or Subdomain URL[For Masking]" data-ng-model="companyInfo.domain_url" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="supportEmail" class="col-sm-2 control-label">Support Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="supportEmail" placeholder="Support Email" data-ng-model="companyInfo.support_email" required>
                            </div>
                        </div>
                      <!--   <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Company Logo</label>
                            <div class="col-sm-2">
                                <input type="file" title="Choose File"  name="block_image" id="block_image" data-ui-file-upload class="btn-primary" file-model="companyInfo.block_image" ng-file-select="onLogoFileSelect($files)" onclick="this.value=null" accept="image/*" required 
                            />
                            </div>
                            <div class="col-sm-3 pull-right" ng-hide="logo_clicked">
                            <img  ng-src="/assets/images/companyLogo_contracts/{{companyInfo.logo}}"  width="100" height="100"/>
                            </div>
                            <div class="space" ng-show="companyLogo != null">
                                    <div class="sel-file" ng-repeat="f in selectedFiles">
                                    <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}" width="500" height="200"/>
                                    </div>
                          </div>
                        </div> -->
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Contract Document</label>
                            <div class="col-sm-2">
                    
   <input type="file" title="Choose Contract File"  name="contract_doc" id="contract_doc" class="btn-primary" data-file-model="companyInfo.contract_doc" ng-file-select="onContractFileSelect($files)" onclick="this.value=null" accept="image/*" required 
                            />
                            </div>
                            <div class="col-sm-3 pull-right" ng-hide="contract_clicked">
                            <img  ng-if="companyInfo.contract_doc" ng-src="/assets/images/companyLogo_contracts/{{companyInfo.contract_doc}}"  width="100" height="100"/>
                            </div>
                            <div class="space" ng-show="contract_docs != null">
                                    <div class="sel-file" ng-repeat="f in selectedFiles">
                                    <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}" width="500" height="200"/>
                                    </div>
                          </div>
                        </div>
                        


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" data-ng-disabled="company_form.$invalid "
                                data-ng-click="submitCompanyProfile(companyInfo)">Save Details</button>
                            </div>
                        </div>
                    </form>  
                </div>
            </section>


</div>
<style>
    .ui-select > select {
    border: 1px solid #cbd5dd;
    border-radius: 0;
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 15px 10px 10px;
    position: relative;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width:135px;

}
</style>