<div ng-show="showListCampaign" class="animate-repeat col-sm-12">
    <section class="content-header">
        <h1>
            Campaign List
        </h1>
        <!--              <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Verticals</a></li>
                        <li class="active">List</li>
                      </ol>-->
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"></h3>

                <div class="box-tools">
                    <button class="btn btn-primary pull-right" ng-click='getAddCampaignForm();'>Add</button>
                    <div class="input-group input-group-sm pull-left tableSearchBox">
                        <input type="text" name="table_search" ng-model="query" ng-change="tableParams.filter(query)" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-condensed">
                    <tbody>
                        <tr class="tablehead">
                            <th>S.no.</th>
                            <th style="cursor:pointer;" ng-click="sortType = 'campaign_name';
                                    sortReverse = !sortReverse">Campaign Name<span ng-show="sortType == 'campaign_name'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa - caret - down'; "></span></th>
                            <th style="cursor:pointer;" ng-click="sortType = 'promotion_type';
                                    sortReverse = !sortReverse">Promotion type<span ng-show="sortType == 'promotion_type'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa - caret - down'; "></span></th>
                            <th style="cursor:pointer;" ng-click="sortType = 'title';
                                    sortReverse = !sortReverse">Offer-Vertical <span ng-show="sortType == 'title'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa - caret - down'; "></span></th>
                            <th style="cursor:pointer;" ng-click="sortType = 'title';
                                    sortReverse = !sortReverse">Offer-Category<span ng-show="sortType == 'title'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa - caret - down'; "></span></th>
                            <th style="cursor:pointer;" ng-click="sortType = 'status';
                                    sortReverse = !sortReverse">Status<span ng-show="sortType == 'status'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa - caret - down'; "></span></th>
                            <th style="cursor:pointer;" ng-click="sortType = 'created';
                                    sortReverse = !sortReverse">Created<span ng-show="sortType == 'created'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa - caret - down'; "></span></th>
                            <th>Action</th>
                        </tr>
                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="campaign in campaignList| filter:query | orderBy: sortType:sortReverse">
                            <td class="">{{$index + 1}}</td>
                            <td class="">{{campaign.campaign_name}}</td>
                            <td class="">{{campaign.promotion_type}}</td>
                            <td class="">{{campaign.offer_id.vertical_category_details.vertical_name}}</td>
                            <td class="">{{campaign.offer_id.vertical_category_details.category_name}}</td>
                            <td class="" style="cursor:pointer;" ng-click="statusCampaign(campaign._id, campaign.status);">{{campaign.status}}</td>
                            <td class="">{{campaign.created| date:'medium'}}</td>
                            <td>
                                <!--<span style="cursor:pointer;" ng-click="campaignView(campaign._id)" class="glyphicon glyphicon-eye-open"></span>-->
                                <span data-title="Campaign Details" data-animation="am-fade-and-slide-top" ng-click="campaignView(campaign._id)" templateUrl="View.html"  bs-modal="modal" class="glyphicon glyphicon-eye-open actionBtn"></span>
                                &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-edit" style="cursor:pointer;" ng-click="getEditCampaignForm(campaign._id)"></span>
                                &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-trash" style="cursor:pointer;" ng-click="deleteCampaign(campaign._id)" ></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<!-- End list the campaign -->


<!-- start View the campaign -->
<script type="text/ng-template" id="View.html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header" ng-show="title">
    <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-bind="title"></h4>
    </div>
    <div class="modal-body">
    <p><b>Campaign Name:</b>  {{campaignInfo.campaign_name}}</p>
    <p><b>Campaign Description:</b> {{campaignInfo.campaign_description}}</p>
    <p><b>Promotion Type:</b> {{campaignInfo.promotion_type}}</p>
    <p><b>Tracking Number:</b> {{campaignInfo.tracking_id.unique_phone_number}}</p>
    <p><b>Offer:</b> {{campaignInfo.offer_id.title}}</p>
    <p><b>Status:</b>
    <span ng-show="campaignInfo.status=='active'" class="label label-success">Active</span>
    <span ng-show="campaignInfo.status=='deactive'" class="label label-danger">Deactive</span>
    </p>
    <p><b>Created:</b> {{campaignInfo.created| date:'medium'}}</p>
    <p><b>Modified:</b> {{campaignInfo.modified| date:'medium'}}</p>
    <p><img  ng-if="campaignInfo.image" ng-src="assets/images/campaigns/{{campaignInfo.image}}" /></p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-flat" ng-click="$hide()">Close</button>
    </div>
    </div>
    </div>
    </div>
</script>
<!-- end View the campaign -->


<!-- start add the campaign -->
<div ng-show="showAddCampaign" class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Add Campaign</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-md-offset-3">
                    <div ng-show="error" class="alert alert-danger">{{error}}</div>
                    <div ng-show="success" class="alert alert-success">{{success}}</div>
                    <form class="form-signup" name="form" campaign="form" ng-submit="createCampaign(campaign);">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-campaign"></i></span>
                            <input class="form-control" required type="text" name='campaign_name' ng-model="campaign.campaign_name" placeholder="Campaign name" tabindex="1"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-campaign"></i></span>
                            <input class="form-control" required type="text" name='campaign_description' ng-model="campaign.campaign_description" placeholder="Campaign description" tabindex="2"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-campaign"></i></span>
                            <input class="form-control" required type="text" name='promotion_type' ng-model="campaign.promotion_type" placeholder="Promotion type" tabindex="3"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-campaign"></i></span>
                            <input class="form-control" required type="text" name='start_date' ng-model="campaign.start_date" placeholder="Start date" tabindex="4"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-campaign"></i></span>
                            <input class="form-control" required type="text" name='end_date' ng-model="campaign.end_date" placeholder="End date" tabindex="5"/>
                        </div>
                        <div class="form-group">
                            <label>Campaign Image Upload</label>
                            <input  ng-model="campaign.image" name="files" accept="image/png, image/jpeg" ng-file-select type="file" tabindex="6" multiple="true"/>
                        </div>
                        <div class="form-group input-group">
                            <label>Tracking Number</label>
                            <select type="text" required name="offer_id" id="offer_id" class="form-control input-lg" placeholder="Tracking Number" ng-model="campaign.tracking_id" tabindex="7">
                                <option value="">Select</option>
                                <option ng-repeat="phone in phoneList" value="{{phone._id}}" >{{phone.unique_phone_number}}</option>
                            </select>
                        </div>
                        <div class="form-group" >
                            <label>Offer</label>
                            <select type="text" required name="offer_id" id="offer_id" class="form-control input-lg" placeholder="Offer" ng-model="campaign.offer_id" tabindex="8">
                                <option value="">Select</option>
                                <option ng-repeat="offer in offerList" value="{{offer._id}}" >{{offer.title}}</option>
                            </select>
                        </div>
                        <div class="form-group" >
                            <label>Status</label>
                            <select type="text" required name="status" id="status" class="form-control input-lg" placeholder="Status" ng-model="campaign.status" tabindex="9">
                                <option value="">Select</option>
                                <option value="active">Active</option>
                                <option value="deactive">Deactive</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn  btn-primary btn-block" tabindex="10" ng-click="back();">Back</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn  btn-primary btn-block" tabindex="11" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Add the campaign -->


<!-- start edit the campaign -->
<div ng-show="showEditCampaign" class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Edit Campaign</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-md-offset-3">
                    <div ng-show="error" class="alert alert-danger">{{error}}</div>
                    <div ng-show="success" class="alert alert-success">{{success}}</div>
                    <form class="form-signup" name="form" campaign="form" ng-submit="editCampaign(campaign);" >
                        <input type="hidden" name='name' ng-model="campaign._id" />
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-campaign"></i></span>
                            <input class="form-control" required type="text" name='campaign_name' ng-model="campaign.campaign_name" placeholder="Campaign name" tabindex="1"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-campaign"></i></span>
                            <input class="form-control" required type="text" name='campaign_description' ng-model="campaign.campaign_description" placeholder="Campaign description" tabindex="2"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-campaign"></i></span>
                            <input class="form-control" required type="text" name='promotion_type' ng-model="campaign.promotion_type" placeholder="Promotion type" tabindex="3"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-campaign"></i></span>
                            <input class="form-control" required type="text" name='start_date' ng-model="campaign.start_date" placeholder="Start date" tabindex="4"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-campaign"></i></span>
                            <input class="form-control" required type="text" name='end_date' ng-model="campaign.end_date" placeholder="End date" tabindex="5"/>
                        </div>
                        <div class="form-group">
                            <label>Campaign Image Upload</label>
                            <input  ng-model="campaign.image" name="files" accept="image/png, image/jpeg" ng-file-select type="file" tabindex="6" multiple="true" ng-click="onFileSelect"/>
                            <img ng-hide="clicked" ng-if="campaign.image" ng-src="assets/images/campaigns/{{campaign.image}}"  width="300" height="150" title="{{campaign.image}}" alt="{{campaign.image}}"/>
                        </div>
                        <div class="form-group input-group">
                            <label>Tracking Number</label>
                            <select type="text" required name="offer_id" id="offer_id" class="form-control input-lg" placeholder="Tracking Number" ng-model="campaign.tracking_id" tabindex="7">
                                <option value="">Select</option>
                                <option ng-repeat="phone in phoneList" value="{{phone._id}}" ng-selected="phone._id == campaign.tracking_id" >{{phone.unique_phone_number}}</option>
                            </select>
                        </div>
                        <div class="form-group" >
                            <label>Offer</label>
                            <select type="text" required name="offer_id" id="offer_id" class="form-control input-lg" placeholder="Offer" ng-model="campaign.offer_id" tabindex="8">
                                <option value="">Select</option>
                                <option ng-repeat="offer in offerList" value="{{offer._id}}"  ng-selected="offer._id == campaign.offer_id">{{offer.title}}</option>
                            </select>
                        </div>
                        <div class="form-group" >
                            <label>Status</label>
                            <select type="text" required name="status" id="status" class="form-control input-lg" placeholder="Status" ng-model="campaign.status" tabindex="9">
                                <option value="">Select</option>
                                <option value="active">Active</option>
                                <option value="deactive">Deactive</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn  btn-primary btn-block" tabindex="10" ng-click="back();">Back</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn  btn-primary btn-block" tabindex="11" type="submit">Edit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End edit the campaign -->
