<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="tabsContainer">
 <div class="panel panel-default" ng-controller="TabsCtrl as tab">
  <div class="panel-heading">On board Advertiser</div>
  <div class="panel-body">
    <div class="tabbable tabs-left">
      <ul class="nav navtabs">
        <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Contact Info</a></li>
        <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Login Credentials</a></li>
        <li ng-class="{active:tab.isSet(3)}"><a href ng-click="tab.setTab(3)">ECheck Information</a></li>
        <li ng-class="{active:tab.isSet(4)}"><a href ng-click="tab.setTab(4)">Credit Card Information</a></li>
        <li ng-class="{active:tab.isSet(5)}"><a href ng-click="tab.setTab(5)">Auto Recharge</a></li>
        <li ng-class="{active:tab.isSet(6)}"><a href ng-click="tab.setTab(6)">Export Call Data</a></li>
        <li ng-class="{active:tab.isSet(7)}"><a href ng-click="tab.setTab(7)">Integrations</a></li>
        <li ng-class="{active:tab.isSet(8)}"><a href ng-click="tab.setTab(8)">Customize your instance</a></li>
        <li ng-class="{active:tab.isSet(9)}"><a href ng-click="tab.setTab(9)">Contracts</a></li>
        <li ng-class="{active:tab.isSet(10)}"><a href ng-click="tab.setTab(10)">Media Agency</a></li>
      </ul>
      <div class="tab-content">
        <div ng-show="tab.isSet(1)">
          <div class="saas-onboard-contact-info">
            <h4>Contact Info</h4>
            <div class="contact-info col-sm-8 col-sm-offset-2">
              <div ng-show="success_contact" class="alert alert-success">{{success_contact}}</div>  
              <div ng-show="error_contact" class="alert alert-danger">{{error_contact}}</div>
              <form class="vertical-form" role="form" name="contact_info">
                <div class="form-group">
                 <!--  <label for="firstName" class="col-sm-2 control-label">First Name</label> -->
                 <div class="col-sm-10">
                  <input type="text" class="form-control" id="firstName" data-ng-model="contactInfo.first_name" placeholder="First Name" required>
                </div>
              </div>
              <div class="form-group">
                <!-- <label for="lastName" class="col-sm-2 control-label">Last Name</label> -->
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lastName" data-ng-model="contactInfo.last_name"placeholder="Last Name" required>
                </div>
              </div>
               <div class="form-group">
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" data-ng-model="contactInfo.email"placeholder="Email" required>
                </div>
              </div>
               <div class="form-group">
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="phone_no" data-ng-model="contactInfo.phone_no"placeholder="Phone Number" required>
                  <!-- <span class="alert-danger">Please Enter Valid Email</span> -->
                </div>
              </div>
              <div class="form-group">
                <!-- <label for="addLine1" class="col-sm-2 control-label">Address Line 1</label> -->
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="addLine1" data-ng-model="contactInfo.addressLine1" placeholder="Address Line 1" required>
                </div>
              </div>
              <div class="form-group">
                <!-- <label for="addLine2" class="col-sm-2 control-label">Address Line 2</label> -->
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="addLine2" data-ng-model="contactInfo.addressLine2" placeholder="Address Line 2" required>
                </div>
              </div>
              <div class="form-group">
                <!-- <label for="city" class="col-sm-2 control-label">City</label> -->
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="city" data-ng-model="contactInfo.city" placeholder="City" required>
                </div>
                <!-- <label for="state" class="col-sm-2 control-label">State</label> -->
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="state"  data-ng-model="contactInfo.state" placeholder="State" required>
                </div>
                <!-- <label for="zip" class="col-sm-2 control-label">Zip</label> -->
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="zip" data-ng-model="contactInfo.zip" placeholder="Zip" required>
                </div>
              </div>
              <div class="form-group">
                <!-- <label for="country" class="col-sm-2 control-label">Country</label> -->
                <div class="col-sm-10">
                  <select name="countryDD" data-ng-model="contactInfo.country" required>
                    <option value="" >Select Country</option>
                    <option value="USA">USA</option>
                    <option value="Afganistan">Afghanistan</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Belize">Belize</option>
                    <option value="Benin">Benin</option>
                    <option value="Bermuda">Bermuda</option>
                    <option value="Bhutan">Bhutan</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Bonaire">Bonaire</option>
                    <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Brazil">Brazil</option>
                    <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                    <option value="Brunei">Brunei</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Canada">Canada</option>
                    <option value="Canary Islands">Canary Islands</option>
                    <option value="Cape Verde">Cape Verde</option>
                    <option value="Cayman Islands">Cayman Islands</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Chad">Chad</option>
                    <option value="Channel Islands">Channel Islands</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Christmas Island">Christmas Island</option>
                    <option value="Cocos Island">Cocos Island</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Congo">Congo</option>
                    <option value="Cook Islands">Cook Islands</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Cote DIvoire">Cote D'Ivoire</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Curaco">Curacao</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czech Republic">Czech Republic</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Dominican Republic">Dominican Republic</option>
                    <option value="East Timor">East Timor</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt">Egypt</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                    <option value="Eritrea">Eritrea</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Falkland Islands">Falkland Islands</option>
                    <option value="Faroe Islands">Faroe Islands</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="French Guiana">French Guiana</option>
                    <option value="French Polynesia">French Polynesia</option>
                    <option value="French Southern Ter">French Southern Ter</option>
                    <option value="Gabon">Gabon</option>
                    <option value="Gambia">Gambia</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Germany">Germany</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Great Britain">Great Britain</option>
                    <option value="Greece">Greece</option>
                    <option value="Greenland">Greenland</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Guadeloupe">Guadeloupe</option>
                    <option value="Guam">Guam</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Guyana">Guyana</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Iceland">Iceland</option>
                    <option value="India">India</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Iran">Iran</option>
                    <option value="Iraq">Iraq</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Isle of Man">Isle of Man</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Japan">Japan</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="Korea North">Korea North</option>
                    <option value="Korea Sout">Korea South</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                    <option value="Laos">Laos</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Liberia">Liberia</option>
                    <option value="Libya">Libya</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macau">Macau</option>
                    <option value="Macedonia">Macedonia</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Mali">Mali</option>
                    <option value="Malta">Malta</option>
                    <option value="Marshall Islands">Marshall Islands</option>
                    <option value="Martinique">Martinique</option>
                    <option value="Mauritania">Mauritania</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mayotte">Mayotte</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Midway Islands">Midway Islands</option>
                    <option value="Moldova">Moldova</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Mongolia">Mongolia</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Nambia">Nambia</option>
                    <option value="Nauru">Nauru</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Netherland Antilles">Netherland Antilles</option>
                    <option value="Netherlands">Netherlands (Holland, Europe)</option>
                    <option value="Nevis">Nevis</option>
                    <option value="New Caledonia">New Caledonia</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Niger">Niger</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Niue">Niue</option>
                    <option value="Norfolk Island">Norfolk Island</option>
                    <option value="Norway">Norway</option>
                    <option value="Oman">Oman</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Palau Island">Palau Island</option>
                    <option value="Palestine">Palestine</option>
                    <option value="Panama">Panama</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Peru</option>
                    <option value="Phillipines">Philippines</option>
                    <option value="Pitcairn Island">Pitcairn Island</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Republic of Montenegro">Republic of Montenegro</option>
                    <option value="Republic of Serbia">Republic of Serbia</option>
                    <option value="Reunion">Reunion</option>
                    <option value="Romania">Romania</option>
                    <option value="Russia">Russia</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="St Barthelemy">St Barthelemy</option>
                    <option value="St Eustatius">St Eustatius</option>
                    <option value="St Helena">St Helena</option>
                    <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                    <option value="St Lucia">St Lucia</option>
                    <option value="St Maarten">St Maarten</option>
                    <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                    <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                    <option value="Saipan">Saipan</option>
                    <option value="Samoa">Samoa</option>
                    <option value="Samoa American">Samoa American</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Somalia">Somalia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Spain">Spain</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Swaziland">Swaziland</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Syria">Syria</option>
                    <option value="Tahiti">Tahiti</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Tanzania">Tanzania</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Togo">Togo</option>
                    <option value="Tokelau">Tokelau</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Uganda">Uganda</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Erimates">United Arab Emirates</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="USA">USA</option>
                    <option value="Uraguay">Uruguay</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="Vatican City State">Vatican City State</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                    <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                    <option value="Wake Island">Wake Island</option>
                    <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                    <option value="Yemen">Yemen</option>
                    <option value="Zaire">Zaire</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">  
                </div>  
                <div class="col-sm-10">  
                  <input type="submit" value="submit" class="btn btn-primary">
                </div>  
              </div>
            </form> 
          </div>
        </div>
      </div>
      <div ng-show="tab.isSet(2)">
        <div class="saas-onboard-credentials">
          <h4>Login Credentials</h4>
          <div class="credentials-info col-sm-8 col-sm-offset-2">
            <form name="form" class="vertical-form"> 
             <div class="form-group">
              <div class="col-sm-10">
                <input type="text" class="form-control" id="email" data-ng-model="login.email" placeholder="Email" required>
              </div>
            </div> 
            <div class="form-group">
              <div class="col-sm-10">
                <input type="password" class="form-control" id="currentpassword" data-ng-model="login.currentpassword" placeholder="Current Password" required>
              </div>
            </div>     
            <div class="form-group">
              <div class="col-sm-10">
                <input type="password" class="form-control" id="password" data-ng-model="login.password" placeholder="Password" required>
              </div>
            </div>  
            <div class="form-group">
              <div class="col-sm-10">
                <input type="password" class="form-control" id="cpassword" data-ng-model="login.cpassword" placeholder="Confirm Password" required>
              </div>
            </div>      
            <div class="form-group">
              <div class="col-sm-2">  
              </div>  
              <div class="col-sm-10">  
                <input type="submit" value="submit" class="btn btn-primary">
              </div>  
            </div>
          </form>
        </div>
      </div>
    </div>
    <div ng-show="tab.isSet(3)">
      <div class="echeck-info"><h4>eCheck Information</h4>
        <p><b>Note : </b>PSX.io software is free to use, but all great software needs to be hosted somewhere. PSX is hosted on Amazon Web Servers that scale for all of our users and bill only for what throughput is used. We must recoup this expense to pay the light bill. On average, it shakes out to around $0.0006/minute. </p>
        <div class="col-sm-8 col-sm-offset-2">
          <form name="form" class="vertical-form"> 
            <div class="form-group">
              <div class="col-sm-10">
                <input type="text" class="form-control" id="accno" data-ng-model="echeck.accno" placeholder="Account Number" required>
              </div>
            </div> 
            <div class="form-group">
              <div class="col-sm-10">
                <input type="text" class="form-control" id="caccno" data-ng-model="echeck.caccno" placeholder="Confirm Account Number" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <input type="text" class="form-control" id="routingno" data-ng-model="echeck.routingno" placeholder="Routing Number" required>
              </div>
            </div>            
            <div class="form-group">
              <div class="col-sm-10">
                <select class="form-control" id="bankname" data-ng-model="echeck.bankname" required>
                  <option value = "">Select Bank Name</option>
                  <option>auto-populate</option>
                  <option>with 3 options</option>
                  <option>based on routing number</option>
                </select>
              </div>
            </div> 

            <div class="form-group">
              <div class="col-sm-10">
                <input type="text" class="form-control" id="bankphone" data-ng-model="echeck.bankphone" placeholder="Bank Phone" required>
              </div>
            </div> 

            <div class="form-group">
              <div class="col-sm-10">
                <input type="text" class="form-control" id="bankzip" data-ng-model="echeck.bankzip" placeholder="Bank Zip" required>
              </div>
            </div>         
            <div class="form-group">
              <div class="col-sm-2">  
              </div>  
              <div class="col-sm-10">  
                <input type="submit" value="submit" class="btn btn-primary">
              </div>  
            </div>
          </form> 
        </div>     
      </div>
    </div>

    <div ng-show="tab.isSet(4)">
      <div class="add-credit-card-info"> <h4>Add Credit Card</h4>
        <div class="col-sm-8 col-sm-offset-2">
          <form name="form" class="vertical-form">
            <div class="form-group">
              <div class="col-sm-10">
                <input type="text" class="form-control" id="cardno" data-ng-model="echeck.cardno" placeholder="Credit Card Number" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
               <select >
                 <option value = "">Select Expiration Month</option>
                 <option>January</option>
                 <option>February</option>
                 <option>March</option>
                 <option>April</option>
                 <option>May</option>
                 <option>June</option>
                 <option>July</option>
                 <option>August</option>
                 <option>September</option>
                 <option>October</option>
                 <option>November</option>
                 <option>December</option>
               </select>
             </div>
           </div>    
           <div class="form-group">
            <div class="col-sm-10">
              <select>
                <option value = "">Select Expiration Year</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="cardccv" data-ng-model="echeck.ccv" placeholder="Credit CCV" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2">  
            </div>  
            <div class="col-sm-10">  
              <input type="submit" value="submit" class="btn btn-primary">
            </div>  
          </div>

        </form>
      </div>
    </div>
  </div>
  <div ng-show="tab.isSet(5)">
    <div class="auto-recharge-info col-sm-6 col-sm-offset-3">
      <form name="form" class="vertical-form" ng-submit="autorecharge(recharge)">
        <label>When my balance goes below</label> 
        <select ng-model = "recharge.balDown">
            <option value = "">$50</option>
            <option value = "100">$100</option>
            <option value = "150">$150</option>
        </select> 
        <label> recharge it back up to </label>
        <select ng-model = "recharge.balUp">
            <option value = "">$50</option>
            <option value = "250">$250</option>
            <option value = "500">$500</option>
        </select>
        <label>using</label>
        <select ng-model = "recharge.account">
          <option value = "">Me</option>
        </select>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>      
    </div>
  </div>
  <div ng-show="tab.isSet(6)">
    <div class="exporting-call-data col-sm-8 col-sm-offset-2">
      <h4>By what means would you like to receive your caller's data?</h4>
      <form name="form" class="vertical-form">
        <div class="form-group">
          <div class="col-sm-10">
            <select>
              <option>HTTP Post</option>
              <option>Zapier</option>
              <option>Custom Solution (talk to SAAS sales)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">  
          </div>  
          <div class="col-sm-10">  
            <input type="submit" value="submit" class="btn btn-primary">
          </div>  
        </div>
      </form>
    </div>
  </div>
  <div ng-show="tab.isSet(7)"><h4>Integrations</h4>
    <div class="LB-integration-options col-sm-8 col-sm-offset-2">
      <form name="form" class="vertical-form">
        <table class="table">
          <tr>
            <td><label for="basiccrm">Use basic CRM  (FREE)</label></td>
            <td> <input type="checkbox"  value="ubc" ng-model="integration.basiccrm" class="regular-checkbox solid-blue" name="basiccrm" id="basiccrm"><label for="basiccrm"></label></td>
          </tr>
          <tr>
            <td><label for="saleforce">Integrate with Salesforce (FREE)</label></td>
            <td> <input type="checkbox"  value="ubc" ng-model="integration.saleforce" class="regular-checkbox solid-blue" name="saleforce" id="saleforce"><label for="saleforce"></label></td>
          </tr>

          <tr>
           <td><label for="sugarcrm">Use Sugar CRM</label></td>
           <td><input type="checkbox"  value="ubc" ng-model="integration.sugarcrm" class="regular-checkbox solid-blue" name="sugarcrm" id="sugarcrm"><label for="sugarcrm"></label></td>
         </tr>

         <tr>
          <td><label for="zaps">Use Zapier to create ZAPS</label></td>
          <td><input type="checkbox"  value="ubc" ng-model="integration.zaps" class="regular-checkbox solid-blue" name="zaps" id="zaps"><label for="zaps"></label></td>
        </tr>


        <tr>
          <td><label for="customcrm">Custom CRM (talk to SAAS sales)</label></td>
          <td>
            <input type="checkbox"  value="ubc" ng-model="integration.customcrm" class="regular-checkbox solid-blue" name="customcrm" id="customcrm"><label for="customcrm"></label></td>
          </tr>


        </table>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
  <div ng-show="tab.isSet(8)"> <h4>Customize your instance</h4>
    <div class="col-sm-8 col-sm-offset-2">
     <form name="form" class="vertical-form">  
       <div class="form-group">
        <div class="col-sm-10">
          <h4>Upload logo <input type="file" class="form-control" id="logo" data-ng-model="custom.logo" required>
            Size limits: 70p x 300px </h4>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="domainurl" data-ng-model="custom.domainurl" placeholder="Domain or Sub-Domain URL" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="email" data-ng-model="custom.email" placeholder="Email" required>
          </div>
        </div> 

        <div class="form-group">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="ownername" data-ng-model="custom.ownername" placeholder="Owner's Name" required>
          </div>
        </div>  
        <div class="form-group">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="owneremail" data-ng-model="custom.owneremail" placeholder="Owner's Email" required>
          </div>
        </div>   

        <div class="form-group">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="ownerphoneno" data-ng-model="custom.ownerphoneno" placeholder="Owner's Phone Number" required>
          </div>
        </div>                                               
        <div class="form-group">
          <div class="col-sm-10">
          <div ng-controller="wysiwygeditor" style="border:3px solid #e0e0e0">
          <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
          </div>
            <!-- <textarea rows="4" cols="50" id="ckeditor"> 
              customize your Footer in Emails and in the App HERE
            </textarea> -->
          </div>
        </div> 
        <div class="form-group">
          <div class="col-sm-2">  
          </div>  
          <div class="col-sm-10">  
            <input type="submit" value="submit" class="btn btn-primary">
          </div>  
        </div>
      </form>  
    </div>  
  </div>            
  <div ng-show="tab.isSet(9)">
    <div class="LGN-contracts col-sm-8 col-sm-offset-2">
      <form name="form" class="vertical-form"> 
       <div class="form-group">
        <div class="col-sm-10">
          Drag your contracts here <input type="file" class="form-control" id="logo" data-ng-model="contracts.file" required>
        </div>
      </div>
      <div dropzone="copy"></div>
      <div class="form-group">
        <div class="col-sm-2">  
        </div>  
        <div class="col-sm-10">  
          <input type="submit" value="submit" class="btn btn-primary">
        </div>  
      </div>
    </form>  
  </div>
</div>
<div ng-show="tab.isSet(10)">
    <div class="LGN-contracts col-sm-8 col-sm-offset-2">
      <form name="form" class="vertical-form"> 
       <div class="form-group">
        <div class="col-sm-10">
            Do you want to include functionality for an In-House Media?
            <br>
            <select>
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div> 