<div class="page">
    <!-- Start My profile section -->
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> OnBoard LGN</strong></div>
        <div class="panel-body">
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <div ng-show="success" class="alert alert-success">{{success}}</div>

            <form  class="vertical-form form-validation ng-valid-minlength ng-valid-email ng-valid-max ng-pristine ng-invalid ng-invalid-required" name="registartion_form" role="form" class="">

                <div class="form-group" ng-class="{ 'has-error': registartion_form.email.$dirty && registartion_form.email.$error.required }">
                    <input type="email" class="form-control" required data-ng-model="registerInfo.email" placeholder="Email address" title="Please fill the email address" tabindex="2" name="email">
                    <span ng-show="registartion_form.email.$dirty && registartion_form.email.$error.required" class="help-block">Email is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': registartion_form.password.$dirty && registartion_form.password.$error.required }" >
                    <input type="password" class="form-control" data-ng-minlength="6" required data-ng-model="registerInfo.password" placeholder="Password" title="Please fill the password" tabindex="3" name="password">
                    <span ng-show="registartion_form.password.$dirty && registartion_form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': registartion_form.firstname.$dirty && registartion_form.firstname.$error.required }" >
                    <input type="text" class="form-control" id="firstName" data-ng-model="registerInfo.fname" placeholder="First name" required title="Please fill the first name" tabindex="4" name="firstname">
                    <span ng-show="registartion_form.firstname.$dirty && registartion_form.firstname.$error.required" class="help-block">First name is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': registartion_form.lastname.$dirty && registartion_form.lastname.$error.required }" >
                    <input type="text" class="form-control" id="lastName" data-ng-model="registerInfo.lname" placeholder="Last name" required title="Please fill the last name" tabindex="5" name="lastname">
                    <span ng-show="registartion_form.lastname.$dirty && registartion_form.lastname.$error.required" class="help-block">Last name is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': registartion_form.zip.$dirty && registartion_form.zip.$error.required }" >
                    <input type="text" class="form-control" id="zip" data-ng-model="registerInfo.zip" placeholder="Zip code" required title="Please fill the zip code" tabindex="6" name="zip">
                    <span ng-show="registartion_form.zip.$dirty && registartion_form.zip.$error.required" class="help-block">Zip code is required</span>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Create" tabindex="7" data-ng-disabled="registartion_form.$invalid || dataLoading" data-ng-click="register_lgn(registerInfo)" title="Create">
                </div>
            </form>
        </div>
    </section>
    <!-- End My profile section -->

</div>
<style>
.ui-select > select {
border: 1px solid #cbd5dd;
border-radius: 0;
font-size: 11px;
font-weight: bold;
margin: 10px 0;
padding: 10px 15px 10px 10px;
position: relative;
text-indent: 0.01px;
text-overflow: ellipsis;
text-transform: uppercase;
width:135px;
}
</style>