<div class="container">  <!-- create a campaign controller -->
    <div class="row">
        <div class="page page-table">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Browse Campaigns</h3>
            <h4>Review the offers below from lead buyers within our network. If you see one that piques your interest, click the Create Campaign button. This will allow you to create a unique campaign, get a promo number, and begin generating calls.</h4>
        </div></strong><h3></div>
                <table class="table">
                	 <thead>
                        <tr class="tablehead">
                            <th>Category</th>
                            <th>Cost Per Call</th>
                            <th>Gross/Unique</th>
                            <th>Duration</th>
                            <th>IVR Present?</th>
                            <th>Excluded States</th>
                            <th>Hours Of Operation</th>
                            <th>Action</th>

                        </tr>

                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'">
                        	<td>Knee and Back</td>
                        	<td>$15</td>
                        	<td>Gross</td>
                            <td>30</td>
                        	<td>Yes</td>
                        	<td>TX, WY, KY</td>
                        	<td>8:00am - 5:00pm CST</td>
                        	<td>
                        	<div class="create-or-invite" style="display:inline-flex;">
                        		<div class="btn btn-primary"><a href="#!/lb/LB-create-campaign-form">Create Campaign</a></div>
                        		<div class="invite pull-right"><a href="#">Invite Buyer</a></div>
                        	</td>
                        </tr>
                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'">
                        	<td>Knee and Back</td>
                        	<td>$15</td>
                        	<td>Gross</td>
                            <td>15</td>
                        	<td>Yes</td>
                        	<td>AR, SC</td>
                        	<td>8:00am - 5:00pm CST</td>
                        	<td>
                        	<div class="create-or-invite" style="display:inline-flex;">
                        		<div class="btn btn-primary">Create Campaign</div>
                        		<div class="invite pull-right"><a href="#">Invite Buyer</a></div>
                        	</td>
                        </tr>

       </div>
     </div>
   </div>
</div>