<!-- Tabbed form to Create a new Campaign -->
<div class="tabsContainer col-sm-12">
    <div class="panel panel-default" ng-controller="TestCtrl"  ng-init="setTab(1);">
        <div class="panel-heading"><h3>Create A Campaign</h3><div class= "text-center text-danger" ng-show="common_msg">*Please complete the current tab before proceeding</div></div>
        <div class="panel-body">
            <div class="tabbable tabs-left">
                <ul class="nav navtabs">

                    <li ng-class="{active:isSet(1)}"><a href ng-click="setTab(1)">Campaign Direction</a></li>
                    <li ng-class="{active:isSet(2)}"><a href ng-click="setTab(2)">Ring To Number</a></li>
                    <li ng-class="{active:isSet(3)}"><a href ng-click="setTab(3)">Advertising Method</a></li>
                    <li ng-class="{active:isSet(4)}"><a href ng-click="setTab(4)">Campaign IVR</a></li>
                    <li ng-class="{active:isSet(5)}"><a href ng-click="setTab(5)">Name Your Campaign</a></li>
                </ul>
                <div class="tab-content">

                    <div ng-show="isSet(1)">
                        <div class="campaign-direction vertical-form">
                            <form name="offer_form" ng-init="campaign_direction = 'inbound'" novalidate>
                            <div class="text-right">
                                <span class="pull-left">
                                    <h4>Category Name</h4>
                                </span>
                                <h4><a href  class="btn btn-primary" ng-click="(offer_form.$invalid) ? '' : setTab(2);" value="Next"> Next</a></h4>
                            </div>

                            <h4 class="mrgtp50">Campaign Direction</h4>
                            <div class="col-sm-8 col-sm-offset-2">

                                 <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="radio" id = "inbound" value="inbound" name="campaign_direction" ng-model="campaign_direction" class="regular-radio big-radio" required>
                                            <label for="inbound"></label>
                                            <label for="inbound">Inbound Campaign</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input type="radio" id = "outbound" value="outbound" name="campaign_direction" ng-model="campaign_direction" class="regular-radio big-radio" required>
                                            <label for="outbound"></label>
                                            <label for="outbound">Outbound Campaign [note that Outbound is only available for CallCenter/Advertiser]</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-5 pull-left">

                                            </div>
                                            <div class="col-sm-5 pull-left">
                                                <input type="submit" ng-click="(offer_form.$invalid) ? '' : setTab(2);" value="Next" class="btn btn-primary">
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </form>

                        </div>
                    </div>

                    <div ng-show="isSet(2)">
                        <div class="campaign-promo">
                            <div class="text-right">
                                <span class="pull-left">
                                    <h4>Category Name</h4>
                                </span>
                                <h4><a href class="btn btn-primary" ng-click="setTab(1)">Previous</a>
                                    <a href class="btn btn-primary" ng-click="setTab(3)">Next</a></h4>
                            </div>
                            <!--this is the part where we want to create a tab system like this http://jsfiddle.net/jccrosby/eRGT8/light/  with tab content being tables.-->

                            <div class="mrgtp50">
                                <div id="tabs">
                                    <ul class="innertab">
                                        <li class="innertab" ng-repeat="tab in tabs"
                                            ng-class="{active:isActiveTab(tab.url)}"
                                            ng-click="onClickTab(tab)">{{tab.title}}</li>
                                    </ul>
                                    <div id="mainView">
                                        <div ng-include="currentTab"></div>
                                    </div>
                                </div>
                                 <script type="text/ng-template" id="one.tpl.html">
                                   <table class="table">
                                   <div class="panel panel-default">
                                    <div class="panel-heading"><h3>Local Numbers</h3>
                                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'">

                                            <td>251 555-1234</td>
                                            <td>251 555-1234</td>
                                            <td>251 555-1234</td>
                                            </tr>
                                            <tr ng-class="$even ? 'oddcolor' : 'evencolor'">
                                            <td>251 555-1234</td>
                                            <td>251 555-1234</td>
                                            <td>251 555-1234</td>
                                            </tr>
                                            <tr ng-class="$even ? 'oddcolor' : 'evencolor'">
                                            <td>251 555-1234</td>
                                            <td>251 555-1234</td>
                                            <td>251 555-1234</td>
                                            </tr>
                                            </div>
                                        </div>
                                </table>
                                </script>

                                <script type="text/ng-template" id="two.tpl.html">
                                   <table class="table">
                                   <div class="panel panel-default">
                                    <div class="panel-heading"><h3>Toll Free Numbers</h3>
                                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'">

                                            <td>1-800 555-1234</td>
                                            <td>1-800 555-1234</td>
                                            <td>1-800 555-1234</td>
                                            </tr>
                                            <tr ng-class="$even ? 'oddcolor' : 'evencolor'">
                                            <td>1-800 555-1234</td>
                                            <td>1-800 555-1234</td>
                                            <td>1-800 555-1234</td>
                                            </tr>
                                            <tr ng-class="$even ? 'oddcolor' : 'evencolor'">
                                            <td>1-800 555-1234</td>
                                            <td>1-800 555-1234</td>
                                            <td>1-800 555-1234</td>
                                            </tr>
                                            </div>
                                        </div>
                                </table>
                                </script>

                                <script type="text/ng-template" id="three.tpl.html">
                                   <table class="table">
                                   <div class="panel panel-default">
                                    <div class="panel-heading"><h3>Vanity Numbers</h3>
                                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'">

                                            <td>1-888 123-4567</td>
                                            <td>1-888 123-4567</td>
                                            <td>1-888 123-4567</td>
                                            </tr>
                                            <tr ng-class="$even ? 'oddcolor' : 'evencolor'">
                                            <td>1-888 123-4567</td>
                                            <td>1-888 123-4567</td>
                                            <td>1-888 123-4567</td>
                                            </tr>
                                            <tr ng-class="$even ? 'oddcolor' : 'evencolor'">
                                            <td>1-888 123-4567</td>
                                            <td>1-888 123-4567</td>
                                            <td>1-888 123-4567</td>
                                            </tr>
                                            </div>
                                        </div>
                                </table>
                                </script>
                            </div>
                        </div>
                    </div>
                    <div ng-show="isSet(3)">
                        <div class="campaign-direction vertical-form">
                            <form name="adv_form" ng-init="adv_err = false;" novalidate>
                            <div class="text-right">
                                <span class="pull-left">
                                    <h4>Category Name</h4>
                                </span>
                                <h4><a href class="btn btn-primary" ng-click = "setTab(2)" >Previous</a>
                                    <a href class="btn btn-primary" ng-click="(adv_form.$invalid) ? adv_err = true : setTab(4);"> Next</a></h4>
                            </div>
                            <h4 class="mrgtp50">Advertising Method</h4>

                            <div class="col-sm-8 col-sm-offset-2">



                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="radio" id = "online" value="online" name="advertising_method" ng-model="advertising_method" class="regular-radio big-radio" required>
                                            <label for="online"></label>
                                            <label for="online">Online</label>
                                            <div class="col-sm-offset-2" ng-show="advertising_method == 'online'">
                                                <select name="online_select" ng-model="online_select" ng-required="advertising_method=='online'">
                                                    <option value=''>Select</option>
                                                    <option>Content / Review Site</option>
                                                    <option>Discount / Coupon Site</option>
                                                    <option>Display</option>
                                                    <option>Email</option>
                                                    <option>Rewards / Incentive</option>
                                                    <option>Lead Form / Co Reg</option>
                                                    <option>Search</option>
                                                    <option>Social Media</option>
                                                    <option>Software</option>
                                                    <option>Other</option>
                                                </select>
                                                <span class="text-danger" ng-show="adv_form.online_select.$error.required && adv_err">Please select one option</span>
                                            </div>
                                        </div>

                                        <div class="col-sm-10">
                                            <input type="radio" id = "mobile" value="mobile" name="advertising_method" ng-model="advertising_method" class="regular-radio big-radio" required>
                                            <label for="mobile"></label>
                                            <label for="mobile">Mobile</label>
                                            <div class="col-sm-offset-2" ng-show="advertising_method == 'mobile'">
                                                <select name="mobile_select" ng-model="mobile_select" ng-required="advertising_method=='mobile'">
                                                    <option value=''>Select</option>
                                                    <option>Apps</option>
                                                    <option>Display</option>
                                                    <option>Search</option>
                                                    <option>SMS</option>
                                                    <option>Other</option>
                                                </select>
                                                <span class="text-danger" ng-show="adv_form.mobile_select.$error.required && adv_err">Please select one option</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input type="radio" id = "offline" value="offline" name="advertising_method" ng-model="advertising_method" class="regular-radio big-radio" required>
                                            <label for="offline"></label>
                                            <label for="offline">Offline</label>
                                            <div class="col-sm-offset-2" ng-show="advertising_method == 'offline'">
                                                <select name="offline_select" ng-model="offline_select" ng-required="advertising_method=='offline'">
                                                    <option value=''>Select</option>
                                                    <option>Business Publicatino</option>
                                                    <option>all Center</option>
                                                    <option>Direct Mail</option>
                                                    <option>Directory</option>
                                                    <option>Newspaper</option>
                                                    <option>Free Standing Insert (FSI)</option>
                                                    <option>In-Call Ad</option>
                                                    <option>Magazine</option>
                                                    <option>Outdoor</option>
                                                    <option>Radio</option>
                                                    <option>TV</option>
                                                    <option>Other</option>
                                                </select>
                                                <span class="text-danger" ng-show="adv_form.offline_select.$error.required && adv_err">Please select one option</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <span class="text-danger" ng-show="adv_form.advertising_method.$error.required && adv_err">Please select one option</span>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-5 pull-left">
                                                <input type="submit" ng-click="setTab(2)" value="Previous" class="btn btn-primary">
                                            </div>
                                            <div class="col-sm-5 pull-left">
                                                <input type="submit" ng-click="(adv_form.$invalid) ? adv_err = true : setTab(4);" value="Next" class="btn btn-primary">
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </form>

                        </div>



                    </div>
                    <div ng-show="isSet(4)">
                        <div class="name_campaign vertical-form">
                            <form name="ivr_form" ng-init="ivr_err = false;" novalidate>
                            <div class="text-right">
                                <span class="pull-left">
                                    <h4>Category Name</h4>
                                </span>
                                <h4><a href class="btn btn-primary" ng-click = "setTab(3)" >Previous</a>
                                    <a href class="btn btn-primary" ng-click="(ivr_form.$invalid) ? ivr_err = true : setTab(5);"> Next</a></h4>
                            </div>
                            <h4 class="mrgtp50">Campaign IVR</h4>


                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="radio" id = "yes" value="yes" name="campaign_ivr" ng-model="campaign_ivr" class="regular-radio big-radio" required>
                                            <label for="yes"></label>
                                            <label for="yes">Yes</label>
                                            <div class="col-sm-offset-2" ng-show="campaign_ivr == 'yes'">
                                                It looks like the buyer has an IVR associated with this offer. We will use the LG's IVR for this Campaign
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <input type="radio" id = "no" value="no" name="campaign_ivr" ng-model="campaign_ivr" class="regular-radio big-radio" required>
                                            <label for="no"></label>
                                            <label for="no">No</label>
                                            <div class="col-sm-offset-2" ng-show="campaign_ivr == 'no'">
                                                It looks like the buyer does not have an IVR assocated with the Offer supporting this campaign
                                                <div class="col-sm-10">
                                                    <input type="radio" id = "addIvr" value="addIvr" name="ivr" ng-model="ivr" class="regular-radio big-radio" ng-required="campaign_ivr == 'no'">
                                                    <label for="addIvr"></label>
                                                    <label for="addIvr">Add an IVR</label>
                                                    <div class="col-sm-10 col-sm-offset-2" ng-show="ivr=='addIvr'">
                                                        <select name="add_ivr" ng-model="add_ivr" ng-required="ivr=='addIvr'">
                                                            <option value=''>Select</option>
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                        </select>
                                                        <span class="text-danger" ng-show="ivr_form.add_ivr.$error.required && ivr_err">Please Select IVR</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-10">
                                                    <input type="radio" id = "ring" value="ring" name="ivr" ng-model="ivr" class="regular-radio big-radio" ng-required="campaign_ivr == 'no'">
                                                    <label for="ring"></label>
                                                    <label for="ring">Ring directly to the LG (suggested)</label>
                                                </div>
                                                <div class="col-sm-10">
                                                    <span class="text-danger" ng-show="ivr_form.ivr.$error.required && ivr_err">Please select one option</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <span class="text-danger" ng-show="ivr_form.campaign_ivr.$error.required && ivr_err">Please select one option</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-5 pull-left">
                                            <input type="submit" ng-click="setTab(3)" value="Previous" class="btn btn-primary">
                                        </div>
                                        <div class="col-sm-5 pull-left">
                                            <input type="submit" ng-click="(ivr_form.$invalid) ? ivr_err = true : setTab(5);" value="Next" class="btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div ng-show="isSet(5)">
                        <div class="name_campaign vertical-form">
                            <form name="name_form" ng-init="name_err = false;" novalidate>
                            <div class="text-right">
                                <span class="pull-left">
                                    <h4>Category Name</h4>
                                </span>
                                <h4><a href class="btn btn-primary" ng-click = "setTab(4)" >Previous</a>
                                    <a href class="btn btn-primary" ng-click="(name_form.$invalid) ? name_err = true : submitForm();"> Submit</a></h4>
                            </div>
                            <h4 class="mrgtp50">Name Your Campaign</h4>

                                Would you like to name your campaign?<br>

                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="text" name="campaign_name" ng-model="campaign_name" placeholder="WABC Radio Test / File123 Email Test" required>
                                            <span class="text-danger" ng-show="name_form.campaign_name.$error.required && name_err">Enter Campaign Name</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-5 pull-left">
                                            <input type="submit" ng-click="setTab(4)" value="Previous" class="btn btn-primary">
                                        </div>
                                        <div class="col-sm-5 pull-left">
                                            <input type="submit" ng-click="(name_form.$invalid) ? name_err = true : submitForm();" value="Submit" class="btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                    <!--   <div ng-show="isSet(6)">

                             <div class="split-the-app">
                                <h4>Congratulations!</h4>
                                <div class="col-sm-8 col-sm-offset-2">
                                 <form name="form" class="vertical-form">
                                     <div  class="form-group">

                                         <div class="col-sm-10">

                                             <h5>Your information has been saved successfully.</h5>

                                         </div>
                                     </div>
                                      <div class="form-group">
                                         <div class="col-sm-5 pull-left">
                                            <input type="submit" href ng-click="backToBoard()" value="Create New Campaign">

                                         </div>
                                         <div class="col-sm-5 pull-left">

                                         </div>
                                     </div>

                                 </form>
                                    </div>
                             </div>
                         </div> -->

                </div>
            </div>
        </div>
    </div>
<!-- Tabbed form to Create a new Campaign -->