<div class="container">  <!-- create a campaign controller -->
    <div class="row">         
        <div class="page page-table">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Manage Phone Agents</h3>
            
                </div></strong><h3></div>
                <table class="table">
                    <div class="btn btn-primary pull-right"><a href="#!">Add New</a>
                                </div>
                	 <thead>
                        <tr class="tablehead">
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Extension</th>
                            <th>Current Queues</th>
                            <th>Current Campaigns</th>
                            <th>Action</th>
                        </tr>

                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'">
                        	<td>John</td>
                        	<td>Fleet</td>
                        	<td>324</td>
                            <td>Sales</td>
                        	<td>Backbrace</td>
                        	<td>
                        	<div class="create-or-invite" style="display:inline-flex;">
                        		<div class="btn btn-primary"><a href="#!">Manage</a></div>
                                <div class="btn btn-primary"><a href="#!">Delete</a>
                                </div>
                        	</td>
                        </tr>

       </div>
     </div>
   </div>
</div>