<div class="animate-repeat col-sm-12" >
    <div class="panel panel-default" ng-init="getPhoneNumberlist()">
        <div class="panel-heading">
            <h3>
                Phone Number List

                <div class="tableHeadBtnDiv">
                    <!--<button class="btn btn-primary pull-right">Add</button>-->
                    <input type="text" class="form-control width-30 pull-right" ng-model="query" ng-change="tableParams.filter(query)" placeholder="Search..." autofocus>
                    <!--directive for calender-->
                    <!--<div class="col-sm-1 pull-right">
                        <div class="pull-right dmright">
                            <div cbl-directive ng-init="filter = 'Last 7 Days';"></div>
                        </div>
                    </div>-->
                    <!--directive ends-->
                </div>
            </h3>

        </div>
        <div class="panel-body pad0" col-show-hide>
            <table ng-table ="tableParams" class="table table-condensed" export-csv="csv">
                <tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="phones in ($data| filter : query)"  ng-if="dataPresent" ng-init="show[$index] = false;" >
                    <td data-title="'#'" >{{$index + 1 + ((params.page() - 1) * params.count())}}</td>
                    <td ng-show="showCol[0]" data-title="'Phone number'" sortable="'phone_no'" >{{phones.phone_no}} </td>
                    <td ng-show="showCol[1]" data-title="'Provider Type'" sortable="'provider_type'" >{{phones.provider_type}} </td>
                    <td ng-show="showCol[2]" data-title="'Associated IVR'" >
                        <select type="text" name="status" id="status" class="form-control" placeholder="" ng-model="assignivr.ivr" ng-change="assignIVR({'ivr':assignivr.ivr,'type':'IVR', 'phone_id':phones._id})" style="height:25px; padding:0 10px;">
                            <option value="">Select IVR</option>
                            <option ng-repeat="ivr in ivrs" ng-selected="ivr.phone_no._id == phones._id" value="{{ivr._id}}">{{ivr.ivr_name}}</option>
                        </select>
                    </td>
                    <td ng-show="showCol[3]" data-title="'HOO'" >
                        <select type="text" name="status" id="status" class="form-control" placeholder="" ng-model="assignivr.hoo" ng-change="assignIVR({'ivr':assignivr.hoo,'type':'HOO', 'phone_id':phones._id})" style="height:25px; padding:0 10px;">
                            <option value="">Select HOO</option>
                            <option ng-repeat="hoo in hoos" ng-selected="hoo.phone_no._id == phones._id" value="{{hoo._id}}">{{hoo.hor_name}}</option>
                        </select>
                    </td>
                    <td ng-show="showCol[4]" data-title="'Geographic'" >
                        <select type="text" name="status" id="status" class="form-control" placeholder="" ng-model="assignivr.geo" ng-change="assignIVR({'ivr':assignivr.geo,'type':'Geographic', 'phone_id':phones._id})" style="height:25px; padding:0 10px;">
                            <option value="">Select Geographic</option>
                            <option ng-repeat="geo in geos" ng-selected="geo.phone_no._id == phones._id" value="{{geo._id}}">{{geo.geo_name}}</option>
                        </select>
                    </td>
                    <td ng-show="showCol[5]" data-title="'Concurrent Calls'" >
                        <select type="text" name="status" id="status" class="form-control" placeholder="" ng-model="assignivr.cc" ng-change="assignIVR({'ivr':assignivr.cc,'type':'Concurrent Calls', 'phone_id':phones._id})" style="height:25px; padding:0 10px;">
                            <option value="">Select Concurrent Calls</option>
                            <option ng-repeat="cc in ccs" ng-selected="cc.phone_no._id == phones._id" value="{{cc._id}}">{{cc.cc_name}}</option>
                        </select>
                    </td>
                    <td ng-show="showCol[6]" data-title="'Created'" sortable="'created'" >{{phones.created| date:'medium'}}</td>
                    <td data-title="'Action'">
                        <!--<span title="View" ng-click="goTOLink('/' + currentRoleCode + '/view-phone-numbers/' + phones._id)" class="glyphicon glyphicon-eye-open actionBtn"></span>-->
                        <span class="glyphicon glyphicon-edit actionBtn" title="Edit" ng-click="goTOLink('/' + currentRoleCode + '/edit-phone-numbers/' + phones._id)"></span>
                        <!--<span class="glyphicon glyphicon-check" title="Assign IVR" ng-click="goTOLink('/' + currentRoleCode + '/assign-ivr/' + phones._id)"></span>-->
                        <span class="glyphicon glyphicon-trash actionBtn" titile="Delete" ng-click="deletePhoneNumber(phones._id)" ></span>
                    <td header="'headerSettingGear.html'" ></td>
                </tr>
                <tr ng-if="!dataPresent">
                    <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                </tr>
            </table>
            <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                                csv.generate($event, "PhoneNumbers" + currentDate + ".csv");'>CSV</a></div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> Phone Number</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> User</a></li>
    <li><a ng-click="showCol[2] = !showCol[2]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Associated IVR</a></li>
    <li><a ng-click="showCol[3] = !showCol[3]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> HOO</a></li>
    <li><a ng-click="showCol[4] = !showCol[4]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Geographic</a></li>
    <li><a ng-click="showCol[5] = !showCol[5]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Concurrent Calls</a></li>
    <li><a ng-click="showCol[6] = !showCol[6]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Created</a></li>
    </ul>
    </div>
</script>
