<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Appointment Details</h4>
            </div>
            <div id="eventDetails" ng-if="eventDetails">
                <form name="eventStatusUpdate" novalidate ng-init="ap_err = false;">
                    <div class="modal-body">
                        <table class="table">
                            <tr ng-if="eventDetail.value" ng-repeat="eventDetail in eventDetails">
                                <td><b>{{eventDetail.label}} :</b></td>
                                <td>{{eventDetail.value}}</td>
                            <tr>
                            <tr>
                                <td>Appointment Mode</td>
                                <td>{{appointmentMode}}</td>
                            </tr>
                            <tr ng-show="appointmentStatus">
                                <td><b>Current Appointment status</b> : &nbsp; </td>
                                <td ng-show="appointmentStatus == 'Open'"> <span class="label label-info">{{appointmentStatus}}</span> </td>
                                <td ng-show="appointmentStatus == 'Missed'"> <span class="label label-danger">{{appointmentStatus}}</span> </td>
                                <td ng-show="appointmentStatus == 'Complete'"> <span class="label label-success">{{appointmentStatus}}</span> </td>
                            </tr>

                            <tr ng-show="appointmentStatus != 'Complete'">
                                <td>
                                    <label>Change Appointment Status</label>
                                </td>
                                <td>
                                    <span class="{{(appointmentStatus != 'Missed')?'col-sm-6':'col-sm-12'}} pad0">
                                        <input type="radio" id = "complete" value="Complete" name="appointmentStatus" ng-model="appointmentData.appointmentStatus" class="regular-radio solid-blue" required>
                                        <label for="complete"></label>
                                        <label for="complete">Complete</label>
                                    </span>

                                    <span ng-show="appointmentStatus != 'Missed'" class="col-sm-6 pad0">
                                        <input type="radio" id = "missed" value="Missed" name="appointmentStatus" ng-model="appointmentData.appointmentStatus" class="regular-radio solid-blue" required>
                                        <label for="missed"></label>
                                        <label for="missed">Missed</label>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><span ng-show="ap_err && eventStatusUpdate.appointmentStatus.$error.required" class="text-danger">Please select appointment status</span></td>
                            </tr>
                            <!--                    <input type="radio" name="appointmentStatus" ng-model="appointmentData.appointmentStatus" value="Open" required>Open &nbsp;
                                                <input type="radio" name="appointmentStatus" ng-model="appointmentData.appointmentStatus" value="Complete" required>Complete
                                                <input type="radio" name="appointmentStatus" ng-model="appointmentData.appointmentStatus" value="Missed" required>Missed
                                                <br>-->
                        </table>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-flat" ng-show="appointmentStatus != 'Complete'" ng-click="(eventStatusUpdate.$invalid) ? ap_err = true : updateAppointmentStatus(appointmentData, eventId);" style="float:left">Submit</button>
                        <button type="button" class="btn btn-primary btn-flat" ng-click="$hide()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
