<div class="col-sm-12">
    <section class="content-header">
        <div class="box-header">
            <h3 class="box-title-new">Your Messages</h3>
            <div class="box-tools">
                <div class="input-group input-group-sm pull-left tableSearchBox">
                    <input type="text" name="table_search" ng-model="query" ng-change="tableParams.filter(query)" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body" col-show-hide>
                <div class="table-responsive">
                    <table class="table table-condensed ng-table-responsive" ng-table="tableParams">
                        <tbody>
                            <tr ng-class="$even? 'oddcolor' : 'evencolor'" ng-repeat="callData in $data" ng-if="dataPresent">
                                <td data-title="'#'">{{$index + 1}}</td>
                                <td ng-show="showCol[0]" sortable="'From'" data-title="'From'" data-title-text="From">{{callData.From}}</td>
                                <!--<td ng-show="showCol[1]" sortable="'CallStatus'" data-title="'State'" data-title-text="State">{{callData.CallStatus}}</td>-->
                                <td ng-show="showCol[2]" sortable="'StartTime'" data-title="'Date/Time of Call'" data-title-text="Date/Time of Call">{{callData.StartTime| date : 'short'}}</td>
                                <!--<td ng-show="showCol[3]" sortable="'audio.duration'" data-title="'Duration'" data-title-text="Duration">{{callData.audio.duration}}</td>-->
                                <td data-title="'Action'" data-title-text="Action">
                                    <button class="btn btn-primary btn-flat actionBtn" ng-click='(!audioFile[callData._id]) ? playAudio(callData.Recording.RecordUrl ? callData.Recording.RecordUrl : callData.Recording.RecordingUrl, callData._id) : stopAudio(callData._id)' title="Listen">{{(text[callData._id]) ? (audioFile[callData._id].progress == 1) ? 'Listen' : text[callData._id] : 'Listen'}}</button>
                                    <!--<button class="btn btn-primary" ng-click='callData.audio.paused ? callData.audio.play() : callData.audio.pause()' >{{callData.audio.paused ? 'Play' : 'Pause'}}</button>-->
                                    <!--<button class="btn btn-primary" ng-click='callData.audio.restart()' data-ng-if="!callData.audio.paused">Stop</button>-->
                                    <button class="btn btn-primary btn-flat"  id="{{callData._id}}" ng-click="callback(callData.From, callData._id);" ng-disabled="enable_callback_btn">Call back</button>
                                    <button class="btn btn-primary btn-flat" href="javascript:void(0)" ng-click="deleteVoiceMail(callData._id)">Delete</button>
                                </td>
                                <td header="'headerSettingGear.html'" ></td>
                            </tr>
                            <tr ng-if="!dataPresent">
                                <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--            <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                                csv.generate($event, "PhoneNumbers" + currentDate + ".csv");'>CSV</a></div>-->
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> From</a></li>
    //    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> State</a></li>
    <li><a ng-click="showCol[2] = !showCol[2]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Date/Time of Call</a></li>
    <!--<li><a ng-click="showCol[3] = !showCol[3]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[3]]"></i> Duration</a></li>-->
    </ul>
    </div>
</script>
