<div class="animate-repeat col-sm-12" ng-init="listCallerLeads()">
    <section class="content-header">
        <div class="box-header">
            <h3 class="box-title-new">Lead List</h3>
            <div class="box-tools">
                <div class="input-group input-group-sm pull-left tableSearchBox">
                    <input type="text" name="table_search" ng-model="query" ng-change="tableParams.filter(query)" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="pull-right dmright">
                    <div cbl-directive show-today="true" ng-init="filter = 'Filter';"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body" col-show-hide>
                <div class="table-responsive">
                    <table ng-table ="tableParams" class="table table-condensed ng-table-responsive"  export-csv="csv">
                        <!--  this will be a table that populates from Plivo   -->
                        <!--<tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="callData in $data" ng-switch on="callData.CallStatus" ng-show="dataPresent">-->
                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="callData in $data" ng-switch on="callData.CallStatus" ng-show="$data != ''">
                            <td data-title="'#'"><span ng-if="params.page() ? true : false">{{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</span></td>
                            <td ng-show="showCol[0]" data-title="'Created'" sortable="'created'">{{callData.created| date : 'medium'}}</td>
                            <!--<td ng-show="showCol[1]" data-title="'First Name'" sortable="'first_name'" >{{callData.first_name}}</td>-->
                            <!--<td ng-show="showCol[2]" data-title="'Last Name'" sortable="'last_name'" >{{callData.last_name}}</td>-->
                            <td ng-show="showCol[1]" data-title="'Email'" sortable="'email'" >{{callData.isWebLead ? callData.webLeadDetails.email : callData.email}}</td>
                            <td ng-show="showCol[2]" data-title="'Call UUID'" sortable="'callUUID'" >{{callData.callUUID|| 'N/A'}}</td>
                            <td ng-show="showCol[3]" data-title="'Caller Id'" sortable="'caller_id'" >{{callData.caller_id|| 'N/A'}}</td>
                            <td ng-show="showCol[4]" data-title="'Lead Type'" sortable="'lead_type'" >{{callData.isWebLead ? 'Web Lead' : 'Call Lead'}}</td>
                            <!--                    <td ng-show="showCol[6]" data-title="'Status'" sortable="'lead_status'">
                                                    <span ng-if="offer.active_status" title="{{user.status}}" class="glyphicon text-success glyphicon-ok-sign" aria-hidden="true"></span>
                                                    <span ng-if="!offer.active_status" title="{{user.status}}" class="glyphicon text-danger glyphicon-remove-sign" aria-hidden="true"></span>
                                                </td>-->
                            <td data-title="'Documents'">
                                <span ng-if="authenticatedUser.role_id.code == 'PA'"><a href="/app/#!/pa/upload-documents/{{callData._id}}" title="Upload Documents"><button class="btn btn-primary btn-flat" >Upload</button></a></span>
                                <span><a href="/app/#!/{{currentRoleCode}}/listDocument/{{callData._id}}"><button class="btn btn-primary btn-flat" >List</button></a></span>
                            </td>

                            <td data-title="'Action'">
                                <!--<span ng-click="goToLink('/pa/caller-lead/' + callData._id)" title="View" class="glyphicon glyphicon-eye-open actionBtn"></span>--> 
                                <span ng-click="viewLeadDetails(callData._id);" title="View" class="glyphicon glyphicon-eye-open actionBtn"></span>
                                <!--<span class="glyphicon glyphicon-edit actionBtn" title="Edit" ng-click="goToLink('/pa/edit-caller-lead/' + callData._id)"></span>-->                        
                                <span class="glyphicon glyphicon-trash actionBtn" title="Delete" ng-click="deleteLeadByID(callData._id)" ></span>
                            </td>
                            <td header="'headerSettingGear.html'" ></td>
                        </tr>
                        <!--<tr ng-if="!dataPresent">-->
                        <tr ng-show="$data == ''">
                            <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                        </tr>
                    </table>
                </div>
                <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                    csv.generate($event, "ListLeads" + currentDate + ".csv");'>CSV</a></div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> Created</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[3]]"></i> Email</a></li>
    <li><a ng-click="showCol[2] = !showCol[2]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[4]]"></i> Call UUID</a></li>
    <li><a ng-click="showCol[3] = !showCol[3]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[5]]"></i> Caller Id</a></li>
    <li><a ng-click="showCol[4] = !showCol[4]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[5]]"></i> Lead Type</a></li>
    </ul>
    </div>
</script>