<div class="animate-repeat" ng-init="getCallerLeadByID()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                Lead Details
            </h3>
        </div>
        <div class="panel-body">
           <div class="col-sm-8 col-sm-offset-2">
                    <table class="table">
                        <tr><td><b>First Name:</b></td><td>  {{leadDetail.first_name}}</td></tr>
                        <tr><td><b>Last Name:</b></td><td> {{leadDetail.last_name}}</td></tr>
                        <tr><td><b>Email:</b></td><td> {{leadDetail.email}}</td></tr>
                        <tr><td><b>Address :</b></td><td> {{leadDetail.addressLine1}} {{leadDetail.addressLine2}}</td></tr>
                        <tr><td><b>City :</b></td><td> {{leadDetail.city}}</td></tr>
                        <tr><td><b>State :</b> </td><td>{{leadDetail.state}}</td></tr>
                        <tr><td><b>Zip :</b></td><td> {{leadDetail.zip}}</td></tr>
                       <tr><td><b>Status :</b></td><td> {{leadDetail.lead_status}}</td></tr>
                       <tr><td><b>Notes :</b></td><td> <div ng-repeat="note in leadDetail.notes" class="noteDiv">{{note}}</div></td></tr>
                        <tr><td><b>Created:</b></td><td> {{leadDetail.created| date:'medium'}}</td></tr>

                    </table>
                    <button class="btn  btn-primary" type="button" ng-click="goToLink('/pa/list-caller-leads');">Back</button>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
    .noteDiv {
  background: none repeat scroll 0 0 #8AE2FF;
  float: left;
  margin: 1%;
  padding: 4px 20px 3px 20px;
  color: #303F52;
  cursor: pointer;
}
</style>