<div class="col-sm-12">
    <div id="plivoLoginFailDiv" style="display:none">
        <div class="text-center col-sm-4 col-sm-offset-4 mrgtp30">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3>Login Failed</h3>
                </div>
                <div class="panel-body">
                    <p>Please Try To Login Again</p>
                    <p>If the Problem Persists, Contact Your LGN</p>
                </div>
                <div class="panel-footer row">
                    <button onclick="login();" type="button" class="btn btn-success pull-left">Try Again</button>
                    <button onclick="closeLoginAgainBox();" type="button" class="btn btn-danger pull-right">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-controller="webPhoneCtrl">
        <div class="panel-heading"><h3 ng-show="!isSoftPhone">Web Phone</h3><h3 ng-show="isSoftPhone">CRM</h3></div>
        <div class="panel-body" data-ng-init="isSoftPhone = false;">
            <div class="col-sm-12 fa-lg text-right">
                &nbsp;
                <span ng-if="callBillableTimer">
                    <span class="fa fa-clock-o"></span>
                    Call Billable in <b>{{callBillableTimer| secondsToDateTime | date:"mm'min' ss'sec'"}}</b>
                </span>
            </div>
            
            <div class="tab" ng-click="isSoftPhone = !isSoftPhone;">{{(isSoftPhone) ? 'Show Softphone': 'Hide SoftPhone';}}</div>
            <div class="row">
                <div ng-hide="isSoftPhone" class="col-sm-4">
                    <!--<div id="status_txt"></div>-->

                    <!-- this is the top div that will hide when either Hold or Next is clicked  onclick="answer()"-->
                    <div class="call" id="isIncoming" style="display:none">
                        <div class="row">
                            <div class="col-sm-6 padR0">
                                <div class="dial_box pad35 btn-primary" onclick="hideAllExcept('isTransfer')">
                                    <div class="hold-icon"><i class="fa fa-pause"></i></div>
                                    <div>Hold</div>
                                </div>
                            </div>
                            <div class="col-sm-6 padL0">
                                <div class="dial_box pad35 btn-primary" onclick="hideAllExcept('isNext')">
                                    <div>Next  <i class="fa fa-arrow-right"></i></div>
                                    <div class="changing-campaign"><a href="javascript:void(0);" onclick="hideAllExcept('isNext')">Change Campaign</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 padR0">
                                <div class="dial_box pad35">
                                    <div class="waiting-calls-heading">Waiting Calls</div>
                                    <!-- displays how many calls are waiting -->
                                    <div class="waiting-calls">00</div>
                                </div>
                            </div>
                            <div class="col-sm-6 padL0">
                                <div class="dial_box pad35">
                                    <div class="calls-today-heading"> Calls Taken Today </div>
                                    <!-- displays how many calls taken today -->
                                    <div class="calls-today">00</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pad35">
                                    <a href="javascript:void(0)" class="btn main-btn btn-danger btn-block" onclick="hangup()">END</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- this is the section that shows when Hold is clicked -->
                    <!-- Transfer call section-->
                    <div id="isTransfer" class="transfer_box mrgtp30" style='display:none'>
                        <form  class="vertical-form" name="form" >
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <p><label>Transfer A Call</label></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="tel" placeholder="External Number:" id="externalNo" name="tansfers-external-number" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="tel" class="form-control" placeholder="Internal Extension:" id="internalExt" name="tansfers-internal-extension">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <!-- this displays the selected queue -->
                                    <select>
                                        <option value="customerService">Customer Service</option>
                                        <option value="sales">Sales</option>
                                        <option value="billing">Billing</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <button class="btn btn-primary trns_btn" id="transferToPhone" onclick="transferYo();">Submit</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="btn btn-primary next-btn" onclick="hideAllExcept('isIncoming')"><i class="fa fa-arrow-left actionBtn"></i>Back to Main Menu</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- this is end of the section that shows when Hold is clicked -->
                    <!-- this is the section that shows when transfer is clicked -->
                    <div class="softPhone-next-menu transfer_box mrgtp30" id="isNext" style="display:none">
                        <!-- this list will populate from an 'PA active campaigns' list -->
                        <form>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <p><label>Outbound Campaigns</label></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1 col-sm-offset-1">
                                    <div><input type="checkbox" id="checkbox-1-1" name="medicare" class="regular-checkbox solid-blue" ng-model="medicare" value="medicare" /><label for="checkbox-1-1"></label></div>
                                </div>
                                <div class="col-sm-8 col-sm-offset-0">
                                    <label for="checkbox-1-1">Medicare Back</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1 col-sm-offset-1">
                                    <div><input type="checkbox" id="checkbox-1-2" name="other" class="regular-checkbox solid-blue" ng-model="other" value="other" /><label for="checkbox-1-2"></label></div>
                                </div>
                                <div class="col-sm-8 col-sm-offset-0">
                                    <label for="checkbox-1-2">Other</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1 col-sm-offset-1">
                                    <div><input type="checkbox" id="checkbox-1-3" name="another" class="regular-checkbox solid-blue" ng-model="another" value="another" /><label for="checkbox-1-3"></label></div>
                                </div>
                                <div class="col-sm-8 col-sm-offset-0">
                                    <label for="checkbox-1-3">Another</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-2">
                                    <div class="btn btn-primary next-btn" onclick="hideAllExcept('isIncoming')"><i class="fa fa-arrow-left actionBtn"></i>Back to Main Menu</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- this is the end of the section that shows when Transfer is clicked -->


                    <!-- this is an option if the user just wants to type in a number instead of clicking the number buttons -->
                    <div class="dial-btns mrgtp30" id="incomingOrDiapad">

                        <!-- Incomming call status-->
                        <div id="incoming_callbox" class="call" style="display:none">
                            <div class="text-center" style="margin-bottom: 30px;">
                                Call From <span id="call_from" class="text-primary" style="font-weight:bold"></span>
                            </div>
                            <a href="javascript:void(0)" class="btn main-btn btn-success btn-block" onclick="answer()">Answer</a>
                            <a href="javascript:void(0)" class="btn main-btn btn-danger btn-block" onclick="reject()">Reject</a>
                        </div>
                        <!-- Incomming call status end-->

                        <div class="vertical-form" id="callcontainer">
                            <div class="row">
                                <div class="col-xs-2 col-md-2 padR0">
                                    <p class="dial_txt">Dial:</p>
                                </div>
                                <div class="col-sm-10 padL0">
                                    <input type="tel" class="form-control" placeholder="Phone number" name="tel" required value="{{dial_number}}" ng-model="dial_number" id="to" data-ng-keyup="reset(dial_number)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-5 col-md-offset-1 col-xs-offset-6">
                                    <span class="label" id="status_txt1"></span>
                                </div>
                            </div>
                            <div class="row">
                                <!-- When button is clicked it appears in "Dial" textbox -->
                                <div class="col-sm-4 col-xs-4 col-md-4 padR2">
                                    <button name="btn1" class="numberbutton" value="1" data-ng-click="dialer('1')">1<br/><span>&nbsp;</span></button>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 padL2 padR2">
                                    <button name="btn2" class="numberbutton" value="2" data-ng-click="dialer('2')">2<br/><span>ABC</span></button>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 padL2">
                                    <button name="btn3" class="numberbutton" value="3" data-ng-click="dialer('3')">3<br/><span>DEF</span></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-xs-4 col-md-4 padR2">
                                    <button name="btn4" class="numberbutton" value="4" data-ng-click="dialer('4')">4<br/><span>GHI</span></button>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 padL2 padR2">
                                    <button name="btn5" class="numberbutton" value="5" data-ng-click="dialer('5')">5<br/><span>JKL</span></button>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 padL2">
                                    <button name="btn6" class="numberbutton" value="6" data-ng-click="dialer('6')">6<br/><span>MNO</span></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-xs-4 col-md-4 padR2">
                                    <button name="btn7" class="numberbutton" value="7" data-ng-click="dialer('7')">7<br/><span>PQRS</span></button>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 padL2 padR2">
                                    <button name="btn8" class="numberbutton" value="8" data-ng-click="dialer('8')">8<br/><span>TUV</span></button>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 padL2">
                                    <button name="btn9" class="numberbutton" value="9" data-ng-click="dialer('9')">9<br/><span>WXYZ</span></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-xs-4 col-md-4 padR2">
                                    <button name="btn-star" class="numberbutton" value="*" data-ng-click="dialer('*')">*<br/><span>&nbsp;</span></button>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 padL2 padR2">
                                    <button name="btn0" class="numberbutton" value="0" data-ng-click="dialer('0')">0<br/><span>+</span></button>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 padL2">
                                    <button name="btn-pound" class="numberbutton" value="#" data-ng-click="dialer('#')">#<br/><span>&nbsp;</span></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12">
                                    <button  id="make_call" ng-disabled="(dial_number) ? false : true" class="btn btn-success btn-block" ng-click="call(dial_number);" >CALL</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--main div -->
                <div class="{{isSoftPhone ? 'col-lg-12' : 'col-lg-8'}} mrgtp30" ng-controllerX="LeadManageCtrl">
                    <div class="col-lg-12 crmbox dial-btns">

                        <h4 class="text-center">User Details</h4>

                        <div class="panel-body pad0 formBuilderWrapper">
                            <div class="panel panel-default" style="border-radius:0;border:0">
                                <form>
                                    <div ng-model="input" fb-form="default" fb-form-value="newForm" fb-default="default"></div>
                                    <div class="form-group">
                                        <input type="submit" value="Submit" ng-click="saveCallerDetails(input)" class="btn btn-primary btn-lg btn-block" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- this bottom section stays the whole time -->
            </div>
        </div>
    </div>
    <!-- this is the end of top div that will hide when Hold or Next is clicked -->
</div>