

<div class="panel panel-default" ng-controller="webPhoneCtrl">
    <div class="panel-heading"><h3 >Web Phone Information</h3></div>
    <div class="panel-body" data-ng-init="isSoftPhone = false; isIncoming = true;">
        <div class="tab"></div>
        <div class="row">
            <div  class="col-sm-8 col-sm-offset-2">
                <input type="text" class="form-control" ng-model="phone_no"  placeholder="Enter Phone No" autofocus>
                <button type="button" class="btn btn-primary" ng-click="phoneStat(phone_no)"> <b>Submit</b> </button>
            </div>
            <div ng-showX="showMap" class="col-sm-8 col-sm-offset-2">
                <table class="table">
                    <tr><td><b>LB:</b></td><td> {{userData.parent_id.first_name}} {{userData.parent_id.last_name}}</td></tr>
                    <tr><td><b>Offer:</b></td><td> {{campaignData.campaigns[0].offer_id.vertical_category_details.title}}</td></tr>
                    <tr><td><b>Campaign:</b></td><td> {{campaignData.campaigns[0].campaign_name}}</td></tr>
                    <tr><td><b>Areacode:</b></td><td> {{mapData.zipcode.AreaCode}}</td></tr>
                    <tr><td><b>Latitude:</b></td><td> {{mapData.zipcode.Latitude}}</td></tr>
                    <tr><td><b>Longitude :</b></td><td> {{mapData.zipcode.Longitude}} </td>
                    <tr><td><b>ZipCode :</b></td><td> {{mapData.zipcode.ZipCode}}</td></tr>
                    <tr><td><b>City:</b></td><td>  {{mapData.zipcode.City}}</td></tr>
                    <tr><td><b>State :</b> </td><td>{{mapData.zipcode.State}}</td></tr>
                    <tr><td><b>County :</b></td><td> {{mapData.zipcode.County}}</td></tr>
                </table>
            </div>
            <div>
                <div id="map" style="height:420px;width:600px;"></div>
            </div>
        </div>
    </div>

    <!-- this is the end of top div that will hide when Hold or Next is clicked -->
