<div class="col-sm-12">
    <section class="content-header">
        <div class="box-header">
            <h3 class="box-title-new">Call History</h3>
            <div class="box-tools">
                <div class="input-group input-group-sm pull-left tableSearchBox">
                    <input type="text" name="table_search" ng-model="query" ng-change="tableParams.filter(query)" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>

                <div class="pull-right dmright">
                    <div cbl-directive show-today="true" ng-init="filter = 'Filter';"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="box box-primary">           

            <div class="box-body" col-show-hide>
                <div class="table-responsive">
                    <table ng-table ="tableParams" class="table table-condensed ng-table-responsive" export-csv="csv">
                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="callData in $data" ng-switch on="callData.CallStatus" ng-show="!loading && dataPresent">
                            <td data-title="'#'"><span ng-if="params.page() ? true : false">{{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</span></td>
                            <td ng-show="showCol[0]" data-title="'Start Date & Time'" sortable="'StartTime'" >{{callData.StartTime| date : 'short'}}</td>
                            <td ng-show="showCol[1]" data-title="'End Time'" sortable="'EndTime'">{{callData.EndTime| date : 'shortTime'}}</td>
                            <td ng-show="showCol[2]" data-title="'To'" sortable="'To'">{{callData.To.replace("@phone.plivo.com", "")}}</td><!-- Caller Id -->
                            <td ng-show="showCol[3]" data-title="'Agency'" class="text-center">{{'--'}}</td>
                            <td ng-show="showCol[4]" data-title="'From'" sortable="'From'">{{callData.From.replace("@phone.plivo.com", "")}}</td><!-- Source -->
                            <td ng-show="showCol[5]" data-title="'State'" sortable="'State'" style="text-align: center">{{callData.State ? callData.State : '--'}}</td>
                            <td ng-show="showCol[6]" data-title="'Duration'" sortable="'Duration'">{{callData.Duration| secondsToDateTime | date:'mm:ss'}}</td>
                            <td ng-show="showCol[7]" data-title="'Billable'">{{(callData.Duration > 60 && callData.State == 'OH')?'Yes':'No'}}</td>
                            <td ng-show="showCol[8]" data-title="'Commission'" sortable="'Commission'" class="text-center">{{(callData.Commission > 0) ? callData.Commission : '--'}}</td>
                            <td ng-show="showCol[9]" data-title="'Paid'" sortable="'Paid'" class="text-center">{{(callData.Paid == true) ? 'Yes':'No'}}</td>
                            <td data-title="'Note'" class="text-center">
                                <span ng-if="callData.Note"  ng-click="showInput($index)" ng-if="!showBox[$index]">{{callData.Note}}</span>
                                <span ng-show="!callData.Note"  ng-click="showInput($index)" ng-if="!showBox[$index]">
                                    <span ng-click="saveNote(callData._id)" style="cursor:pointer;" title="Note" class="glyphicon glyphicon-plus-sign"></span>
                                </span>
                                <textarea name="note" autofocus="autofocus" ng-model="callData.Note" ng-if="showBox[$index]" ng-blur="noteSave(callData);
                                        showBox[$index] = false;">
                                </textarea>
                            </td>
                            <td header="'headerSettingGear.html'"></td>
                        </tr>
                        <tr ng-if="loading">
                            <td colspan="14"><center>Loading...</center></td>
                        </tr>
                        <tr ng-if="!dataPresent">
                            <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                        </tr>
                    </table>
                </div>
                <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                    csv.generate($event, "CallHistory" + currentDate + ".csv");'>CSV</a></div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> Start Date & Time</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> End Time</a></li>
    <li><a ng-click="showCol[2] = !showCol[2]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> To</a></li>
    <li><a ng-click="showCol[3] = !showCol[3]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[3]]"></i> Agency</a></li>
    <li><a ng-click="showCol[4] = !showCol[4]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[4]]"></i> From</a></li>
    <li><a ng-click="showCol[5] = !showCol[5]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[5]]"></i> State</a></li>
    <li><a ng-click="showCol[6] = !showCol[6]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[6]]"></i> Duration</a></li>
    <li><a ng-click="showCol[7] = !showCol[7]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[7]]"></i> Billable</a></li>
    <li><a ng-click="showCol[8] = !showCol[8]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[8]]"></i> Commission</a></li>
    <li><a ng-click="showCol[9] = !showCol[9]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[9]]"></i> Paid</a></li>
    </ul>
    </div>
</script>

