<div class="animate-repeat col-sm-12" ng-cloak >
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Lead Generator Network Dashboard</h2></div>
        <div class="panel-body pad0" ng-init="filter = 'Filter'">
            <div class="row">
                <div class="col-md-12 centered graybr">
                    <div class="col-md-12">
                        <div class="btn-group pull-left dmleft">
                            <div cbl-directive show-today="true" ng-cloak>Filter</div>
                        </div>
                        <div class="text-right">
                            <div ng-init="getCallHistoryCategories()" class="btn-group" ng-model="button.radio" bs-radio-group>
                                <span style="float:left;padding:6px;">Categories</span>
                                <!-- <button ng-click="categoryFilter(category.name)" class="btn btn-default" ng-repeat="category in newCategories">{{category.name}}</button> -->
                                <label class="btn btn-default"><input type="radio" class="btn btn-default" value="0" ng-click="categoryFilter(category.name)"> All</label>
                                <label class="btn btn-default" ng-repeat="category in newCategories"><input type="radio" class="btn btn-default" value="{{$index + 1}}" ng-click="categoryFilter(category.name)"> {{category.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- New Html Code -->
            <div class="row">
                <div class="col-sm-12 centered graybr">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue">
                                <i class="fa fa-money"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Commission</span>
                                <span class="info-box-number"><small>$</small>{{totalCallCount.totalCommission}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue">
                                <i class="fa fa-phone"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total Calls</span>
                                <span class="info-box-number">{{totalCallCount.resCount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue">
                                <i class="fa fa-hourglass-end"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Billable Calls</span>
                                <span class="info-box-number">{{totalCallCount.bcount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue">
                                <i class="fa fa-clock-o"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Average Duration</span>
                                <span class="info-box-number">{{totalCallCount.avgDuration}} <small>Seconds</small></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" ng-controller="realTimeGraphCtrl">
                    <div class="box box-primary ">
                        <div class="box-header with-border">
                            <h3 class="box-title">Real Time Call Data</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <canvas id="ticks" class="chart chart-line chart-xl" chart-data="data_random" chart-options="options" chart-labels="labels_random" chart-colours="color_random"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-primary ">
                        <div class="box-header with-border">
                            <h3 class="box-title">Categories</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <canvas ng-if="dataPresent" ng-init="DoughnutCtrl()" id="doughnut" class="chart chart-doughnut" chart-data="data_cat" chart-labels="labels_cat" chart-colours="color1" chart-options="options"></canvas>
                            <div ng-if="!dataPresent" class="graph_nodata">No Category Data to Display</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary ">
                        <div class="box-header with-border">
                            <h3 class="box-title">Revenue</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <canvas ng-if="dataPresent" ng-init="BarCtrl()" id="bar" class="chart chart-bar" chart-data="data_rev" chart-labels="labels_rev" chart-colours="color2" chart-options="options_rev"></canvas>
                            <div ng-if="!dataPresent" class="graph_nodata">No Revenue Data to Display</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-primary ">
                        <div class="box-header with-border">
                            <h3 class="box-title">Calls</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <canvas ng-if="dataPresent" ng-init="LineCtrl()" id="line" class="chart chart-line" chart-data="data_calls" chart-labels="labels_calls" chart-colours="color3" chart-click="onClick" chart-options="options_line" ></canvas>
                            <div ng-if="!dataPresent" class="graph_nodata">No Calls Data to Display</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary ">
                        <div class="box-header with-border">
                            <h3 class="box-title">Lead Seller's Total Calls</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <canvas ng-if="dataPresent" ng-init="PieCtrl()" id="pie" class="chart chart-pie" chart-data="data_pie" chart-labels="labels_pie" chart-options="options_pie"></canvas>
                            <div ng-if="!dataPresent" class="graph_nodata">No Data to Display</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-primary ">
                        <div class="box-header with-border">
                            <h3 class="box-title">ADVCC and LB's Total Calls</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <canvas ng-if="dataPresent" ng-init="Pie2Ctrl()" id="pie" class="chart chart-pie" chart-data="data_pie2" chart-labels="labels_pie2" chart-options="options_pie2"></canvas>
                            <div ng-if="!dataPresent" class="graph_nodata">No Data to Display</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- New Html Code Ends Here -->

            <!--<div class="box box-primary ">-->
                <div class="table-responsive" col-show-hide>
                    <!-- <div class="col-md-12 centered panel-body"> -->
                    <table ng-table ="tableParams" class="table table-hover" export-csv="csv">
                        <!--  this will be a table that populates from Plivo   -->
                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="callData in $data" ng-switch on="callData.CallStatus" ng-show="dataPresent">
                            <td data-title="'#'" >{{$index + 1 + ((params.page() - 1) * params.count())}}</td>
                            <td ng-show="showCol[0]" data-title="'Start'" sortable="'StartTime'" >{{callData.StartTime| date : 'short'}}</td>
                            <td ng-show="showCol[1]" data-title="'End'" sortable="'EndTime'">{{callData.EndTime| date : 'shortTime'}}</td>
                            <td ng-show="showCol[2]" data-title="'Category'" sortable="'campaignData.offer_id.vertical_category_details.category_name'">{{callData.campaignData.offer_id.vertical_category_details.category_name}}</td>
                            <td ng-show="showCol[3]" data-title="'Campaign'" sortable="'campaignData.campaign_name'">{{callData.campaignData.campaign_name}}</td>
                            <td ng-show="showCol[4]" data-title="'Direction'" sortable="'Direction'">{{callData.Direction}}</td>
                            <td ng-show="showCol[5]" data-title="'Offer'" sortable="'campaignData.offer_id.vertical_category_details.title'">{{callData.campaignData.offer_id.vertical_category_details.title}}</td>
                            <td ng-show="showCol[6]" data-title="'Source'" sortable="'From'">{{callData.From.replace("@phone.plivo.com", "")}}</td>
                            <td ng-show="showCol[7]" data-title="'State'" sortable="'State'" style="text-align: center">{{callData.State ? callData.State : '--'}}</td>
                            <td ng-show="showCol[8]" data-title="'Landline?'" sortable="'Landline?'">??</td>
                            <td ng-show="showCol[9]" data-title="'Duration'" sortable="'Duration'">{{callData.Duration| secondsToDateTime | date:'mm:ss'}}</td>
                            <td ng-show="showCol[10]" data-title="'Advertising'" sortable="'campaignData.advertising_method.type'">{{callData.campaignData.advertising_method.type}}</td>
                            <td ng-show="showCol[11]" data-title="'Billable'" sortable="'is_billable'" >{{(callData.is_billable == true && callData.campaignData && callData.campaignData.offer_id && callData.campaignData.offer_id.pay_per_call) ? 'Yes':'No'}}</td><!-- Condition: we are checking if call duration is greated then the offers billable_callsecs duration then only the call is billable. -->
                            <td ng-show="showCol[12]" data-title="'Commission'" sortable="'Commission'"><center>${{(callData.is_billable == true && callData.campaignData && callData.campaignData.offer_id && callData.campaignData.offer_id.pay_per_call) ? callData.campaignData.offer_id.pay_per_call.lgnamount : 0}}</center></td><!-- Condition: displaying commission only if call duration is greated then the offers billable_callsecs duration. -->
                        <td ng-show="showCol[13]" data-title="'Paid'" sortable="'Paid'"><center>{{(callData.Paid == true) ? 'Yes':'No'}}</center></td>
                        <td header="'headerSettingGear.html'" ></td>
                        </tr>
                        <tr ng-if="!dataPresent">
                            <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                        </tr>
                    </table>
                    <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                    csv.generate($event, "LGNReports" + currentDate + ".csv");'>CSV</a></div>
                    <!-- </div> -->
                </div>
            </div>
        <!--</div>-->
    </div>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> Start Time</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> End Time</a></li>
    <li><a ng-click="showCol[2] = !showCol[2]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Category</a></li>
    <li><a ng-click="showCol[3] = !showCol[3]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[3]]"></i> Campaign</a></li>
    <li><a ng-click="showCol[4] = !showCol[4]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[4]]"></i> Direction</a></li>
    <li><a ng-click="showCol[5] = !showCol[5]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[5]]"></i> Offer</a></li>
    <li><a ng-click="showCol[6] = !showCol[6]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[6]]"></i> Source</a></li>
    <li><a ng-click="showCol[7] = !showCol[7]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[7]]"></i> State</a></li>
    <li><a ng-click="showCol[8] = !showCol[8]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[8]]"></i> Landline</a></li>
    <li><a ng-click="showCol[9] = !showCol[9]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[9]]"></i> Duration</a></li>
    <li><a ng-click="showCol[10] = !showCol[10]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[10]]"></i> Advertising</a></li>
    <li><a ng-click="showCol[11] = !showCol[11]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[11]]"></i> Billable</a></li>
    <li><a ng-click="showCol[12] = !showCol[12]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[12]]"></i> Commission</a></li>
    <li><a ng-click="showCol[13] = !showCol[13]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[13]]"></i> Paid</a></li>
    </ul>
    </div>
</script>