<section class="panel panel-default">
<body ng-app="themeApp" ng-controller="headeFooterController">
<header ng-style="styleHeader" class="styleHeader">
<head>
		<!-- <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style.css"> -->
</head>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
       <h3> <ul class="nav navbar-nav side-nav">
            <li >
                <image ng-src="{{logoImage}}" width="40px" height="40px"/> &nbsp
            </li>
            
            <li class="">
                <label id="abc"> Header1 </label> &nbsp
            </li>
            
            <li>
                <label> Header2</label> &nbsp
            </li>
            <li>
               <label> Header3</label>&nbsp
            </li>                
        </ul>
        </h3> 
    </div>
</header>



<div  ng-style="styleBody" class="inline">

        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">select color Location</label>
            <div class="col-sm-10">
            <select ng-model="tags" class="form-control" ng-change="setDefault()">
                <option value="styleHeader">Header</option>
                <!-- <option value="styleBody">Body</option> -->
                <option value="styleFooter">Footer</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">Background-color</label>
            <div class="col-sm-10">
            <input colorpicker type="text" ng-model="backgroundColorvalue" ng-change="{{tags}}={'background-color':backgroundColorvalue,'color':colorvalue}" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">Font-color</label>
            <div class="col-sm-10">
            <input colorpicker type="text" ng-model="colorvalue" ng-change="{{tags}}={'background-color':backgroundColorvalue,'color':colorvalue}" class="form-control"/>
            </div>
        </div>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<br>
<br>
<button class="btn btn-primary" ng-click="styleFooter={'background-color':'#000','color':'#fff'}; styleHeader={'background-color':'#000','color':'#fff'}">Black And White</button>
<button class="btn btn-primary" ng-click="styleFooter={'background-color':'#fff','color':'#000'}; styleHeader={'background-color':'#fff','color':'#000'}"> White And Black</button>
<br>
<br>


<footer ng-style="styleFooter" class="styleFooter">
    <div class="collapse navbar-collapse navbar-ex1-collapse ">
     
        <ul class="nav navbar-nav side-nav">
            <li class="">
                <label>Footer 1</label>
            </li>
            
            <li>
                <label>Footer 2</label>
            </li>
            <li>
                <label>Footer 3</label>
            </li>              
        </ul>
    </div>
</footer>
</body>
</section>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script> -->
<script >
angular.module("themeApp", [])
    .controller('headeFooterController',function ($scope) {
    $scope.tags='styleHeader';
    $scope.customStyle='background-color';  
    $scope.logoImage='1.jpg';
    $scope.setDefault=function(){
    $scope.backgroundColorvalue=null;
    $scope.colorvalue=null;
    }
})
</script>
<!-- <link rel="stylesheet" href="assets/css/toastr.min.css"/>
<link rel="stylesheet" href="assets/css/bootstrap.css"/>
<link rel="stylesheet" href="assets/fonts/stylesheet.css"/>
<link rel="stylesheet" type="text/css" href="ngprogress/ngProgress.css">
<link rel='stylesheet' href='assets/css/textAngular.css'>
<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
<link rel="stylesheet" type="text/css" href="assets/css/newSDNStyle.css">
<link rel="stylesheet" type="text/css" href="assets/css/angular-toggle-switch.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css"> -->
<style>
    
    .styleHeader{
    background: #ccc;
    color: #000;
    padding: 10px;
}

.styleFooter{
    background: #ccc;
}
</style>