/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: #66CD00;
    color: #66CD00;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 50px;
    opacity: 0;
    border-color: #66CD00;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */

#ngProgress-container {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 287px;
    left: 60%;
    width: 200px;
    right: 0;
    z-index: 99999;
}

#ngProgress-container.progress{
    background-color: #fff;
    box-shadow: none;
}



@media (max-width: 767px) {
    #ngProgress-container {
        top: 750px;
        left: 0;
        margin: 0 10px;
        padding: 0;
        position: absolute;
        right: 0;
        width: 94%;
        z-index: 99999;
}
}

@media (min-width: 768px) {
     #ngProgress-container {
        left: 60%;
        margin: 0 10px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 305px; 
        width: 200px;
        z-index: 99999;
    }
}


@media (min-width: 1280px) {
     #ngProgress-container {
        left: 60%;
        margin: 0 10px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 287px; 
        width: 200px;
        z-index: 99999;
    }
}
