/*
 * Style tweaks call-base-lead-gen -> [38c5ac3a8a61070dba9788c2c6c222b92e93313f57b8d3a6867049142e1f7713]
 * --------------------------------------------------
 */
body {
    background-color: #f5f5f5;
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial","sans-serif";
}
.dollar_text{
    padding-left: 17px !important ;
}

.container-fluid {
    padding: 0 0 0 0;
}

.main {
    padding: 30px 0;
}

header{
    background-color: #333;
}
footer {
    background-color: #333;
    padding: 20px 0;
}

footer .nav li a {
    color: #ccc;
}

footer .nav li a:hover, footer .nav li a:active, footer .nav li a:focus{
    background: none;
    color: #666;
}

.arrow-up {
    border-bottom: 15px solid #616161;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: -12px 12px 0; left: 50%;
    width: 0;
}
/*.panel{
  margin: 35px 14px;
}*/
div#middle { /*Jubin*/
    padding-top: 50px;
}

.grey > ul > li { position : relative;  }
.nav > li { position: static; }
.dropdown-menu > li {  display: block; }
.subclass { margin-left: 215px; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #1b4b9e;
    color: #ffffff;
    text-decoration: none;
}
.dropdown-menu > li > a {
    display: block; clear: none; /*color: #fff;*/ line-height: 24px;

}
.dropdown-menu {
    right: 0; box-shadow: none; background: #f4f4f4; border: 1px solid #ccc; min-width: 130px !important;
}
/*.navbar-nav > li > .dropdown-menu {  margin: 10px 0 0 0; }*/
.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background-color: #262626; border-radius: 0;
    border: none;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > span  {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #fff;
    opacity: 0.65;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    opacity: 0.65;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none; color: #fff;
}
.navbar-header {
    border-right: 2px solid #333;
    height:70px;
}
.navbar-right {
    border-left: 2px solid #333;
}
.nav .caret{
    border-bottom-color : #333;
    border-top-color : #333;
}
.fltrt{
    float: right;
}
.evencolor{
    background-color: #F5F5F5;
}
.tablehead{
    background-color: #000;
    color: #fff;
}
.mrg7{
    margin: 15px 10px;
}
table th ul.dropdown-menu.gearbox {
    left: auto;
}
.gearbox{
    /*background-color:#222d32;*/
    background-color:#fff;
    border: 1px solid #ccc;
    display:block;padding: 10px 0; -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175); min-width: 130px;
}
.gearbox li a:hover{
    /*opacity: 0.7;*/
    /*text-decoration: underline #000;*/
}
.head-right-box{
    color: #fff; margin: 12px;
}
.head-right-box a{
    color: #fff;
}
.head-right-box a:hover{
    opacity: 0.7;
}
.btn-primaryX{
    background-color : #fff;
    border: 2px dotted #3190e7;
    color : #000;
    margin-right: 10px;
}
.btn-campaignBtn {
    background-color: #fff;
    border: 2px dotted #3190e7;
    color: #000;
    margin-right: 10px;
    padding: 20px 40px 20px 40px;
}

.btn-primaryX:hover, .btn-primaryX:active, .btn-primaryX:focus, .btn-primaryX:active:focus, .btn-primaryX:active:hover{
    background-color: #3190e7;
    border: 2px dotted #3190e7;
}

.login {
    background: #333 none repeat scroll 0 0;
    margin: 0;
    padding: 0;
}
/*.login-page .logo {
    display: block;
    height: 100px;
    margin: 0 auto 20px;
    padding: 5px 10px;
}*/
.login-page .logo {
    display: block;
    height: 140px;
    margin: 0px auto 0px;
    padding: 35px 80px;
    position: relative;
}
.login-box-body, .register-box-body {border-top: 1px solid #e0e0e0}
.login-box, .register-box {
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
}
.logo span {
    background-size: 100% 100%;
    background-position: center center;
    height: 100%;
    display: inherit;
}
.main-header .logo {padding: 3px 47px;}
.sidebar-collapse .main-header .logo {padding: 10px 20px;}

.loginForm.vertical-form {
    background: white none repeat scroll 0 0;
    border-radius: 3px;
    margin: 0 auto;
    padding: 40px;
    /*width: 500px; Jubin*/
    width: 420px;
    height: auto;
}

.login .form-control{
    width: 0;
}

.loginForm.vertical-form legend {
    color: #565656;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 12px;
    /*margin: 0 auto 45px;*/
    text-align: center;
    text-transform: none;
    border-style : none;
}
.loginForm.vertical-form p {
    color: #999;
    font-size: 16px;
    margin: 10px 0 0;
    text-align: center;
}

/*.loginForm.vertical-form input[type="submit"],input[type="button"]{*/
.loginForm.vertical-form input[type="submit"], .loginForm.vertical-form input[type="button"]{
    background: #fff none repeat scroll 0 0;
    border: 2px dotted #3190e7;
    border-radius: 3px;
    color: #3190e7;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: auto;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    width: 100%;
}
/*.vertical-form input[type="submit"], input[type="button"]{*/
.vertical-form input[type="submit"], .vertical-form input[type="button"]{
    background: #fff none repeat scroll 0 0;
    border: 2px dotted #3190e7;
    border-radius: 3px;
    color: #3190e7;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: auto;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.vertical-form input[type="submit"]:hover, .vertical-form input[type="submit"]:focus, .vertical-form input[type="submit"]:active {
    background-color: #3190e7;
    border : 2px dotted #3190e7;
    color: #FFF;
    transition: background 0.1s ease 0s;
}

.loginForm.vertical-form input[type="submit"]:hover, .loginForm.vertical-form input[type="submit"]:focus, .loginForm.vertical-form input[type="submit"]:active {
    background-color: #3190e7;
    border : 2px dotted #3190e7;
    color: #FFF;
    transition: background 0.1s ease 0s;
}
.loginForm.vertical-form p a {
    border-bottom: 1px solid #bbb;
    text-decoration: none;
}
.login a, .login a:visited {
    color: inherit;
    /*  text-decoration: underline;*/
}
.vertical-form input[type="text"],.vertical-form input[type="tel"], .vertical-form input[type="email"], .vertical-form input[type="password"], .vertical-form input[type="number"], .vertical-form Select {
    background: #fcfcfc none repeat scroll 0 0;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    display: block;
    font-size: 18px;
    height: auto;
    margin: 5px auto;
    padding: 10px 20px;
    text-align: left;
    transition: opacity 0.4s ease 0s;
    width: 100%;
}
.login .footer {
    color: white;
    margin: 20px auto;
    text-align: center;
}
.login .footer p {
    margin-bottom: 40px;
    font-size: 16px;
}
.login .footer a {
    border: 0 none;
    font-weight: 600;
    padding: 0;
}
.input-group-addon{
    /*border: none;*/
    /*background-color: transparent;*/
}
label {
    display: inline;
}
.form-group label{
    font-weight: normal;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 0;
    display: inline-block;
    position: relative;
    margin-right: 1%;
    vertical-align: middle;
    cursor: pointer;
}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
    background-color: #fafafa;
    border: 1px solid #153d9a;
    color: #153d9a;
}

.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #153d9a;
}

.big-checkbox + label {
    padding: 12px;
}

.big-checkbox:checked + label:after {
    font-size: 18px;
    left: 6px;
}

.regular-checkbox.solid-blue:checked + label {
    background-color: #153d9a;
    border: 1px solid #153d9a;
}
.regular-checkbox.solid-blue:checked + label:after {
    color: #fff;
}


.regular-radio {
    display: none;
}

.regular-radio + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-right: 3%;
    vertical-align: middle;
    cursor: pointer;
}

.regular-radio + label:active, .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-radio:checked + label {
    background-color: #fafafa;
    border: 1px solid #153d9a;
    color: #153d9a;
}

.regular-radio:checked + label:after {
    content: '\2022';
    font-size: 14px;
    position: absolute;
    top: 0px;
    /*left: 3px;*/
    left: 7px;
    color: #153d9a;
}

.big-radio + label {
    padding: 12px;
}

.big-radio:checked + label:after {
    font-size: 34px;
    left: 7px;
    top: -10px;
}

.regular-radio.solid-blue + label {
    background-color: #fff;
    border: 3px solid #ccc;
    padding: 8px;
}

.regular-radio.solid-blue:checked + label {
    background-color: #fff;
    border: 3px solid #153d9a;
    padding: 8px;
}
.regular-radio.solid-blue:checked + label:after {
    color: #153d9a;
    font-size: 35px;
    top: -15px;
    left: 2.5px;
}


.dial-btns {
    border: 2px dotted #3190e7;
    background-color: #f5f5f5;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
}
.dial_txt {
    margin: 20px 0 0 0px;
}
.dial_box.btn-primaryX{
    margin-right:0;
    cursor: pointer;
}

.dial_box.btn-primaryX:hover a{
    color: #FFF;
}
.crmbox {
    /*min-height: 529px; Jubin*/
    /*vertical-align: middle; Jubin*/
    font-size: inherit;
}
.crmbox .panel-title {cursor: pointer;}
#make_call, #tw_make_call{
    font-size: 20px;
    padding: 30px 0;
}

.dial-btns button {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 2px;
    padding: 15px;
    width: 100%
}
.col-sm-4.col-xs-4.col-md-4.dialpad{
    padding: 1px;
}
.dial-btns .end-call {
    background-color: #F20A34;
    border-radius: 0;
}
.dial-btns .numberbutton-star {
    padding: 36px 38px 36px 37px;
}

.dial-btns button:hover{
    border: 1px outset;
}
.dial_box{
    border: 2px dotted #3190e7;
    height: 120px;
    padding: 14px 0;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    color: #333;
}
.padR0{
    padding-right: 0;
}
.padL0{
    padding-left: 0;
}
.padR2{
    padding-right: 2px;
}
.padL2{
    padding-left: 2px;
}
.pad35{
    padding: 35px 0 14px;
}
.transfer_box{
    border: 2px dotted #3190e7;
    border-radius: 5px;
    padding: 14px 0;
}
.mrgtp50{
    margin-top:50px;
}
.mrgtp30{
    margin-top:30px;
}
.mrgtp10{
    margin-top:10px;
}
.mrgrt30{
    margin-right: 30px;
}
.changing-campaign{
    margin-top: 20px;
}
.next-btn, .hold-btn{
    border: 2px solid #fff;
    color: #333333;
    font-size: 16px;
}
.chkbox{
    float: left; margin-right: 5px;
}
.trns_btn{
    color: #333;
    font-size: 20px;
    margin: 7px 0;
    width: 100%;
}
.call .btn-success{
    padding: 20px 0;
    font-size: 20px;
}
.call .btn-danger{
    margin-bottom: 20px;
    padding: 20px 0;
    font-size: 20px;
}
.fltr{
    float: right;
}
.tab-content {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    margin: 0;
    min-height: 704px;
    padding: 2%;
    width: 85%;
    background-color: #fff; /*Jubin*/
}
.navtabs{
    width:15%;
    float:left;
    padding-top: 30px;
}
.navtabs li a{
    padding: 15px;
    color: #fff /*Jubin*/
}
.navtabs li.active {
    margin-right: -1px;
}
.navtabs .active > a {
    border: 1px solid #ccc;
    /*border-radius: 5px 0 0 5px;*/
    /*    border-color: #ccc #fff #ccc -moz-use-text-color;
        border-color: #ccc #fff #ccc #337ab7;*/
    border-radius: 0;
    border-right: 0;
    background-color: #fff; /*Jubin*/
    color: #1b4b9d;
    box-shadow: 0 0 10px;
}
/*.content {
  margin: 1em;
  padding: 1em;
}*/

.animate-hide {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    line-height:20px;
    opacity:1;
    padding:0 10px;
    /* position: absolute;*/
    left: 0%;
    z-index: 1;
}
.animate-hide.ng-hide {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    left: -100%;
    opacity:0;
}

.tab {
    background-color: #333;
    border: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    left: -3%;
    line-height: 25px;
    padding: 9px;
    position: absolute;
    z-index: 2;
    transform: rotate(-90deg);
}
.tab:hover,.tab:active,.tab:active:hover {
    opacity: 0.8
}
.dial-btns .numberbutton > span {
    font-size: 12px;
}

.setup-your-LGN-info input[type="file"],.custom-your-instance-info input[type="file"]{
    height :auto;
}
.panel-heading .pull-right.text-danger {
    margin-top: -1%;
}

/*Drang n drop box */
.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px 0;
}
.dragover {
    border: 5px dashed blue;
}

.input-symbol-dollar {
    position: relative;
}
.input-symbol-dollar input[type=text] {
    padding-left:18px;
}
.input-symbol-dollar:before {
    content: "$";
    font-size: 18px;
    left: 8px;
    top: 23px;
    position: absolute;
    z-index: 1;
}
.duration-margin
{
    margin-top: -44px;
}

.cursorPointer{
    cursor: pointer;
}
/*For  busy loading button*/
.bigButtonForLoad{
    background: #fff none repeat scroll 0 0;
    border: 2px dotted #3190e7;
    border-radius: 3px;
    color: #3190e7;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: auto;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    width: 100%;
}
/*Jubin - For Drag & Drop (START)*/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.simpleDragDrop ul[dnd-list],
.simpleDragDrop ul[dnd-list] > li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDragDrop ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDragDrop ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDragDrop ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.simpleDragDrop ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDragDrop ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.simpleDragDrop .panel{margin: 15px 0;}
/*Jubin - For Drag & Drop (END)*/

/*Jubin - For Form Builder (START)*/
.collapse.am-collapse {
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    overflow: hidden;
    &.in-remove {
        animation-name: collapse;
        display: block;
    }
    &.in-add {
        animation-name: expand;
    }
}
.formBuilderWrapper .panel.panel-default {border: 1px solid #ddd}
.formBuilderWrapper .panel-heading {cursor: pointer}
.formBuilderCloseBtn {position: absolute;top: 10px;right: 10px;}

h3.popover-title {margin-top: 25px;}
.fb-form-object-editable, .fb-form-object{
    border: 1px solid #CBD2D5;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
    background-color: #fff;
    padding: 0;
}
.fb-form-object-editable.empty {border: 1px dashed #aaa;}
.fb-form-object-editable:hover, .fb-form-object:hover{
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
.formBuilderWrapper .form-group.fb_element {
    margin: 0;
}
.formBuilderWrapper h4.panel-heading {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #CBD2D5;
}
.formBuilderWrapper .form-group > label.control-label.headLabel {
    position: relative;
    text-align: left !important;
    background-color: #c8dff8;
    color:#31708f;
    padding: 5px 20px 5px 5px;
    border-bottom-right-radius: 35px;
    display: inline-block;
    margin-bottom: 10px;
}
h3.popover-title{
    background-color: transparent;
    border-bottom: none;
}
.faq-group {
    background: #fff;
    display: inline-block;
    width: 100%;
    border: 1px solid #CBD2D5;
    margin-bottom: 10px;
    padding: 0px 10px;
    cursor: pointer;
}
.faq-group:hover{
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
.faqEdit .row{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}
.faqBtn{margin: 10px 0;display: inline-block;}
.faqCloseBtn.formBuilderCloseBtn{position: relative;margin-top: 10px;float: right;top:inherit;right: inherit;}
.faqEditMode{background-color: #fffceb;}

.fb-component {
    padding: 8px 10px;
    cursor: move;
    border: 1px dotted #3190e7;//solid #ccc;
    margin: 2px 0;
    text-transform: capitalize;
}
.fb-component:hover {
    background-color: #3190e7;
    color: #fff;
}

.fb-draggable.dragging{color: #333;height: auto !important;}

div.formBuilderCloseBtn button.btn.btn-xs {
    background-color: transparent;
    /*color: #555;*/
    /*border: 1px solid #555;*/
    color: #3190e7;
    border: 1px dotted #3190e7;
    border-radius: 0 !important;
    margin: 0 -1px 0 0;
}
div.formBuilderCloseBtn button.btn.btn-xs.btn-info:hover {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #269abc;
}
div.formBuilderCloseBtn button.btn.btn-xs.btn-success:hover {
    color: #ffffff;
    background-color: #449d44;
    border-color: #398439;
}
div.formBuilderCloseBtn button.btn.btn-xs.btn-primaryX:hover {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
}
div.formBuilderCloseBtn button.btn.btn-xs.btn-danger:hover {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
}
div.formBuilderCloseBtn button.btn.btn-xs.btn-warning:hover {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #d58512;
}

/*Jubin - For Form Builder (END)*/

/*Jubin START*/
textarea{resize: vertical;}
td.noDataFoundTd {font-weight: 400;font-size: 16px;}
.actionBtn{cursor: pointer;margin: 0 5px;}
#navbarCollapse > .nav.navbar-nav {padding-top: 6px !important;}
.navbar-brand .logo {display: block;height: 45px;width: 200px;margin: -3px;}
#plivo_flash_placeholder {display: none !important;}
#navbarCollapse > .nav > li > a {line-height: 30px !important;}
.panel.panel-default > .panel-heading > h3 {height: 40px;}

.table-condensed > thead > tr > th > * {line-height: 33px;}
.table-condensed > thead > tr > th .dropdown {
    /*color:#000;*/
    position: relative;
    width: 51px;
    float:right;
}
.dropdown .btn{background: none;color: #fff}
.dropdown .caret{background: none;color: #fff;border-bottom-color:#fff;border-top-color:#fff}
.dropdown .btn:hover, .dropdown .btn:focus, .dropdown .caret:hover,.dropdown .caret:focus{text-shadow: 0px 0px 10px #fff;}
.dropdown .btn .glyphicon-cog{
    transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.dropdown .btn .glyphicon-cog:hover, .dropdown .btn .glyphicon-cog:focus{
    transform: rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg); /* Opera */
}
.table-condensed > thead > tr > th .dropdown-menu {float: right;left:inherit;right: 0;}
.table-condensed > thead > tr > th .dropdown-menu li a{cursor: pointer;text-decoration: none;}
.ng-table-counts{padding-right: 5px; margin:20px 0;}
.ng-table-pagination{padding-left: 5px;}
.downloadCsvLink{width: 100%;text-align: right;margin-right: 25px;}
.tableHeadBtnDiv{display: inline;}
.tableHeadBtnDiv > input{margin-right:10px}
.pad0{padding: 0 !important;}
.padL0{padding-left: 0 !important;}
.padR0{padding-right: 0 !important;}
.btn-group > .btn:first-of-type {border-bottom-left-radius: 4px !important;border-top-left-radius: 4px !important;}
div#plivoLoginFailDiv {position: absolute;width: 100%;background-color: rgba(50,50,50,0.5);top: 0;left: 0;height: 100%;z-index: 1;}


.hgtFont{
    font-size: 20px;
    height: 58px;
}

ul.grey > li {border-bottom: 5px solid transparent;}
ul.grey > li:hover, ul.grey > li:active, ul.grey > li.subLinkActive {border-bottom: 5px solid #000000;}

table .toggle-switch {height: auto !important;min-width: 60px !important;}
table .toggle-switch span{padding: 0 !important;font-size: 12px;font-weight: bold;}

/*Temp START*/
.mrg7{margin: 3px 10px;}
.head-right-box{margin:4px;}
/*.navbar-header{height: 60px;}*/
/*.navbar{min-height: 40px;}*/
.panel.panel-default {border: none;background: none;box-shadow: none;}
.panel-default > .panel-heading {background: none;border: none;}
.panel.panel-default > .panel-heading > h3 {height: auto;}
/*nav .dropdown button.btn {font-size: 24px;}*/
/*.navbar-brand {height: auto;padding: 11px 15px;}*/
/*body {background-color: #fff;}*/
/*Temp END*/
.verifiedIcon {bottom: 0;color: #3190e7; font-size:14px;  /*left: 188px;position: absolute;*/}

.jEllipsis {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}

/*Jubin END*/

/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .input-symbol-dollar:before  { top: 11px;  }
}
.saas-routing-settings .vertical-form .change, .saas-pay-calls .vertical-form .change {
    display: inline; width: 80px; margin: 0 2px; padding: 0; text-align: center;
}
.saas-pay-calls .vertical-form .change1 {
    display: inline; width: 155px; margin: 0 2px; padding: 0; text-align: center;
}
.input-symbol-doll {
    position: relative;
}
.input-symbol-doll input[type=text] {
    padding-left:18px;
}
.input-symbol-doll:before {
    content: "$";
    font-size: 18px;
    left: 8px;
    position: absolute;
    top: -6px;
    z-index: 1;
}
.saas-state-calls .vertical-form .saas-state-restrict-input .state-table{
    /*background-color : #fff;*/
    border: 2px dotted #3190e7;
    color : #000;
    margin-right: 10px;
}

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

#status_txt{
    color: #3190e7;
    margin-left: 8px;
}
.dc-left{
    margin-left: 10px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -33%;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 10px;
    }
    .subclass { margin-left: 0px; }
    .arrow-up{ display: none;}
    .loginForm.vertical-form {
        width: 92%;
    }
}



@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
    .dial-btns button {
        width: 100%;
        padding: 18px;
    }
    .dialpad{
        padding: 1px 2px;
    }

}
.main .page-header {
    margin-top: 0;
}
.grey{
    background-color: #616161;
    /*min-height: 50px; jubin*/
    min-height: 40px;
    color: #FFF;
    width: 100%;
    position: absolute;
    left: 0;
}


@media (max-width: 767px) {
    .grey{
        position:relative;
        padding: 0 20px;

    }
}



/***************** Jubin *******************/
.tabbable.tabs-left {
    background-color: #1b4b9d;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

.change{
    width: 60px;
    margin: 0px 5px;
    padding: 0px 3px;
}


.pos-relative {
    position: relative;
}

.mrgRt3 {
    margin-right: 3px;
}

.mrgRt5 {
    margin-right: 5px;
}

.mrgL5{
    margin-left: 5px;
}

.wdt100{
    width:100%;
}
.mrgTp3{
    margin-top: 3px;
}

.mrgTp10{
    margin-top: 10px;
}

.mrgTp15{
    margin-top: 15px;
}

.padL70{
    padding-left: 70px;
}

.mainIvr .input-group-addon {
    border: 0;
    line-height: inherit;
}

.google-add-btn {
    background: #dd4b39;
    background: #dd4b39 -webkit-linear-gradient(top , #dd4b39, #d14836) repeat scroll 0 0;
    background: #dd4b39 -o-linear-gradient(top , #dd4b39, #d14836) repeat scroll 0 0;
    background: #dd4b39 -moz-linear-gradient(top , #dd4b39, #d14836) repeat scroll 0 0;
    background: #dd4b39 linear-gradient(top , #dd4b39, #d14836) repeat scroll 0 0;
    border-color: #dd4b39;
    /*line-height: 18px;*/
    text-transform: uppercase;
    font-weight: 700;
    font-family: arial,​helvetica,​sans-serif;
    font-size: 11px;
    color: #fff;
}

.google-add-btn:hover, .google-add-btn:active, .google-add-btn.hover {
    background-color: #d44230;
    border-color: #d44230;
    color: #ffffff;
}

.google-add-btn i.fa {
    font-size: 10px;
    padding-right: 2px;
}

.tableSearchBox {
    width: 150px;
    margin: 0 10px 0 0;
}

.box-title-new{
    isplay: inline-block;
    font-size: 28px;
    line-height: 1;
    margin: 0;
}

.box-tools .form-control {
    width: auto;
}

@media (max-width: 767px) {
    .main-header nav.navbar .navbar-custom-menu .nav .dropdown .dropdown-toggle{
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .box-header > .box-tools {position: relative !important;right: 0 !important;top: 10px !important;}
    .box-tools .form-control, .box-tools .tableSearchBox {width: 100% !important}
    .box-header > .box-tools > button.btn {width: 100% !important; margin-top: 10px !important;}
}