<!-- start add the phoneNumber -->
<div class="col-sm-12" ng-init="editPhoneNumber();
        myerror = false;">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Add Phone Number</h3></div>
        <div class="panel-body pad0">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-md-offset-3">
                    <div ng-show="error" class="alert alert-danger">{{error}}</div>
                    <div ng-show="success" class="alert alert-success">{{success}}</div>
                    <form class="vertical-form" name="addPhone_form" category="form" novalidate>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input class="form-control" required type="text" name='name' ng-model="phoneNumber.phone_no" placeholder="Phone Number" ng-minlength="8" ng-maxlength="15" ng-pattern="/^[0-9]*$/"  ng-change = "phoneNumber.phone_no.length == 8  ? getZipcode(phoneNumber.phone_no) : ''"  tabindex="1"/>
                                <span ng-show="addPhone_form.name.$error.minlength" class="text-danger">Phone number is too short.</span>
                                <span ng-show="addPhone_form.name.$error.maxlength"class="text-danger">Phone number is too long.</span>
                                <span ng-show="addPhone_form.name.$error.pattern && !addPhone_form.name.$pristine"
                                      class="text-danger">Phone number should be number only.</span>
                                <span class = "text-danger" ng-show="myerror && addPhone_form.name.$error.required" >Phone number is required</span>
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class="col-sm-10">
                                <select type="text" required name="status" id="status" class="form-control input-lg" placeholder="" ng-model="phoneNumber.provider_type" tabindex="3">
                                    <option value="">Provider Type</option>
                                    <option value="local">Local Numbers</option>
                                    <option value="tollfree">800 Numbers</option>
                                    <option value="vanity">Vanity Numbers</option>
                                </select>
                                <span class = "text-danger11" ng-show="addPhone_form.status.$invalid && myerror">Please select type</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 ">
                                Location :
                            </div>
                            <div class="col-sm-5 ">
                                &nbsp;{{phoneNumber.State}}
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-5 pull-left">
                                <input type="button" class="btn btn-primary " ng-click="goTOLink('/'+currentRoleCode+'/phone-numbers/')" value="Back"/>
                            </div>
                            <div class="col-sm-5 pull-left">
                                <input class="btn btn-primary" ng-click = "(addPhone_form.$invalid) ? myerror = true : createPhoneNumber(phoneNumber);" type="submit" value="Save"/>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Add the phoneNumber -->