<!-- Call Routing Concurrent Calls View Form -->
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Concurrent calls</h3></div>
        <div class="panel-body">

            <div class="ivr-based">
                <div class="contact-info col-sm-8 col-sm-offset-2">
                    <div ng-show="success" class="alert alert-success">{{success}}</div>
                    <div ng-show="error" class="alert text-danger">{{error}}</div>
                    <form class="vertical-form" role="form" name="cc_form" ng-init = "cc_err = false;
                          " novalidate>
                        <div class="input-group form-group col-md-12 mainIvr">
                            <div class="col-xs-2">
                                <span class="input-group-addon" style="background:none;">If more than</span>
                            </div>
                            <div class="col-xs-3 paddingLR5p">
                                <input type="text" class="ivr_select backWhite" ng-model="cc.no_of_calls" name="calls" placeholder="Enter Calls">
                            </div>
                            <div class="col-xs-5">
                                <span class="input-group-addon" style="background:none;">calls occur simultaneously to this phone number, then</span>
                            </div>

                        </div>
                        <div class="input-group form-group col-md-12 mainIvr">
                            <div class="col-xs-6 paddingLR5p marginTB7p borderRight">
                                <select class="ivr_select" name="cc_method" ng-model="cc.pressed_action" ng-change="resetInitialCount(cc);"> 
                                    <option value="">Select</option>
                                    <option ng-repeat="option in optionarr" ng-selected="option.value==cc.pressed_action" value="{{option.value}}">{{option.display}}</option>
                                </select>
                            </div>
                            <div class="col-xs-6 paddingLR5p marginTB7p">
                                <div ng-if="cc.pressed_action == 'dial' || cc.pressed_action == 'reps'">
                                    <input type="text" class="ivr_select backWhite marginDialTB" ng-model="cc.dial_schema[0].dial_to" name="phonenumber" placeholder="Enter Phone Number" phone-input>
                                </div>
                                <div ng-if="cc.pressed_action == 'prompt'">
                                    <select class="ivr_select" ng-model="cc.prompt_schema[0].prompt_id">
                                        <option value="">Select Prompt</option>
                                        <option ng-repeat="prompt in prompts" ng-selected="prompt._id==cc.prompt_schema[0].prompt_id" value="{{prompt._id}}">{{prompt.name}}</option>
                                    </select>
                                </div>
                                <div ng-if="cc.pressed_action == 'queue'">
                                    <select class="ivr_select" name="cc_queue" ng-model="cc.sendToQueue_schema[0].queue_id">
                                        <option value="">Select Queue</option>
                                        <option ng-repeat="queue in queues" ng-selected="queue._id==cc.sendToQueue_schema[0].queue_id" value="{{queue._id}}">{{queue.queue_name}}</option>
                                    </select>
                                </div>
                                <div ng-if="cc.pressed_action == 'extension'">
                                    <select name="cc_pa" class="ivr_select" ng-model="cc.ring_schema[0].phone_agent_id">
                                        <option value="">Select Phone Agent</option>
                                        <option ng-repeat="pa in pas" ng-selected="pa._id==cc.ring_schema[0].phone_agent_id" value="{{pa._id}}">{{pa.first_name}} {{pa.last_name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>

                            <div class="form-group" ng-if="cc.pressed_action == 'dial' || cc.pressed_action == 'reps'">

                                <div class="col-sm-10 backgrndGrey">
                                    <div class="col-sm-8">
                                        <input type="checkbox" name="ivr_noanswer" ng-model="cc.dial_schema[0].is_next_dial" class="regular-checkbox solid-blue" id='ivr_noanswer'><label for="ivr_noanswer"></label>

                                        <label for="ivr_noanswer" class="greyColor">If no answer after </label> <input type="text" class="borderRight borderLeft ivr_select backWhite dialInputSec" ng-model="cc.dial_schema[0].wait_time" ng-pattern="/^[0-9+-]*$/" name="cc_seconds" placeholder="Seconds"> <span class="greyColor">seconds, then ring </span>
                                    </div>
                                    <div class="col-sm-4"><input type="text" class="borderLeft ivr_select backWhite dialInput" name="cc_phoneno" ng-model="cc.dial_schema[1].dial_to" placeholder="Enter Phone Number" style="display:inline;" phone-input>
                                    </div>
                                </div>

                                <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                    <button ng-click="incrementDialCount();" class="btn btn-primary plus-btn greenBack"> <span><i class="glyphicon glyphicon-plus"></i></span> </button>
                                </div>
                                <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                    <button ng-disabled="true" class="btn btn-primary plus-btn redBack" style="cursor: not-allowed"> <span><i class="glyphicon glyphicon-minus"></i></span> </button>
                                </div>

                                <div ng-repeat="n in []| range:dialcount">
                                    <div ng-init="show[$index] = true;" ng-show="show[$index]">
                                        <div class="col-sm-10 backgrndGrey">
                                            <div class="col-sm-8" >
                                                <input type="checkbox" name="cc_noanswer_{{$index}}" ng-model="cc.dial_schema[$index + 1].is_next_dial" class="regular-checkbox solid-blue" id='cc_noanswer_{{$index}}'><label for="cc_noanswer_{{$index}}"></label>

                                                <label for="cc_noanswer_{{$index}}" class="greyColor">If no answer after </label> 
                                                <input type="text" class="borderLeft borderRight ivr_select backWhite dialInputSec" ng-pattern="/^[0-9+-]*$/" name="cc_seconds_{{$index}}" ng-model="cc.dial_schema[$index + 1].wait_time" placeholder="Seconds" ><span class="greyColor"> seconds, then ring </span>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="borderLeft ivr_select backWhite dialInput" name="cc_phoneno_{{$index}}" ng-model="cc.dial_schema[$index + 2].dial_to" placeholder="Enter Phone Number" phone-input>
                                            </div>
                                        </div>
                                        <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                            <button ng-click="incrementDialCount();" class="btn btn-primary plus-btn greenBack"> <span><i class="glyphicon glyphicon-plus"></i></span> </button>
                                        </div>
                                        <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                            <button ng-click="show[$index] = false;
                                                    removeItem(cc.dial_schema, $index + 2)" class="btn btn-primary plus-btn redBack"> <span><i class="glyphicon glyphicon-minus"></i></span> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-if="cc.pressed_action == 'queue'">
                                <div class="input-group form-group col-md-12 backgrndGrey queue">
                                    <span class="input-group-addon" style="background:none;"> If no agents are available or if no answer after <input type="text" class="ivr_select backWhite dialInputSec" ng-model="cc.sendToQueue_schema[0].wait_time" name="ivr_seconds" placeholder="Seconds"> seconds, then, </span>
                                    <div class="col-xs-12 marginTB7p">
                                        <select class="ivr_select" name="cc_queueOptions" ng-model="cc.sendToQueue_schema[0].pressed_action" ng-change="resetInitialCount(cc.sendToQueue_schema[0]);">
                                            <option value="">Select</option>
                                            <option ng-repeat="option in optionarr" ng-selected="option.value==cc.sendToQueue_schema[0].pressed_action" value="{{option.value}}">{{option.display}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-if="cc.sendToQueue_schema[0].pressed_action == 'dial' || cc.sendToQueue_schema[0].pressed_action == 'reps'">
                                    <div class="col-sm-6 backgrndGrey">
                                        <input type="text" class="ivr_select backWhite" ng-model="cc.sendToQueue_schema[0].dial_schema[0].dial_to" name="phonenumber" placeholder="Enter Phone Number" phone-input>
                                    </div>
                                    <div class="col-sm-10 backgrndGrey">
                                        <div class="col-sm-8">
                                            <input type="checkbox" name="cc_noanswerdf" ng-model="cc.sendToQueue_schema[0].dial_schema[0].is_next_dial" class="regular-checkbox solid-blue" id='cc_noanswerdf'><label for="cc_noanswerdf"></label>

                                            <label for="cc_noanswerdf" class="greyColor">If no answer after </label> <input type="text" class="borderLeft borderRight ivr_select backWhite dialInputSec" ng-model="cc.sendToQueue_schema[0].dial_schema[0].wait_time" ng-pattern="/^[0-9+-]*$/" name="cc_seconds" placeholder="Seconds"> <span class="greyColor">seconds, then ring </span>
                                        </div>
                                        <div class="col-sm-4"><input type="text" class="borderLeft ivr_select backWhite dialInput" name="cc_phoneno" ng-model="cc.sendToQueue_schema[0].dial_schema[1].dial_to" placeholder="Enter Phone Number" style="display:inline;" phone-input>
                                        </div>
                                    </div>
                                    <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                        <button ng-click="incrementQueueDialCount();" class="btn btn-primary plus-btn greenBack"> <span><i class="glyphicon glyphicon-plus"></i></span> </button>
                                    </div>
                                    <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                        <button ng-disabled="true" class="btn btn-primary plus-btn redBack" style="cursor: not-allowed"> <span><i class="glyphicon glyphicon-minus"></i></span> </button>
                                    </div>

                                    <div ng-repeat="n in []| range:queuedialcount">
                                        <div ng-init="show[$index] = true;" ng-show="show[$index]">
                                            <div class="col-sm-10 backgrndGrey">
                                                <div class="col-sm-8" >
                                                    <input type="checkbox" name="cc_noanswer_{{$index}}" ng-model="cc.sendToQueue_schema[0].dial_schema[$index + 1].is_next_dial" class="regular-checkbox solid-blue" id='cc_noanswer_{{$index}}'><label for="cc_noanswer_{{$index}}"></label>

                                                    <label for="cc_noanswer_{{$index}}" class="greyColor">If no answer after </label> 
                                                    <input type="text" class="ivr_select borderLeft borderRight backWhite dialInputSec" ng-pattern="/^[0-9+-]*$/" name="cc_seconds_{{$index}}" ng-model="cc.sendToQueue_schema[0].dial_schema[$index + 1].wait_time" placeholder="Seconds" ><span class="greyColor"> seconds, then ring </span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" class="ivr_select backWhite dialInput" name="cc_phoneno_{{$index}}" ng-model="cc.sendToQueue_schema[0].dial_schema[$index + 2].dial_to" placeholder="Enter Phone Number" phone-input>
                                                </div>
                                            </div>
                                            <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                                <button ng-click="incrementQueueDialCount();" class="btn btn-primary plus-btn greenBack"> <span><i class="glyphicon glyphicon-plus"></i></span> </button>
                                            </div>
                                            <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                                <button ng-click="show[$index] = false;
                                                        removeItem(cc.sendToQueue_schema[0].dial_schema, $index + 2)" class="btn btn-primary plus-btn redBack"> <span><i class="glyphicon glyphicon-minus"></i></span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="cc.sendToQueue_schema[0].pressed_action == 'prompt'">
                                    <div class="col-sm-5 backgrndGrey">
                                        <select class="ivr_select" name="cc_prompts" ng-model="cc.sendToQueue_schema[0].prompt_schema[0].prompt_id">
                                            <option value="">Select Prompt</option>
                                            <option ng-repeat="prompt in prompts" ng-selected="prompt._id==cc.sendToQueue_schema[0].prompt_schema[0].prompt_id" value="{{prompt._id}}">{{prompt.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-if="cc.sendToQueue_schema[0].pressed_action == 'queue'">
                                    <div class="col-sm-5 backgrndGrey">
                                        <select class="ivr_select" name="cc_prompts" ng-model="cc.sendToQueue_schema[0].sendToQueue_schema[0].queue_id">
                                            <option value="">Select Queue</option>
                                            <option ng-repeat="queue in queues" ng-selected="queue._id==cc.sendToQueue_schema[0].sendToQueue_schema[0].queue_id" value="{{queue._id}}">{{queue.queue_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-if="cc.sendToQueue_schema[0].pressed_action == 'extension'">
                                    <div class="col-sm-5 backgrndGrey">
                                        <select class="ivr_select" name="cc_prompts" ng-model="cc.sendToQueue_schema[0].ring_schema[0].phone_agent_id">
                                            <option value="">Select Phone Agent</option>
                                            <option ng-repeat="pa in pas" ng-selected="pa._id==cc.sendToQueue_schema[0].ring_schema[0].phone_agent_id" value="{{pa._id}}">{{pa.first_name}} {{pa.last_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-if="cc.pressed_action == 'prompt'">
                                <div class="input-group form-group col-sm-12 backgrndGrey" >
                                    <div class="col-sm-1 paddingLR5p">
                                        <span style="" class="input-group-addon borderRight">Then</span>
                                    </div>
                                    <div class="col-sm-5 paddingLR5p marginTB7p borderRight">
                                        <select class="ivr_select" name="cc_promptOptions" ng-model="cc.prompt_schema[0].pressed_action" ng-change="resetInitialCount(cc.prompt_schema[0]);">
                                            <option value="">Select Prompt Option</option>
                                            <option ng-repeat="option in optionarr" ng-selected="option.value==cc.prompt_schema[0].pressed_action" value="{{option.value}}">{{option.display}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 paddingLR5p marginTB7p">
                                        <div ng-if="cc.prompt_schema[0].pressed_action == 'dial' || cc.prompt_schema[0].pressed_action == 'reps'">
                                            <input type="text" class="ivr_select backWhite marginDialTB" ng-model="cc.prompt_schema[0].dial_schema[0].dial_to" name="phonenumber" placeholder="Enter Phone Number">
                                        </div>
                                        <div ng-if="cc.prompt_schema[0].pressed_action == 'prompt'">
                                            <select class="ivr_select" name="cc_prompts" ng-model="cc.prompt_schema[0].prompt_schema[0].prompt_id">
                                                <option value="">Select Prompt</option>
                                                <option ng-repeat="prompt in prompts" ng-selected="prompt._id==cc.prompt_schema[0].prompt_schema[0].prompt_id" value="{{prompt._id}}">{{prompt.name}}</option>
                                            </select>
                                        </div>
                                        <div ng-if="cc.prompt_schema[0].pressed_action == 'queue'">
                                            <select class="ivr_select" name="cc_prompts" ng-model="cc.prompt_schema[0].sendToQueue_schema[0].queue_id">
                                                <option value="">Select Queue</option>
                                                <option ng-repeat="queue in queues" ng-selected="queue._id==cc.prompt_schema[0].sendToQueue_schema[0].queue_id" value="{{queue._id}}">{{queue.queue_name}}</option>
                                            </select>
                                        </div>
                                        <div ng-if="cc.prompt_schema[0].pressed_action == 'extension'">
                                            <select class="ivr_select" name="cc_prompts" ng-model="cc.prompt_schema[0].ring_schema[0].phone_agent_id">
                                                <option value="">Select Phone Agent</option>
                                                <option ng-repeat="pa in pas" ng-selected="pa._id==cc.prompt_schema[0].ring_schema[0].phone_agent_id" value="{{pa._id}}">{{pa.first_name}} {{pa.last_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="cc.prompt_schema[0].pressed_action == 'dial' || cc.prompt_schema[0].pressed_action == 'reps'">
                                    <div class="col-sm-10 backgrndGrey">
                                        <div class="col-sm-8">
                                            <input type="checkbox" name="cc_noanswers" ng-model="cc.prompt_schema[0].dial_schema[0].is_next_dial" class="regular-checkbox solid-blue" id='cc_noanswers'><label for="cc_noanswers"></label>

                                            <label for="cc_noanswers" class="greyColor">If no answer after </label> <input type="text" class="borderLeft borderRight ivr_select backWhite dialInputSec" ng-model="cc.prompt_schema[0].dial_schema[0].wait_time" ng-pattern="/^[0-9+-]*$/" name="cc_seconds" placeholder="Seconds"> <span class="greyColor">seconds, then ring </span>
                                        </div>
                                        <div class="col-sm-4"><input type="text" class="borderLeft ivr_select backWhite dialInput" name="cc_phoneno" ng-model="cc.prompt_schema[0].dial_schema[1].dial_to" placeholder="Enter Phone Number" style="display:inline;" phone-input>
                                        </div>
                                    </div>
                                    <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                        <button ng-click="incrementPromptDialCount();" class="btn btn-primary plus-btn greenBack"> <span><i class="glyphicon glyphicon-plus"></i></span> </button>
                                    </div>
                                    <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                        <button ng-disabled="true" class="btn btn-primary plus-btn redBack" style="cursor: not-allowed"> <span><i class="glyphicon glyphicon-minus"></i></span> </button>
                                    </div>

                                    <div ng-repeat="n in []| range:promptdialcount">
                                        <div ng-init="show[$index] = true;" ng-show="show[$index]">
                                            <div class="col-sm-10 backgrndGrey">
                                                <div class="col-sm-8" >
                                                    <input type="checkbox" name="cc_noanswers_{{$index}}" ng-model="cc.prompt_schema[0].dial_schema[$index + 1].is_next_dial" class="regular-checkbox solid-blue" id='cc_noanswers_{{$index}}'><label for="cc_noanswers_{{$index}}"></label>

                                                    <label for="cc_noanswers_{{$index}}" class="greyColor">If no answer after </label> 
                                                    <input type="text" class="ivr_select borderLeft borderRight backWhite dialInputSec" ng-pattern="/^[0-9+-]*$/" name="cc_seconds_{{$index}}" ng-model="cc.prompt_schema[0].dial_schema[$index + 1].wait_time" placeholder="Seconds" ><span class="greyColor"> seconds, then ring </span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" class="ivr_select backWhite dialInput" name="cc_phoneno_{{$index}}" ng-model="cc.prompt_schema[0].dial_schema[$index + 2].dial_to" placeholder="Enter Phone Number" phone-input>
                                                </div>
                                            </div>
                                            <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                                <button ng-click="incrementPromptDialCount();" class="btn btn-primary plus-btn greenBack"> <span><i class="glyphicon glyphicon-plus"></i></span> </button>
                                            </div>
                                            <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                                <button ng-click="show[$index] = false;
                                                        removeItem(cc.prompt_schema[0].dial_schema, $index + 2);" class="btn btn-primary plus-btn redBack"> <span><i class="glyphicon glyphicon-minus"></i></span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group" ng-if="cc.pressed_action == 'extension'">
                                <!--                                    <div class="col-sm-6 backgrndGrey">
                                                                        <select name="cc_pa" class="ivr_select" ng-model="cc.ext_pa">
                                                                            <option value="">Select Phone Agent</option>
                                                                            <option value="1">Phone Agent 1</option>
                                                                            <option value="2">Phone Agent 2</option>
                                                                        </select>
                                                                    </div>-->
                                <div class="col-sm-12">
                                    <input type="checkbox" name="cc_noanswerExt" ng-model="cc.ring_schema[0].is_next_action" class="regular-checkbox solid-blue" id='cc_noanswerExt'><label for="cc_noanswerExt"></label>
                                    <label for="cc_noanswerExt">If no answer after </label><input type="text" class="dialInputSec" name="cc_seconds" ng-model="cc.ext_seconds" placeholder="Seconds"> seconds.
                                    <div ng-show="cc.ring_schema[0].is_next_action">
                                        <div class="col-sm-10" >
                                            <input type="radio" value="true" name="cc_message" ng-model="cc.ring_schema[0].leave_message" class="regular-radio big-radio" id='cc_message_allow'><label for="cc_message_allow"></label>
                                            <label for="ivr_message">Allow the user to leave a message for the Phone Agent</label>
                                        </div>
                                        <div class="col-sm-10" >
                                            <input type="radio" value="false" name="cc_message" ng-model="cc.ring_schema[0].leave_message" class="regular-radio big-radio" id='cc_message_dropdown'><label for="cc_message_dropdown"></label>
                                            <label for="cc_message">Select From Dropdown</label>
                                        </div>
                                        <div class="col-sm-5 col-sm-offset-1 backgrndGrey" ng-show="cc.ring_schema[0].leave_message == 'false'">
                                            <select class="ivr_select" name="cc_promptOptions" ng-model="cc.ring_schema[0].pressed_action" ng-change="resetInitialCount(cc.ring_schema[0]);">
                                                <option value="">Select Prompt Option</option>
                                                <option ng-repeat="option in optionarr" ng-selected="option.value==cc.ring_schema[0].pressed_action" value="{{option.value}}">{{option.display}}</option>
                                            </select>
                                        </div>

                                        <div ng-if="cc.ring_schema[0].pressed_action == 'dial' || cc.ring_schema[0].pressed_action == 'reps'">
                                            <div class="col-sm-5 backgrndGrey" style="margin-left: 5px;">
                                                <input type="text" class="ivr_select backWhite" ng-model="cc.ring_schema[0].dial_schema[0].dial_to" name="phonenumber" placeholder="Enter Phone Number" phone-input>
                                            </div>
                                            <div class="col-sm-10 backgrndGrey">
                                                <div class="col-sm-8">
                                                    <input type="checkbox" name="cc_noanswervb" ng-model="cc.ring_schema[0].dial_schema[0].is_next_dial" class="regular-checkbox solid-blue" id='cc_noanswervb'><label for="cc_noanswervb"></label>

                                                    <label for="cc_noanswervb" class="greyColor">If no answer after </label> <input type="text" class="borderLeft borderRight ivr_select backWhite dialInputSec" ng-model="cc.ring_schema[0].dial_schema[0].wait_time" ng-pattern="/^[0-9+-]*$/" name="cc_seconds" placeholder="Seconds"> <span class="greyColor">seconds, then ring </span>
                                                </div>
                                                <div class="col-sm-4"><input type="text" class="borderLeft ivr_select backWhite dialInput" name="cc_phoneno" ng-model="cc.ring_schema[0].dial_schema[1].dial_to" placeholder="Enter Phone Number" style="display:inline;" phone-input>
                                                </div>
                                            </div>
                                            <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                                <button ng-click="incrementExtDialCount();" class="btn btn-primary plus-btn greenBack"> <span><i class="glyphicon glyphicon-plus"></i></span> </button>
                                            </div>
                                            <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                                <button ng-disabled="true" class="btn btn-primary plus-btn redBack" style="cursor: not-allowed"> <span><i class="glyphicon glyphicon-minus"></i></span> </button>
                                            </div>

                                            <div ng-repeat="n in []| range:extdialcount">
                                                <div ng-init="show[$index] = true;" ng-show="show[$index]">
                                                    <div class="col-sm-10 backgrndGrey">
                                                        <div class="col-sm-8" >
                                                            <input type="checkbox" name="cc_noanswervb_{{$index}}" ng-model="cc.ring_schema[0].dial_schema[$index + 1].is_next_dial" class="regular-checkbox solid-blue" id='cc_noanswervb_{{$index}}'><label for="cc_noanswervb_{{$index}}"></label>

                                                            <label for="cc_noanswervb_{{$index}}" class="greyColor">If no answer after </label> 
                                                            <input type="text" class="ivr_select borderLeft borderRight backWhite dialInputSec" ng-pattern="/^[0-9+-]*$/" name="cc_seconds_{{$index}}" ng-model="cc.ring_schema[0].dial_schema[$index + 1].wait_time" placeholder="Seconds" ><span class="greyColor"> seconds, then ring </span>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="ivr_select backWhite" name="cc_phoneno_{{$index}}" ng-model="cc.ring_schema[0].dial_schema[$index + 2].dial_to" placeholder="Enter Phone Number" phone-input>
                                                        </div>
                                                    </div>
                                                    <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                                        <button ng-click="incrementExtDialCount();" class="btn btn-primary plus-btn greenBack"> <span><i class="glyphicon glyphicon-plus"></i></span> </button>
                                                    </div>
                                                    <div class="pull-left col-sm-1 dial-plus dial-plus-pad10">
                                                        <button ng-click="show[$index] = false;
                                                                removeItem(cc.ring_schema[0].dial_schema, $index + 2)" class="btn btn-primary plus-btn redBack"> <span><i class="glyphicon glyphicon-minus"></i></span> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="cc.ring_schema[0].pressed_action == 'prompt'">
                                            <div class="col-sm-5 backgrndGrey" style="margin-left: 5px;">
                                                <select class="ivr_select" name="cc_prompts" ng-model="cc.ring_schema[0].prompt_schema[0].prompt_id">
                                                    <option value="">Select Prompt</option>
                                                    <option ng-repeat="prompt in prompts" ng-selected="prompt._id==cc.ring_schema[0].prompt_schema[0].prompt_id" value="{{prompt._id}}">{{prompt.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div ng-if="cc.ring_schema[0].pressed_action == 'queue'">
                                            <div class="col-sm-5 backgrndGrey" style="margin-left: 5px;">
                                                <select class="ivr_select" name="cc_prompts" ng-model="cc.ring_schema[0].sendToQueue_schema[0].queue_id">
                                                    <option value="">Select Queue</option>
                                                    <option ng-repeat="queue in queues" ng-selected="queue._id==cc.ring_schema[0].sendToQueue_schema[0].queue_id" value="{{queue._id}}">{{queue.queue_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div ng-if="cc.ring_schema[0].pressed_action == 'extension'">
                                            <div class="col-sm-5 backgrndGrey" style="margin-left: 5px;">
                                                <select class="ivr_select" name="cc_prompts" ng-model="cc.ring_schema[0].ring_schema[0].phone_agent_id">
                                                    <option value="">Select Phone Agent</option>
                                                    <option ng-repeat="pa in pas" ng-selected="pa._id==cc.ring_schema[0].ring_schema[0].phone_agent_id" value="{{pa._id}}">{{pa.first_name}} {{pa.last_name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mrgtp30 paddingLR5p">
                            <div class="input-group form-group col-md-6 pull-left mainIvr">
                                <span class="input-group-addon borderRight">Name</span>


                                <div class="paddingLR5p col-xs-12 margin7p ">
                                    <input type="text" ng-model="cc.cc_name" placeholder="Enter Name" name="ivr_name" class=" ivr_select backWhite ng-pristine ng-valid">
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="submit" value="Submit" ng-click="(cc.$invalid) ? cc_err = true : submitForm(cc)" class="btn btn-primary">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call Routing Concurrent Calls View Form -->
