<!-- start lsit the offer -->
<div  ng-init="list_all_offer()" class="animate-repeat col-sm-12" >
    <section class="content-header">
        <div class="box-header">
            <h3 class="box-title-new">Offer List</h3>
            <div class="box-tools">
                <div class="input-group input-group-sm pull-left">
                    <input type="text" name="table_search" ng-model="query" ng-change="tableParams.filter(query)" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body" col-show-hide>
                <div class="table-responsive">
                    <table ng-table ="tableParams"  class="table table-condensed ng-table-responsive" export-csv="csv">
                        <tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="offer in $data" ng-if="dataPresent">
                            <td data-title="'#'"  ><span ng-if="params.page() ? true : false">{{params.page() > 1 ? ($index + 1 + ((params.page() - 1) * params.count())) : $index + 1}}</span></td>
                            <td ng-show="showCol[0]" data-title="'Title'" sortable="'vertical_category_details.title'" >{{offer.vertical_category_details.title}} </td>
                            <td ng-show="showCol[1]" data-title="'Category'" sortable="'vertical_category_details.category_name'" >{{offer.vertical_category_details.category_name}} </td>
                            <td ng-show="showCol[2]" data-title="'Cost Per Call'" sortable="'pay_per_call.lgamount'" >{{offer.pay_per_call.lgamount}} </td>
                            <td ng-show="showCol[3]" data-title="'Gross/Unique'" sortable="'pay_per_call.lgamount'" >N/A</td>
                            <td ng-show="showCol[4]" data-title="'Duration'" sortable="'duration.billable_callsecs'" >{{offer.duration.billable_callsecs}}</td>
                            <td ng-show="showCol[5]" data-title="'IVR Present?'" sortable="'rounting_setting.setting_option'" >{{(offer.rounting_setting.setting_option == 'ring_IVR') ? 'Yes' : 'No' }}</td>
                            <td ng-show="showCol[6]" data-title="'Excluded States'" sortable="'state_restricted'" >
                                <span class="glyphicon glyphicon-eye-open actionBtn" data-html="true" data-title="{{offer.state_restricted| restrictedStateTooltip}}" data-placement="right" data-animation="am-flip-x" bs-tooltip></span>
                            </td>
                            <td ng-show="showCol[7]" data-title="'Hours Of Operation'"  >-</td>
                            <td data-title="'Action'"><!-- <span style="cursor:pointer;" ng-click="offerView(offer._id)" title="View" class="glyphicon glyphicon-eye-open"></span> -->
                                &nbsp;&nbsp;&nbsp;<a class="btn google-add-btn" href="#!/lg/LG-create-campaign-form/{{offer._id}}"><i class="fa fa-plus"></i> Campaign</a>
                            </td>
                            <td header="'headerSettingGear.html'" ></td>
                        </tr>
                        <tr ng-if="!dataPresent">
                            <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                        </tr>
                    </table>
                </div>
                <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                    csv.generate($event, "Alloffers" + currentDate + ".csv");'>CSV</a></div>
            </div>
        </div>
    </section>
</div>
<!-- End list the offer -->
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> Title</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> Category</a></li>
    <li><a ng-click="showCol[2] = !showCol[2]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Cost Per Call</a></li>
    <li><a ng-click="showCol[3] = !showCol[3]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[3]]"></i> Gross/Unique </a></li>
    <li><a ng-click="showCol[4] = !showCol[4]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[4]]"></i> Duration </a></li>
    <li><a ng-click="showCol[5] = !showCol[5]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[5]]"></i> IVR Present?</a></li>
    <li><a ng-click="showCol[6] = !showCol[6]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[6]]"></i> Excluded States</a></li>
    <li><a ng-click="showCol[7] = !showCol[7]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[7]]"></i> Hours Of Operation</a></li>
    </ul>
    </div>
</script>
