<!-- start the list phoneNumber -->
<div class="animate-repeat col-sm-12" ng-init="getPhoneNumberlist()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                Phone Number List

                <div class="tableHeadBtnDiv">
                    <!--<button class="btn btn-primary pull-right" ng-click='getAddPhoneForm();'>Add</button>-->
                    <input type="text" class="form-control width-30 pull-right" ng-model="query" ng-change="tableParams.filter(query)" placeholder="Search..." autofocus>
                    <!--directive for calender-->
                    <div class="col-sm-1 pull-right">
                        <div class="pull-right dmright">
                            <div cbl-directive ng-init="filter = 'Last 7 Days';"></div>
                        </div>
                    </div>
                    <!--directive ends-->
                </div>
            </h3>
        </div>
        <div class="panel-body pad0" col-show-hide>
            <table ng-table ="tableParams" class="table table-condensed" export-csv="csv">
                <tr ng-class="$even ? 'oddcolor' : 'evencolor'" ng-repeat="phones in $data" ng-if="dataPresent">
                    <td data-title="'#'" >{{$index + 1 + ((params.page() - 1) * params.count())}}</td>
                    <td ng-show="showCol[0]" data-title="'Vertical'" sortable="'phone_no'" >{{phones.phone_no}} </td>
                    <td ng-show="showCol[1]" data-title="'Provider Type'" sortable="'provider_type'" >{{phones.provider_type}} </td>
                    <td ng-show="showCol[2]" data-title="'Created'" sortable="'created'" >{{phones.created| date:'medium'}}</td>
                    <td data-title="'Action'">
                        <!--<span ng-click="goTOLink('/lg/view-phone-numbers/' + phones._id)" class="glyphicon glyphicon-eye-open actionBtn"></span>-->
                        <span class="glyphicon glyphicon-edit actionBtn" ng-click="goTOLink('/lg/edit-phone-numbers/' + phones._id)"></span>
                        <span class="glyphicon glyphicon-trash actionBtn" ng-click="deletePhoneNumber(phones._id)" ></span>
                    <td header="'headerSettingGear.html'" ></td>
                </tr>
                <tr ng-if="!dataPresent">
                    <td colspan="100" class="text-center noDataFoundTd">No Data Found</td>
                </tr>
            </table>
            <div class="row pull-right downloadCsvLink">Download as <a href="javascript:void(0)" ng-click='hideDropDown();
                csv.generate($event, "PhoneNumbers" + currentDate + ".csv");'>CSV</a></div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="headerSettingGear.html">
    <div class="dropdown">
    <button class="btn" type="button" data-ng-click="toggleDropDown();">
    <span class="glyphicon glyphicon-cog "></span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu gearbox" data-ng-if="isTHdropdown">
    <li><a ng-click="showCol[0] = !showCol[0]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[0]]"></i> Vertical</a></li>
    <li><a ng-click="showCol[1] = !showCol[1]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[1]]"></i> Provider Type</a></li>
    <li><a ng-click="showCol[2] = !showCol[2]"><i class="fa" ng-class="{'true':'fa-eye-slash', 'false':'fa-eye'}[showCol[2]]"></i> Created</a></li>
    </ul>
    </div>
</script>