
<!-- start View the phoneno -->
<div ng-init="viewPhoneNO()">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Phone Details</h3></div>
            <div class="panel-body">
                <div class="col-sm-8 col-sm-offset-2">
                    <table class="table">
                        <tr><td><b>Phone No:</b></td><td>  {{phoneNumber.phone_no}}</td></tr>
                        <tr><td><b>Type:</b></td><td> {{phoneNumber.provider_type}}</td></tr>
                        <tr><td><b>Zipcode:</b></td><td> {{phoneNumber.zipcode}}</td></tr>
                        <tr><td><b>Created:</b></td><td> {{phoneNumber.created| date:'medium'}}</td></tr>
                        <tr><td><b>Modified:</b> </td><td>{{phoneNumber.modified| date:'medium'}}</td></tr>
                    </table>
                    <button class="btn  btn-primary" type="button" ng-click="goTOLink('/'+currentRoleCode+'/phone-numbers');">Back</button>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- end View the user -->