<div class="modal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Web Lead Api Parameters</h4>                
            </div>

            <div class="modal-body">
                <textarea readonly id="leadApiParameters" ng-if="apiRequestParameters" class="form-control" rows="20">{{apiRequestParameters| json}}</textarea>
                <div ng-if="apiRequestParameters == ''"> No Input parameters available!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-flat pull-right" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>    