<!-- views/partials/footer.ejs -->
<any ng-controller="styleCtrl" ng-bind-html="xxx | sanitize"> </any>
<p class="text-center text-muted" ng-show="authenticated">© Copyright 2015 Call based lead generation</p>
<div ng-show="authenticated"  id="sidebar1" role="navigation">
    <div ng-if="authenticatedUser.role_id.code == 'ADMIN'">
        <div class="row">
            <!-- Commented By SHIv -->
             <div class="col-sm-2 col-md-3">
                <ul class="nav ">
                    <li><a href="/#!/admin/media-creation/list" title="List Of Media Requests">List Of Media Requests</a></li>
                    <!--<li><a href="/#!/admin/dashboard" title="SAAS Dashboard">SAAS Dashboard</a></li>-->
                    <!--<li><a href="/#!/admin/role" title="Role management">Role management</a></li>-->
                    <!--<li><a href="/#!/admin/vertical" title="Vertical Management">Vertical Management</a></li>-->
                    <!--<li><a href="/#!/admin/category" title="Category Management">Category Management</a></li>-->
                    <!--<li><a href="/#!/admin/offer" title="Offer Management">Offer Management</a></li>-->
                    <!--<li><a href="/#!/admin/list-offer-template" title="List Offer Template">List Offer Template</a></li>-->
                </ul>
            </div>
            <!--<div class="col-sm-2 col-md-3">
                <ul class="nav ">
                    <li><a href="/#!/admin/user/LGN" title="List Lead Generator Network">List Lead Generator Network [Done]</a></li>
                    <li><a href="/#!/admin/user/SUB-LGN" title="List SUB-Lead Generator Network">List SUB-Lead Generator Network</a></li>
                    <li><a href="/#!/admin/user/LB" title="List Lead Buyer">List Lead Buyer</a></li>
                    <li><a href="/#!/admin/user/LG" title="List Lead Generator">List Lead Generator</a></li>
                    <li><a href="/#!/admin/user/PA" title="List Phone Agent">List Phone Agent</a></li>

                </ul>
            </div>
            <div class="col-sm-2 col-md-3">
                <ul class="nav ">
                    <li><a href="/#!/admin/campaign" title="Campaign Management">Campaign Management</a></li>
                    <li><a href="/#!/admin/base-price" title="Base Price Management">Base Price Management</a></li>
                    <li><a href="/#!/admin/payment" title="Payment Management">Payment Management</a></li>
                    <li><a href="/#!/admin/faq" title="FAQ Management">FAQ Management</a></li>
                    <li><a href="/#!/my-inbox" title="My Inbox">My Inbox</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-3">
                <ul class="nav ">
                    <li><a href="/#!/admin/report" title="Reports">Reports</a></li>
                    <li><a href="/#!/admin/add_phone" title="Add Phone">Add Phone</a></li>
                    <li><a href="/#!/admin/user/ADMIN" title="List Admin Members">List Admin Members</a></li>
                    <li><a href="/#!/admin/invoice" title="Invoice">Invoice</a></li>
                    <li><a href="/#!/admin/plugin" title="Get HTML">Get HTML</a></li>
                    <li><a href="/#!/admin/themeSettings" title="Get HTML">Theme Settings</a></li>
                </ul>
            </div> -->
        </div>
    </div>
    <div ng-if="authenticatedUser.role_id.code == 'LGN'">

        <!--    ============links pending deletion=========== -->

        <!--         <div class="row">
                    <div class="col-sm-2 col-md-3">
                        <ul class="nav ">
                            <li><a  href="/#!/lgn/dashboard">Lead Gen Network Dashboard</a></li>
                            <li><a href="/#!/lgn/user/LB">View Buyers</a></li>
                            <li><a href="/#!/lgn/user/LG">View Lead Seller/Generator</a></li>
                            <li><a href="/#!/lgn/basePrice">View/set Base Price</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-md-3">
                        <ul class="nav">
                            <li><a href="/#!/">Current A/R from Buyers</a></li>
                            <li><a href="/#!/">Payment History from Buyer</a></li>
                            <li><a href="/#!/">Payment History to SAAS</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-md-3">
                        <ul class="nav">
                            <li><a href="/#!/">Payment Settings</a></li>
                            <li><a href="/#!/">Get HTML-Registration</a></li>
                            <li><a href="/#!/lgn/vertical">Add Vertical</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-md-3">
                        <ul class="nav">
                            <li><a href="/#!/">Reports</a></li>
                            <li><a href="/#!/lgn/phone-numbers">Phone Numbers</a></li>
        <!-- <li><a href="/#!/lgn/addfund">Add Fund(#5)</a></li>             -->

        <!--    ============links pending deletion=========== -->
        <!--        </ul>
            </div>
        </div> -->
    </div>
    <div ng-if="authenticatedUser.role_id.code == 'LB'">
         <div class="row">
            <div class="col-sm-2 col-md-3">
                <ul class="nav ">
                    <li><a href="/#!/lb/send-invite/LG">Send Invite to LG</a></li>
                    <!--<li><a href="/#!/lb/dashboard">Lead Buyer Dashboard</a></li>-->
                    <!--<li><a href="/#!/lb/offer">Manage Offer</a></li>-->
                    <!--<li><a href="/#!/">Current Campaigns</a></li>-->
                </ul>
            </div>
         </div>
        <!--    <div class="col-sm-2 col-md-3">
                <ul class="nav">
                    <li><a href="/#!/">View & Approve Payable Calls</a></li>
                    <li><a href="/#!/">Payment History</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-3">
                <ul class="nav">
                    <li><a href="/#!/">Payment Settings</a></li>
                    <li><a href="/#!/">Get HTML-Registration</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-3">
                <ul class="nav">
                    <li><a href="/#!/">Reports</a></li>
                    <li><a href="/#!/lb/addfunds">Add Fund(Done)</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-3">
                <ul class="nav">
                    <li><a href="#!/lb/LB-create-campaign-form">Create A Campaign</a></li>
                    <li><a href="/#!/lb/phone-numbers">Phone Numbers</a></li>
                </ul>
            </div>
        </div> -->
    </div>
    <div ng-if="authenticatedUser.role_id.code == 'LG'">
         <div class="row">
            <div class="col-sm-2 col-md-3">
                <ul class="nav ">
                    <li><a href="/#!/lg/send-invite/LB">Send Invite to LB</a></li>
                    <!--<li><a href="/#!/lg/dashboard">Lead Seller Dashboard</a></li>-->
                    <!--<li><a href="/#!/lg/offer">View all Offer</a></li>-->
                </ul>
            </div>
         </div>
        <!--    <div class="col-sm-2 col-md-3">
                <ul class="nav">
                    <li><a href="/#!/">Call</a></li>
                    <li><a href="/#!/">Payment History</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-3">
                <ul class="nav">
                    <li><a href="/#!/">Payment Settings</a></li>
                    <li><a href="/#!/">Payment Options</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-3">
                <ul class="nav">
                    <li><a href="/#!/">Reports</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-3">
                <ul class="nav">
                    <li><a href="#!/lg/LG-create-campaign-form">Create A Campaign</a></li>
                    <li><a href="/#!/lg/phone-numbers">Phone Numbers</a></li>
                </ul>
            </div>
        </div> -->
    </div>
    <div ng-if="authenticatedUser.role_id.code == 'PA'">
        <div class="row">
            <!--        <div class="col-sm-2 col-md-3">
                        <ul class="nav ">
                            <li><a href="/#!/pa/web-phone-info">Web Phone Populate</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-md-3">
                        <ul class="nav">
                            <li><a href="/#!/pa/camapign-details">Campaign Details As per number</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-md-3">
                        <ul class="nav">
                            <li><a href="/#!/">Payment Settings</a></li>
                                <li><a href="/#!/">Payment Options</a></li>
                        </ul>
                    </div>-->
            <div class="col-sm-2 col-md-3">
                <ul class="nav">
                    <li><a href="/#!/pa/twilio-web-phone">Twilio Demo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-2 col-md-3">
                <ul class="nav">
                    <li><a href="/#!/reference-table" title="Reference Table">Reference Table</a></li>
                    <li ng-if="authenticatedUser.role_id.code == 'ADVCC'">
                        <a href="/#!/advcc/list-agent-script" title="Agent Script">Agent Script</a>
                    </li>
                    <li ng-if="authenticatedUser.role_id.code == 'ADVCC'">
                        <a href="/#!/advcc/contacts" title="Agent Script">Contacts Management</a>
                    </li>
                    <li ng-if="authenticatedUser.role_id.code == 'ADVCC'">
                        <a href="/#!/advcc/importContact-IntoCrm" title="Import Contacts into CRM">Import Contacts into CRM</a>
                    </li>
                    <li ng-if="authenticatedUser.role_id.code == 'ADVCC'">
                        <a href="/#!/advcc/contacts/message-history" title="Message History">Message History</a>
                    </li>
<!--                    <li ng-if="authenticatedUser.role_id.code == 'ADVCC'">
                        <a href="/#!/advcc/cronList" title="Cron List">Cron List</a>
                    </li>
                    <li ng-if="authenticatedUser.role_id.code == 'ADVCC'">
                        <a href="/#!/advcc/templateList" title="Email Template">Email Template</a>
                    </li>-->
<!--                    <li ng-if="authenticatedUser.role_id.code == 'ADVCC'"><a href="/#!/advcc/upload-documents" title="Upload Documents">ADVCC Upload Documents</a></li>
                    <li ng-if="authenticatedUser.role_id.code == 'PA'"><a href="/#!/pa/upload-documents" title="Upload Documents">PA Upload Documents</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
