<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<!--<base href="/">-->
<title>PSX Pay Per Call Tracking, Analytics, and Routing</title>

<!-- CSS -->
<link rel="stylesheet" href="/assets/css/toastr.min.css"/>
<link rel="stylesheet" href="/assets/css/bootstrap.css"/>
<link rel="stylesheet" href="/assets/fonts/stylesheet.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/ngProgress.css">
<link rel='stylesheet' href='/assets/css/textAngular.css'>
<link rel="stylesheet" type="text/css" href="/assets/css/angular-toggle-switch.css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/ng-table.min.css">
<link rel="stylesheet" href="/assets/css/datepicker.css">
<link rel="stylesheet" href="/assets/css/angucomplete.css">
<link rel="stylesheet" href="/assets/css/angularPrint.css">
<link rel="stylesheet" href="/assets/css/sweetalert.css">

<!-- Color Picker -->
<link rel="stylesheet" href="/assets/css/colorpicker.min.css">

<!-- Multiple Select Picker -->
<link rel="stylesheet" href="/assets/css/isteven-multi-select.css">

<!--Form Builder Files-->
<link rel="stylesheet" href="/assets/css/angular-form-builder.css">

<!-- Angular Chart Css-->
<link rel="stylesheet" href="/assets/css/angular-chart.min.css">

<!--Always put these css at last-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="/assets/css/AdminLTE.css">
<link rel="stylesheet" href="/assets/css/skins/_all-skins.css">

<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
<link rel="stylesheet" type="text/css" href="/assets/css/newSDNStyle.css">

<!--[if IE]-->
<script src="/assets/js/jquery.min.js"></script>
<!--[endif]->


<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<!--Text editor-->
<!--<script src="//cdn.ckeditor.com/4.5.6/full/ckeditor.js"></script>
<script src='http://textangular.com/dist/textAngular-rangy.min.js'></script>
<script src="/assets/js/textAngularSetup.js"></script>
<script src='http://textangular.com/dist/textAngular-sanitize.min.js'></script>-->

<!-- SPELLS -->
<script src="/assets/js/angular.min.js"></script>
<script src="/assets/js/angular-route.js"></script>
<script src="/assets/js/angular-resource.js"></script>
<script src="/assets/js/angular-file-upload.js"></script>
<script src="/assets/js/angular-animate.min.js"></script>
<script src="/assets/js/angular-cookies.js"></script>

<!-- Files Required for Datepicker Calendar -->
<script src="/assets/js/angular-strap.js"></script>
<script src="/assets/js/angular-strap.tpl.min.js"></script>
<script src="/assets/js/angucomplete-alt.min.js"></script>
<script src="/assets/js/angularPrint.js"></script>

<!-- Color Picker -->
<script src="/assets/js/bootstrap-colorpicker-module.min.js"></script>

<!-- Multiple Select Picker -->
<script src="/assets/js/isteven-multi-select.js"></script>
<script src="/assets/js/app.js"></script>

<!--Form Builder Files-->
<script src="/assets/js/angular-form-builder.js"></script>
<script src="/assets/js/angular-form-builder-components.js"></script>
<script src="/assets/js/angular-validator.min.js"></script>
<script src="/assets/js/angular-validator-rules.min.js"></script>




<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script> -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&v=3"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/angular.audio.js"></script>
<script src="/assets/js/ngprogress.js"></script>
<!-- Editor styles & Animate -->
<script src='/assets/js/textAngular-rangy.min.js'></script>
<script src='/assets/js/textAngular-sanitize.min.js'></script>
<script src='/assets/js/textAngular.min.js'></script>
<script src='/assets/js/toastr.min.js'></script>
<!-- Image upload with drag n drop-->
<script src='/assets/js/ng-file-upload-shim.min.js'></script>
<script src='/assets/js/ng-file-upload.min.js'></script>
<script src='/assets/js/angular-toggle-switch.min.js'></script>
<script src='/assets/js/ng-table.min.js'></script>  <!-- pagination js -->
<script src='/assets/js/angular-drag-and-drop-lists.js'></script>  <!-- Drag - Drop js -->
<script src='/assets/js/ng-table-export.js'></script>  <!-- ng-table-to-csv.min js -->

<!-- Angular Chart JS -->
<script src="/assets/js/Chart.js"></script>
<script src="/assets/js/angular-chart.min.js"></script> <!-- 08Oct2015 Added minified file -->

<script src="/assets/js/moment.js"></script>
<script src="/assets/js/moment-timezone-with-data.min.js"></script>

<script src="/assets/js/angular-busy.min.js"></script>
<!-- For Credit Card Validations -->
<script src="/assets/creditcardvalidator/jquery.creditCardValidator.js"></script>
<script src="/assets/js/underscore.js"></script>
<script src="/assets/js/sweetalert.min.js"></script>
<!--<script src="/assets/js/clipboard.min.js"></script>
<script src="/assets/js/ngclipboard.min.js"></script>-->

<!-- Angular Tour -->
<link rel="stylesheet" href="/assets/css/angular-tour.css">
<script src="/assets/js/angular-tour-tpls.min.js"></script>
<!--<script src="/controllers/tour.js"></script>-->


<!-- Calendar JS -->
<link rel="stylesheet" href="/assets/css/fullcalendar.min.css"/>
<script src="/assets/js/fullcalendar.min.js"></script>
<script src="/assets/js/calendar.js"></script>

<!--Loader Animation-->
 <link rel='stylesheet' href='/assets/css/loading-bar.min.css' type='text/css' media='all' />
 <script type='text/javascript' src='/assets/js/loading-bar.min.js'></script>

<script src="/assets/js/angular-dragdrop.min.js"></script>

<!--<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>-->
<script src="/assets/js/aes.js"></script>
<!--<script src="/assets/js/tripledes.js"></script>-->

<!-- ANGULAR CUSTOM -->
<script src="/controllers/HomesCtrl.js"></script>
<script src="/controllers/MenuCtrl.js"></script>
<script src="/controllers/AuthenticationsCtrl.js"></script>
<script src="/controllers/UsersCtrl.js"></script>
<script src="/controllers/VerticalCtrl.js"></script>
<script src="/controllers/RolesCtrl.js"></script>
<script src="/controllers/FaqCtrl.js"></script>
<script src="/controllers/CategoriesCtrl.js"></script>
<script src="/controllers/BasePricesCtrl.js"></script>
<script src="/controllers/OffersCtrl.js"></script>
<script src="/controllers/CampaignsCtrl.js"></script>
<script src="/controllers/TabsCtrl.js"></script>
<script src="/controllers/InvoiceCtrl.js"></script>
<script src="/controllers/AdminCtrl.js"></script>
<script src="/controllers/LgUserCtrl.js"></script>
<script src="/controllers/OfferTemplateCtrl.js"></script>
<script src="/controllers/LGCallRoutingCtrl.js"></script>
<script src="/controllers/IVRCtrl.js"></script>
<script src="/controllers/ADVCCCtrl.js"></script>
<script src="/controllers/LbOfferCtrl.js"></script>
<script src="/controllers/LsOfferCtrl.js"></script>
<script src="/controllers/AccountingCtrl.js"></script>
<script src="/controllers/ReportsCtrl.js"></script>
<script src="/controllers/LeadManageCtrl.js"></script>
<script src="/controllers/CalendarCtrl.js"></script>
<script src="/controllers/ContactCtrl.js"></script>
<script src="/controllers/TemplateCtrl.js"></script>

<!-- Phone Agent -->
<script src="/controllers/PhoneAgentsCtrl.js"></script>
<script src="/assets/webPhoneFiles/plivo.min.js"></script>
<script src="/assets/webPhoneFiles/webPhone.js"></script>

<!-- Twilio -->
<script src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
<!-- Twilio (END) -->

<script src="/services/ModuleService.js"></script>
<script src="/services/ContentService.js"></script>
<script src="/services/UserService.js"></script>
<script src="/services/LgUserService.js"></script>
<script src="/services/RoleService.js"></script>
<script src="/services/FaqService.js"></script>
<script src="/services/VerticalService.js"></script>
<script src="/services/CategoryService.js"></script>
<script src="/services/BasePriceService.js"></script>
<script src="/services/OfferService.js"></script>
<script src="/services/CampaignService.js"></script>
<script src="/services/InternalCommunicationService.js"></script>
<script src="/services/LoggerService.js"></script>
<script src="/services/LoaderService.js"></script>
<script src="/services/OfferTemplateService.js"></script>
<script src="/services/ADVCCService.js"></script>
<script src="/services/LsOfferService.js"></script>
<script src="/services/ReportService.js"></script>
<script src="/services/LeadManageService.js"></script>
<script src="/services/PromptService.js"></script>
<script src="/services/IvrService.js"></script>
<script src="/services/AccountService.js"></script>
<script src="/services/CalendarService.js"></script>
<script src="/services/ContactService.js"></script>
<script src="/services/TemplateService.js"></script>
<script src="/services/WebAffiliateService.js"></script>
<script src="/appRoutes.js"></script>
<script src="/app.js"></script>
