<meta charset="UTF-8">
<base href="/">
<title>Call based lead generation - Home</title>
<!-- CSS -->
<link rel="stylesheet" href="assets/css/toastr.min.css"/>
<link rel="stylesheet" href="assets/css/bootstrap.css"/>
<link rel="stylesheet" href="assets/fonts/stylesheet.css"/>
<link rel="stylesheet" type="text/css" href="ngprogress/ngProgress.css">
<link rel='stylesheet' href='assets/css/textAngular.css'>
<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
<link rel="stylesheet" type="text/css" href="assets/css/newSDNStyle.css">
<link rel="stylesheet" type="text/css" href="assets/css/angular-toggle-switch.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/ng-table.min.css">
<link rel="stylesheet" href="assets/css/datepicker.css">
<link rel="stylesheet" href="assets/css/angucomplete.css">
<link rel="stylesheet" href="assets/css/angularPrint.css">
<!-- Angular Chart Css-->
<link rel="stylesheet" href="assets/css/angular-chart.min.css">


<script src="assets/js/basket.min.js"></script>

<script>
    basket.require(
        //SPELLS
        {url: 'assets/js/angular.min.js'},
        {url: 'assets/js/angular-route.js'},
        {url: 'assets/js/angular-resource.js'},
        {url: 'assets/js/angular-file-upload.js'},
        {url: 'assets/js/angular-animate.min.js'},
        {url: 'assets/js/angular-strap.js'},
        {url: 'assets/js/angular-strap.tpl.min.js'},
        {url: 'assets/js/datepicker.min.js'},
        {url: 'assets/js/datepicker.tpl.min.js'},
        {url: 'assets/js/angucomplete-alt.min.js'},
        {url: 'assets/js/angularPrint.js'},
        {url: 'assets/js/jquery.min.js'},
        {url: 'assets/js/bootstrap.min.js'},
        {url: 'assets/js/angular.audio.js'},
        {url: 'ngprogress/build/ngprogress.js'}, //DoubtFull
        {url: 'assets/js/textAngular-rangy.min.js'},
        {url: 'assets/js/textAngular-sanitize.min.js'},
        {url: 'assets/js/textAngular.min.js'},
        {url: 'assets/js/toastr.min.js'},

        //Image upload with drag n drop
        {url: 'assets/js/ng-file-upload-shim.min.js'},
        {url: 'assets/js/ng-file-upload.min.js'},
        {url: 'assets/js/angular-toggle-switch.min.js'},
        {url: 'assets/js/ng-table.min.js'},
        {url: 'assets/js/angular-drag-and-drop-lists.js'},
        {url: 'assets/js/ng-table-export.js'},

        //Angular Chart JS
        {url: 'assets/js/Chart.js'},
        {url: 'assets/js/angular-chart.js'},

        //For Credit Card Validations
        {url: 'assets/creditcardvalidator/jquery.creditCardValidator.js'},
        {url: 'assets/js/underscore.js'},

        //ANGULAR CUSTOM
        {url: 'controllers/HomesCtrl.js', skipCache: true},
        {url: 'controllers/MenuCtrl.js', skipCache: true},
        {url: 'controllers/AuthenticationsCtrl.js', skipCache: true},
        {url: 'controllers/UsersCtrl.js', skipCache: true},
        {url: 'controllers/VerticalCtrl.js', skipCache: true},
        {url: 'controllers/RolesCtrl.js', skipCache: true},
        {url: 'controllers/FaqCtrl.js', skipCache: true},
        {url: 'controllers/CategoriesCtrl.js', skipCache: true},
        {url: 'controllers/BasePricesCtrl.js', skipCache: true},
        {url: 'controllers/OffersCtrl.js', skipCache: true},
        {url: 'controllers/CampaignsCtrl.js', skipCache: true},
        {url: 'controllers/TabsCtrl.js', skipCache: true},
        {url: 'controllers/InvoiceCtrl.js', skipCache: true},
        {url: 'controllers/AdminCtrl.js', skipCache: true},
        {url: 'controllers/LgUserCtrl.js', skipCache: true},
        {url: 'controllers/LsUserCtrl.js', skipCache: true},
        {url: 'controllers/OfferTemplateCtrl.js', skipCache: true},
        {url: 'controllers/LGCallRoutingCtrl.js', skipCache: true},
        {url: 'controllers/ADVCCCtrl.js', skipCache: true},
        {url: 'controllers/LbOfferCtrl.js', skipCache: true},
        {url: 'controllers/LsOfferCtrl.js', skipCache: true},
        {url: 'controllers/AccountingCtrl.js', skipCache: true},
        {url: 'controllers/ReportsCtrl.js', skipCache: true},
        {url: 'controllers/LeadManageCtrl.js', skipCache: true},

        //Phone Agent
        {url: 'controllers/PhoneAgentsCtrl.js', skipCache: true},
        {url: 'assets/plivo/plivo.min.js'},
        {url: 'assets/plivo/webPhone.js', skipCache: true},

        //Angular Services
        {url: 'services/ModuleService.js', skipCache: true},
        {url: 'services/ContentService.js', skipCache: true},
        {url: 'services/UserService.js', skipCache: true},
        {url: 'services/LgUserService.js', skipCache: true},
        {url: 'services/RoleService.js', skipCache: true},
        {url: 'services/FaqService.js', skipCache: true},
        {url: 'services/VerticalService.js', skipCache: true},
        {url: 'services/CategoryService.js', skipCache: true},
        {url: 'services/BasePriceService.js', skipCache: true},
        {url: 'services/OfferService.js', skipCache: true},
        {url: 'services/CampaignService.js', skipCache: true},
        {url: 'services/InternalCommunicationService.js', skipCache: true},
        {url: 'services/LoggerService.js', skipCache: true},
        {url: 'services/OfferTemplateService.js', skipCache: true},
        {url: 'services/LbOfferService.js', skipCache: true},
        {url: 'services/ADVCCService.js', skipCache: true},
        {url: 'services/LsOfferService.js', skipCache: true},
        {url: 'services/ReportService.js', skipCache: true},
        {url: 'services/LeadManageService.js', skipCache: true},


        {url: 'appRoutes.js', skipCache: true},
        {url: 'app.js', skipCache: true}
    );
</script>